<p-table
  #dt
  styleClass="p-datatable-gridlines p-datatable-striped"
  selectionMode="single"
  [loading]="bMostrarLoading"
  [value]="oTransacciones"
  [scrollable]="false"
  [tableStyle]="{ 'min-width': '50rem' }"
  [rowHover]="true"
  [paginator]="oTransacciones.length > 10"
  [rows]="10"
  [rowsPerPageOptions]="[10, 25, 50]"
  currentPageReportTemplate="Mostrando {first} filas de {totalRecords}"
  [showCurrentPageReport]="true"
  [globalFilterFields]="['codigo', 'descripcion', 'nombre', 'pci']"
>
  <ng-template pTemplate="header">
    <tr>
      <th pSortableColumn="codigo">
        Código<p-sortIcon field="codigo"></p-sortIcon>
      </th>
      <th pSortableColumn="nombre">
        Nombre
        <p-sortIcon field="nombre"></p-sortIcon>
      </th>
      <th pSortableColumn="tipoTransaccion">
        Tipo de transacción <p-sortIcon field="tipoTransaccion"></p-sortIcon>
      </th>
      <th pSortableColumn="funcionNegocio">
        Función de negocio <p-sortIcon field="funcionNegocio"></p-sortIcon>
      </th>
      <th pSortableColumn="categoria">
        Categoria de la transacción<p-sortIcon field="categoria"></p-sortIcon>
      </th>
      <th pSortableColumn="activo">
        Estado de la transaccion
        <p-sortIcon field="activo"></p-sortIcon>
      </th>
    </tr>
    <tr>
      <th class="filtrosTableMHCP">
        <p-columnFilter
          type="text"
          field="codigo"
          [showMenu]="false"
          [showMatchModes]="false"
          [showOperator]="false"
          [showAddButton]="false"
          [showClearButton]="false"
        >
          <ng-template pTemplate="filter" let-value let-filter="filterCallback">
            <input
              p-inputtext
              type="text"
              #codigo
              class="p-inputtext p-component p-element ng-star-inserted"
              (keyup)="filter(codigo.value)"
            />
          </ng-template>
        </p-columnFilter>
      </th>
      <th class="filtrosTableMHCP">
        <p-columnFilter
          type="text"
          field="nombre"
          matchMode="startsWith"
          [showMenu]="false"
          [showMatchModes]="false"
          [showOperator]="false"
          [showAddButton]="false"
          [showClearButton]="false"
        >
          <ng-template pTemplate="filter" let-value let-filter="filterCallback">
            <input
              p-inputtext
              type="text"
              #nombre
              class="p-inputtext p-component p-element ng-star-inserted"
              (keyup)="filter(nombre.value)"
            />
          </ng-template>
        </p-columnFilter>
      </th>
      <th class="filtrosTableMHCP">
        <p-columnFilter
          field="tipoTransaccion"
          matchMode="equals"
          [showMenu]="false"
          [showMatchModes]="false"
          [showOperator]="false"
          [showAddButton]="false"
          [showClearButton]="false"
        >
          <ng-template pTemplate="filter" let-value let-filter="filterCallback">
            <p-dropdown
              [ngModel]="value"
              [options]="aTipoTransaccion"
              (onChange)="filter($event.value)"
              placeholder="Seleccione..."
              [showClear]="true"
              optionValue="sigla"
              optionLabel="descripcion"
            >
            </p-dropdown>
          </ng-template>
        </p-columnFilter>
      </th>
      <th class="filtrosTableMHCP">
        <p-columnFilter
          class="filtrosTableMHCP"
          field="funcionNegocio"
          matchMode="equals"
          [showMenu]="false"
          [showMatchModes]="false"
          [showOperator]="false"
          [showAddButton]="false"
          [showClearButton]="false"
        >
          <ng-template pTemplate="filter" let-value let-filter="filterCallback">
            <p-dropdown
              [ngModel]="value"
              [options]="aFuncionNegocio"
              (onChange)="filter($event.value)"
              placeholder="Seleccione..."
              [showClear]="true"
              optionValue="sigla"
              optionLabel="descripcion"
            >
            </p-dropdown>
          </ng-template>
        </p-columnFilter>
      </th>

      <th class="filtrosTableMHCP">
        <p-columnFilter
          type="text"
          field="categoria"
          [showMenu]="false"
          [showMatchModes]="false"
          [showOperator]="false"
          [showAddButton]="false"
          [showClearButton]="true"
        >
          <ng-template pTemplate="filter" let-value let-filter="filterCallback">
            <p-dropdown
              [ngModel]="value"
              [options]="aCategoria"
              (onChange)="filter($event.value)"
              placeholder="Seleccione..."
              [showClear]="true"
              optionValue="sigla"
              optionLabel="descripcion"
            >
            </p-dropdown>
          </ng-template>
        </p-columnFilter>
      </th>
      <th class="filtrosTableMHCP">
        <p-columnFilter
          field="activo"
          matchMode="equals"
          [showMenu]="false"
          [showMatchModes]="false"
          [showOperator]="false"
          [showAddButton]="false"
          [showClearButton]="false"
        >
          <ng-template pTemplate="filter" let-value let-filter="filterCallback">
            <p-dropdown
              [ngModel]="value"
              [options]="aEstados"
              (onChange)="filter($event.value)"
              placeholder="Seleccione..."
              [showClear]="true"
              optionValue="valor"
              optionLabel="estado"
            >
            </p-dropdown>
          </ng-template>
        </p-columnFilter>
      </th>
    </tr>
  </ng-template>

  <ng-template pTemplate="body" let-transaccionSistema let-ri="rowIndex">
    <tr
      (mouseenter)="fnMostrarOcultarBotones($event, ri, true, 'tb-trtrancc')"
      (mouseleave)="fnMostrarOcultarBotones($event, ri, false, 'tb-trtrancc')"
      [pSelectableRow]="transaccionSistema"
    >
      <td>{{ transaccionSistema.codigo }}</td>
      <td>{{ transaccionSistema.nombre }}</td>
      <td>
        {{
          obtenerDescripcionCampo(
            transaccionSistema.tipoTransaccion,
            "TIPOTRANSACCION"
          )
        }}
      </td>
      <td>
        {{
          obtenerDescripcionCampo(
            transaccionSistema.funcionNegocio,
            "FUNCIONNEGOCIO"
          )
        }}
      </td>
      <td>
        {{ obtenerDescripcionCampo(transaccionSistema.categoria, "CATEGORIA") }}
      </td>
      <td>{{ transaccionSistema.activo | estadoPipe }}</td>

      <div id="button-{{ ri }}-tb-trtrancc" class="no-mostrar">
        <button
          pButton
          type="button"
          icon="pi pi-pencil"
          pTooltip="Editar"
          class="botonTableMHCP p-button-success colorVerdeMHCP"
          (click)="editarFila(transaccionSistema, ri)"
        ></button>
      </div>
    </tr>
  </ng-template>
  <ng-template pTemplate="emptymessage">
    <tr>
      <td colspan="8" class="text-center">No se han encontrado registrados.</td>
    </tr>
  </ng-template>
</p-table>
