<form class="col-12 p-0" autocomplete="off" [formGroup]="frmGenerarReporte">
  <div class="formgrid grid">
    <div class="field col-12 md:col-6">
      <label htmlfor="TipoFuncionalidad" class="frm-titulo"
        >Relaciones entre listas</label
      >

      <div class="col-12 p-0">
        <p-multiSelect
          id="ms-reporte"
          display="chip"
          formControlName="CodigosRelacionesCrud"
          optionLabel="sOpcionConcatenada"
          defaultLabel="Seleccionar relación entre listas"
          emptyMessage="No se encontraron coincidencias"
          [options]="aListasRelacion"
          [style]="{ width: '600px' }"
          [panelStyle]="{ width: '600px' }"
          [showClear]="true"
        >
        </p-multiSelect>
      </div>
    </div>

    <div class="col-12 flex paginaMHCP-footer">
      <div class="col-3 flex justify-content-start">
        <button
          pButton
          pRipple
          label="{{ 'limpiar filtros' | uppercase }}"
          icon="pi pi-eraser"
          class="p-button-outlined colorVerdeMHCP"
          (click)="fnLimpiarFormulario()"
        ></button>
      </div>

      <div class="col-9 flex justify-content-end gap-2">
        <button
          pButton
          pRipple
          type="button"
          icon="pi pi-times"
          label="Cancelar"
          class="colorRojoMHCP"
          (click)="fnCancelarProceso()"
        ></button>
        <button
          pButton
          pRipple
          type="button"
          icon="pi pi-save"
          label="Ver reporte"
          class="p-button-success colorVerdeMHCP"
          [disabled]="fnObtenerEstadoForm"
          (click)="fnGenerarReporte()"
        ></button>
      </div>
    </div>
  </div>
</form>
