<div
  class="flex align-items-center justify-content-center mt-5"
  style="height: 50vh"
>
  <div class="mr-5">
    <img src="assets/layout/images/pagina-no-encontrada.png" />
  </div>
  <div class="flex flex-column contenido-404">
    <div class="contenido-404__titulo">Página no encontrada</div>
    <div class="contenido-404__mensaje mt-2">
      La página que está buscando no se pudo encontrar.
    </div>
    <div class="contenido-404__botones mt-4">
      <button
        pButton
        pRipple
        icon="pi pi-step-backward"
        label="Volver"
        class="p-button-success colorVerdeMHCP"
        type="submit"
        (click)="fnRegresar()"
      ></button>
    </div>
  </div>
</div>
