<!-- Toast -->
<p-toast></p-toast>

<!-- Dialogo de Confirmación -->
<p-confirmDialog
  [style]="{ width: '50vw' }"
  [baseZIndex]="10000"
  [header]="'Cancelar operación'"
></p-confirmDialog>

<div class="grid">
  <div class="col-12 md:col-12 lg:col-12">
    <div class="w-full surface-card border-round espacio-cardMHCP">
      <div class="paginaMHCP">
        <div class="flex col-12 md:col-12 lg:col-12 paginaMHCP-header">
          <div class="col-8 md:col-8 lg:col-8 p-0 paginaMHCP-header-titulo">
            <app-lbl-titulo
              titulo="Crear calendarios por país"
              descripcion="Creación de calendarios por país en el que se pueda determinar los días no hábiles de las entidades financieras y por defecto los días hábiles de dichas entidades, “días No laborales” e identificación de días especiales: Primer día hábil del año para las entidades financieras y Penúltimo día del año."
            ></app-lbl-titulo>
          </div>
        </div>

        <div class="paginaMHCP-contenedor">
          <div class="col-12 md:col-12 lg:col-12 espacio-pb30MHCP">
            <app-lbl-subtitulo
              subtitulo="Filtro de búsqueda"
              [bEsSubtituloPrincipal]="false"
            ></app-lbl-subtitulo>
            <form
              class="col-12 p-0"
              [formGroup]="formCalendario"
              autocomplete="off"
            >
              <div class="formgrid grid">
                <div class="field col-12 md:col-3">
                  <label class="frm-titulo"
                    >Pais <span class="required">*</span></label
                  >
                  <p-dropdown
                    [options]="oListaPais"
                    optionLabel="nombre"
                    optionValue="id"
                    [filter]="true"
                    filterBy="descripcion"
                    [showClear]="false"
                    placeholder="Seleccione"
                    formControlName="idPais"
                    (onChange)="obtenerPais()"
                  >
                  </p-dropdown>
                  <small
                    class="form-text text-red-600"
                    *ngIf="campoNoValido('idPais')"
                  >
                    {{ listaErroresMensajes("idPais") }}
                  </small>
                </div>

                <div class="field col-12 md:col-3">
                  <label class="frm-titulo"
                    >Año fiscal <span class="required">*</span></label
                  >
                  <p-dropdown
                    [options]="oListaAnio"
                    optionLabel="descripcion"
                    optionValue="codigo"
                    [filter]="true"
                    filterBy="descripcion"
                    [showClear]="false"
                    placeholder="Seleccione"
                    formControlName="annoFiscal"
                    (onChange)="consultarCalendarioPais()"
                  >
                  </p-dropdown>
                  <small
                    class="form-text text-red-600"
                    *ngIf="campoNoValido('annoFiscal')"
                  >
                    {{ listaErroresMensajes("annoFiscal") }}
                  </small>
                </div>
              </div>

              <div *ngIf="sAccionLectura" class="mt-4">
                <app-lbl-subtitulo
                  subtitulo="Creación de dias"
                  [bEsSubtituloPrincipal]="false"
                ></app-lbl-subtitulo>
                <div class="formgrid grid p-fluid">
                  <div class="field col-12 md:col-3">
                    <label htmlfor="name1" class="frm-titulo"
                      >Calendario <span class="required">*</span>
                    </label>
                    <p-calendar
                      [showIcon]="true"
                      placeholder="AAAA-MM-DD"
                      dateFormat="yy-mm-dd"
                      [(ngModel)]="oDiasSeleccionados"
                      [disabledDates]="oListaFinesSemana"
                      [minDate]="fechaMinima"
                      [maxDate]="fechaMaxima"
                      selectionMode="multiple"
                      formControlName="fecha"
                      [numberOfMonths]="3"
                      dataType="string"
                    >
                    </p-calendar>
                  </div>
                  <div class="field col-12 md:col-3">
                    <label class="frm-titulo"
                      >Tipo de día <span class="required">*</span></label
                    >
                    <p-dropdown
                      [options]="oListaTipoDia"
                      optionLabel="descripcion"
                      optionValue="sigla"
                      [filter]="true"
                      filterBy="descripcion"
                      [showClear]="false"
                      placeholder="Seleccione"
                      formControlName="tipoDia"
                      (onChange)="checkDias($event.value)"
                    >
                    </p-dropdown>
                    <small
                      class="form-text text-red-600"
                      *ngIf="campoNoValido('tipoDia')"
                    >
                      {{ listaErroresMensajes("tipoDia") }}
                    </small>
                  </div>
                  <div class="field col-12 md:col-4 mt-4">
                    <div class="flex justify-content-center gap-3">
                      <p-checkbox
                        name="groupname"
                        value="val1"
                        label="Día no laboral"
                        formControlName="diaNoLaboral"
                        [binary]="true"
                      ></p-checkbox>
                      <p-checkbox
                        name="groupname"
                        value="val2"
                        label="Día no habil financiero"
                        formControlName="diaNoHabilFinanciero"
                        [binary]="true"
                      ></p-checkbox>
                    </div>
                  </div>

                  <div class="field col-12 md:col-2 mt-3">
                    <button
                      pButton
                      pRipple
                      icon="pi pi-plus"
                      label="Agregar"
                      class="p-button-success colorVerdeMHCP"
                      type="submit"
                      [disabled]="
                        formCalendario.invalid ||
                        ((formCalendario.value.tipoDia === 'PDLA' ||
                          formCalendario.value.tipoDia === 'PDHE') &&
                          oDiasSeleccionados.length > 1)
                      "
                      (click)="agregarFecha()"
                    ></button>
                  </div>
                </div>
              </div>
            </form>
          </div>

          <div class="col-12 md:col-12 lg:col-12 p-0">
            <app-lbl-subtitulo
              subtitulo="Días Asignados"
              [bEsSubtituloPrincipal]="false"
            ></app-lbl-subtitulo>

            <div class="col-12 p-0">
              <p-table
                #dt
                styleClass="p-datatable-gridlines p-datatable-striped"
                currentPageReportTemplate="Mostrando {first} de {totalRecords} registros"
                selectionMode="single"
                [loading]="bMostrarLoading"
                [value]="oListaDias"
                [scrollable]="false"
                [rowHover]="true"
                [paginator]="oListaDias.length > 10"
                [rows]="10"
                [rowsPerPageOptions]="[10, 25, 50]"
                [showCurrentPageReport]="true"
              >
                <ng-template pTemplate="header">
                  <tr>
                    <th pSortableColumn="fecha">
                      Fecha <p-sortIcon field="fecha"></p-sortIcon>
                    </th>
                    <th pSortableColumn="tipoDia">
                      Tipo de día <p-sortIcon field="tipoDia"></p-sortIcon>
                    </th>
                    <th pSortableColumn="diaNoLaboral">
                      Día no laboral
                      <p-sortIcon field="diaNoLaboral"></p-sortIcon>
                    </th>
                    <th pSortableColumn="diaNoHabilFinanciero">
                      Día no habil financiero
                      <p-sortIcon field="diaNoHabilFinanciero"></p-sortIcon>
                    </th>
                  </tr>
                  <tr>
                    <th class="filtrosTableMHCP">
                      <input
                        pInputText
                        type="text"
                        (input)="aplicarFiltro($event, 'fecha', 'contains')"
                        placeholder="Ingrese una fecha"
                        class="w-full"
                      />
                    </th>
                    <th class="filtrosTableMHCP">
                      <p-columnFilter
                        field="tipoDia"
                        matchMode="equals"
                        [showMenu]="false"
                        [showMatchModes]="false"
                        [showOperator]="false"
                        [showAddButton]="false"
                        [showClearButton]="false"
                      >
                        <ng-template
                          pTemplate="filter"
                          let-value
                          let-filter="filterCallback"
                        >
                          <p-dropdown
                            [ngModel]="value"
                            [options]="oListaTipoDia"
                            (onChange)="filter($event.value)"
                            placeholder="Seleccione"
                            [showClear]="true"
                            optionValue="sigla"
                            optionLabel="descripcion"
                          >
                          </p-dropdown>
                        </ng-template>
                      </p-columnFilter>
                    </th>
                    <th class="filtrosTableMHCP">
                      <p-columnFilter
                        field="diaNoLaboral"
                        matchMode="equals"
                        [showMenu]="false"
                        [showMatchModes]="false"
                        [showOperator]="false"
                        [showAddButton]="false"
                        [showClearButton]="false"
                      >
                        <ng-template
                          pTemplate="filter"
                          let-value
                          let-filter="filterCallback"
                        >
                          <p-dropdown
                            [ngModel]="value"
                            [options]="aEstadoGeneral"
                            (onChange)="filter($event.value)"
                            placeholder="Seleccione"
                            [showClear]="true"
                            optionValue="valor"
                            optionLabel="id"
                          >
                          </p-dropdown>
                        </ng-template>
                      </p-columnFilter>
                    </th>
                    <th class="filtrosTableMHCP">
                      <p-columnFilter
                        field="diaNoHabilFinanciero"
                        matchMode="equals"
                        [showMenu]="false"
                        [showMatchModes]="false"
                        [showOperator]="false"
                        [showAddButton]="false"
                        [showClearButton]="false"
                      >
                        <ng-template
                          pTemplate="filter"
                          let-value
                          let-filter="filterCallback"
                        >
                          <p-dropdown
                            [ngModel]="value"
                            [options]="aEstadoGeneral"
                            (onChange)="filter($event.value)"
                            placeholder="Seleccione"
                            [showClear]="true"
                            optionValue="valor"
                            optionLabel="id"
                          >
                          </p-dropdown>
                        </ng-template>
                      </p-columnFilter>
                    </th>
                  </tr>
                </ng-template>

                <ng-template pTemplate="body" let-oListaDias let-ri="rowIndex">
                  <tr
                    (mouseenter)="
                      fnMostrarOcultarBotones($event, ri, true, 'tb-tlsel')
                    "
                    (mouseleave)="
                      fnMostrarOcultarBotones($event, ri, false, 'tb-tlsel')
                    "
                    [pSelectableRow]="oListaDias"
                  >
                    <td>
                      {{ oListaDias.fecha | fechaText }}
                    </td>
                    <td>{{ convertirTipoDia(oListaDias.tipoDia) }}</td>
                    <td>
                      {{ oListaDias.diaNoLaboral | convertirBoolean : "sn" }}
                    </td>
                    <td>
                      {{
                        oListaDias.diaNoHabilFinanciero
                          | convertirBoolean : "sn"
                      }}
                    </td>

                    <div
                      id="button-{{ ri }}-tb-tlsel"
                      class="no-mostrar"
                      *ngIf="sAccionLectura"
                    >
                      <button
                        pButton
                        pRipple
                        Tooltip="Editar"
                        tooltipPosition="top"
                        type="button"
                        icon="pi pi-pencil"
                        class="botonTableMHCP p-button-success colorVerdeMHCP"
                        (click)="modalTipoDiaCalendario(oListaDias)"
                      ></button>
                      <button
                        pButton
                        pRipple
                        pTooltip="Eliminar"
                        tooltipPosition="top"
                        type="button"
                        icon="pi pi-trash"
                        class="botonTableMHCP colorRojoMHCP"
                        (click)="eliminarFecha(oListaDias, ri)"
                      ></button>
                    </div>
                  </tr>
                </ng-template>
                <ng-template pTemplate="emptymessage">
                  <tr>
                    <td class="text-center" colspan="5">
                      No se han encontrado registrados.
                    </td>
                  </tr>
                </ng-template>
              </p-table>
            </div>
          </div>
        </div>

        <div
          class="col-12 md:col-12 lg:col-12 gap-2 paginaMHCP-footer"
          *ngIf="sAccionLectura"
        >
          <button
            pButton
            pRipple
            icon="pi pi-times"
            label="Cancelar"
            class="colorRojoMHCP"
            (click)="cancelarProceso()"
          ></button>
          <button
            pButton
            pRipple
            icon="pi pi-save"
            label="Guardar"
            class="p-button-success colorVerdeMHCP"
            type="submit"
            (click)="guardarProceso()"
          ></button>
        </div>
      </div>
    </div>
  </div>
</div>

<p-dialog
  [header]="'Modificar tipo de días'"
  [(visible)]="bDisplayModal"
  [modal]="true"
  [style]="{ width: '55vw' }"
  [baseZIndex]="10000"
  [draggable]="false"
  [resizable]="false"
  [closeOnEscape]="true"
>
  <form
    class="col-12 p-0"
    [formGroup]="formCalendarioEditar"
    autocomplete="off"
  >
    <div class="formgrid grid">
      <div class="field col-12 md:col-6">
        <label htmlfor="name1" class="frm-titulo"
          >Calendario<span class="required">*</span>
        </label>
        <input
          pInputText
          id="name1"
          type="text"
          placeholder="Seleccione"
          class="p-inputtext p-component p-element"
          formControlName="fecha"
          [readonly]="true"
        />
      </div>
      <div class="field col-12 md:col-6">
        <label class="frm-titulo"
          >Tipo de día<span class="required">*</span></label
        >
        <p-dropdown
          [options]="oListaTipoDia"
          optionLabel="descripcion"
          optionValue="sigla"
          [filter]="true"
          filterBy="descripcion"
          [showClear]="false"
          placeholder="Seleccione"
          formControlName="tipoDia"
          appendTo="body"
        >
        </p-dropdown>
      </div>
    </div>
    <div class="formgrid grid">
      <div class="field col-12 md:col-6">
        <p-checkbox
          name="diaNoLaboral"
          value="diaNoLaboral"
          label="Día no laboral"
          formControlName="diaNoLaboral"
          [binary]="true"
        ></p-checkbox>
      </div>
      <div class="field col-12 md:col-6">
        <p-checkbox
          name="diaNoHabilFinanciero"
          value="diaNoHabilFinanciero"
          label="Día no habil financiero"
          formControlName="diaNoHabilFinanciero"
          [binary]="true"
        ></p-checkbox>
      </div>
    </div>
  </form>

  <div class="col-12 md:col-12 lg:col-12 gap-2 paginaMHCP-footer">
    <button
      (click)="cerrarModal()"
      label="Cancelar"
      class="colorRojoMHCP"
      icon="pi pi-times"
      pButton
      pRipple
    ></button>
    <button
      pButton
      pRipple
      label="ACEPTAR"
      class="p-button-success colorVerdeMHCP"
      icon="pi pi-check"
      [disabled]="formCalendarioEditar.invalid"
      (click)="guardarDatos()"
    ></button>
  </div>
</p-dialog>
