<p-toast [key]="'fu-t-unique'"></p-toast>

<p-confirmDialog
  [style]="{ width: '50vw' }"
  [baseZIndex]="10000"
  [key]="'fu-cd-unique'"
></p-confirmDialog>

<div class="filtroGenericoMHCP" *ngIf="bAbrirFiltro">
  <p-dialog
    [id]="'filtroTerceros' + sId"
    [style]="{ width: nWidth }"
    [(visible)]="bAbrirFiltro"
    [modal]="true"
    [baseZIndex]="10000"
    [draggable]="false"
    [resizable]="false"
    [closable]="true"
    [closeOnEscape]="false"
  >
    <p-header>
      <div class="flex justify-content-between">
        <div>
          <i class="pi pi-search" style="margin-right: 10px"></i>
          {{ sTituloHeader }}
        </div>
        <div
          class="filtroGenericoMHCP-cerrar"
          (click)="fnObtenerCierreFiltro(false)"
        >
          X
        </div>
      </div>
    </p-header>

    <div class="col-12 flex">
      <div
        [ngClass]="{
          'w-full': !bMostrarResultados,
          'md:col-4': bMostrarResultados
        }"
        class="surface-card my-3 pt-4 pb-1 px-3 border-round shadow-2"
        [style]="{ height: 'fit-content' }"
      >
        <form
          class="field col-12"
          [formGroup]="frmBuscarFiltro"
          autocomplete="off"
        >
          <p-accordion
            [activeIndex]="nIndex"
            expandIcon="pi pi-angle-down"
            collapseIcon="pi pi-angle-up"
          >
            <p-accordionTab header="Identificación">
              <div class="formgrid grid">
                <div class="field col-12 md:col-12">
                  <label htmlfor="tipoPersona" class="frm-titulo"
                    >Tipo de persona <span class="required">*</span></label
                  >

                  <div class="formgroup-inline">
                    <div class="col-12 md:col-5">
                      <div class="field-radiobutton mt-1">
                        <p-radioButton
                          id="natural"
                          name="tipoPersona"
                          [value]="true"
                          class="p-element"
                          formControlName="tipoPersona"
                        ></p-radioButton>
                        <label htmlfor="natural">Natural</label>
                      </div>
                    </div>

                    <div class="col-12 md:col-5">
                      <div class="field-radiobutton mt-1">
                        <p-radioButton
                          id="juridica"
                          name="tipoPersona"
                          [value]="false"
                          class="p-element"
                          formControlName="tipoPersona"
                        ></p-radioButton>
                        <label htmlfor="juridica">Jurídica</label>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="field col-12 md:col-12">
                  <label htmlfor="naturaleza" class="frm-titulo"
                    >Naturaleza <span class="required">*</span></label
                  >

                  <div class="formgroup-inline">
                    <div class="col-12 md:col-5">
                      <div class="field-radiobutton mt-1">
                        <p-radioButton
                          id="nacional"
                          name="naturaleza"
                          [value]="true"
                          class="p-element"
                          formControlName="naturaleza"
                        ></p-radioButton>
                        <label htmlfor="nacional">Nacional</label>
                      </div>
                    </div>

                    <div class="col-12 md:col-5">
                      <div class="field-radiobutton mt-1">
                        <p-radioButton
                          id="extranjera"
                          name="naturaleza"
                          [value]="false"
                          class="p-element"
                          formControlName="naturaleza"
                        ></p-radioButton>
                        <label htmlfor="extranjera">Extranjera</label>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="field col-12 md:col-12">
                  <label htmlfor="tipoDocumento" class="frm-titulo"
                    >Tipo de documento <span class="required">*</span></label
                  >

                  <div class="col-12 p-0">
                    <p-dropdown
                      filterBy="descripcion"
                      placeholder="Seleccione tipo de documento"
                      formControlName="tipoDocumento"
                      optionValue="sigla"
                      optionLabel="descripcion"
                      class="mt-1"
                      [options]="aTipoDocumentos"
                      [filter]="true"
                      [showClear]="false"
                    >
                    </p-dropdown>
                  </div>
                </div>

                <div class="field col-12 md:col-12">
                  <label htmlfor="numeroDocumento" class="frm-titulo"
                    >Número de documento <span class="required">*</span></label
                  >

                  <div
                    class="flex justify-content-between field grid col-12 md:col-12 p-0"
                  >
                    <div class="col-10">
                      <p-autoComplete
                        field=""
                        formControlName="numeroDocumento"
                        placeholder="Ingrese documento"
                        [suggestions]="aTercerosFiltrados"
                        [minLength]="1"
                        [dropdown]="false"
                        (completeMethod)="fnFiltrarUsuario($event, 'numeroDoc')"
                      ></p-autoComplete>
                    </div>
                    <div class="col-1">-</div>
                    <div class="col-1 p-0">
                      <input
                        type="number"
                        pInputText
                        [disabled]="
                          frmBuscarFiltro.get('tipoDocumento')?.value !== 'NIT'
                        "
                        style="width: 30px !important"
                      />
                    </div>
                  </div>
                </div>
              </div>
            </p-accordionTab>
            <p-accordionTab
              header="Nombres y Apellidos"
              *ngIf="fnActivarAcordeon === true"
            >
              <div class="field col-12 md:col-12">
                <label htmlfor="primerNombre" class="frm-titulo"
                  >Primer nombre</label
                >

                <div class="col-12 p-0">
                  <p-autoComplete
                    field=""
                    formControlName="primerNombre"
                    placeholder="Ingrese primer nombre"
                    [suggestions]="aTercerosFiltrados"
                    [minLength]="1"
                    [dropdown]="false"
                    (completeMethod)="fnFiltrarUsuario($event, 'primerNombre')"
                  ></p-autoComplete>
                </div>
              </div>

              <div class="field col-12 md:col-12">
                <label htmlfor="segundoNombre" class="frm-titulo"
                  >Segundo nombre</label
                >

                <div class="col-12 p-0">
                  <p-autoComplete
                    field=""
                    formControlName="segundoNombre"
                    placeholder="Ingrese segundo nombre"
                    [suggestions]="aTercerosFiltrados"
                    [minLength]="1"
                    [dropdown]="false"
                    (completeMethod)="fnFiltrarUsuario($event, 'segundoNombre')"
                  ></p-autoComplete>
                </div>
              </div>

              <div class="field col-12 md:col-12">
                <label htmlfor="primerApellido" class="frm-titulo"
                  >Primer apellido</label
                >

                <div class="col-12 p-0">
                  <p-autoComplete
                    field=""
                    formControlName="primerApellido"
                    placeholder="Ingrese primer apellido"
                    [suggestions]="aTercerosFiltrados"
                    [minLength]="1"
                    [dropdown]="false"
                    (completeMethod)="
                      fnFiltrarUsuario($event, 'primerApellido')
                    "
                  ></p-autoComplete>
                </div>
              </div>

              <div class="field col-12 md:col-12">
                <label htmlfor="segundoApellido" class="frm-titulo"
                  >Segundo nombre</label
                >

                <div class="col-12 p-0">
                  <p-autoComplete
                    field=""
                    formControlName="segundoApellido"
                    placeholder="Ingrese segundo apellido"
                    [suggestions]="aTercerosFiltrados"
                    [minLength]="1"
                    [dropdown]="false"
                    (completeMethod)="
                      fnFiltrarUsuario($event, 'segundoApellido')
                    "
                  ></p-autoComplete>
                </div>
              </div>
            </p-accordionTab>

            <p-accordionTab
              header="Razón Social"
              *ngIf="fnActivarAcordeon === false"
            >
              <div class="field col-12 md:col-12">
                <label htmlfor="razonSocial" class="frm-titulo"
                  >Razón Social</label
                >

                <div class="col-12 p-0">
                  <p-autoComplete
                    field=""
                    formControlName="razonSocial"
                    placeholder="Ingrese razón social"
                    [suggestions]="[]"
                    [minLength]="1"
                    [dropdown]="false"
                    (completeMethod)="
                      fnFiltrarUsuario($event, 'segundoApellido')
                    "
                  ></p-autoComplete>
                </div>
              </div>
            </p-accordionTab>
          </p-accordion>

          <div class="col-12 p-0 mt-3 ml-2" *ngIf="bEsMultiple">
            <div class="field-radiobutton mt-1">
              <p-checkbox
                value="true"
                (click)="fnCambiarRadio()"
                inputId="ny"
              ></p-checkbox>
              <label for="ny">Seleccionar todo</label>
            </div>
          </div>
        </form>

        <div class="col-12 flex justify-content-end mt-3 mb-0 gap-2">
          <button
            pButton
            pRipple
            icon="pi pi-file-edit"
            label="Limpiar"
            class="p-button-outlined colorVerdeMHCP"
            (click)="fnLimpiarDatos()"
          ></button>
          <button
            pButton
            pRipple
            icon="pi pi-search"
            label="Buscar"
            class="p-button-success colorVerdeMHCP"
            type="submit"
            [disabled]="frmBuscarFiltro.invalid"
            (click)="fnBuscarResultados()"
          ></button>
        </div>
      </div>

      <div class="md:col-8" *ngIf="bMostrarResultados">
        <app-filtro-terceros-resultado
          [oBuscar]="oBuscar"
          [bEsMultiple]="bEsMultiple"
          [bAbrirFiltro]="bAbrirFiltro"
          [bDevolverSoloID]="bDevolverSoloID"
          [bGuardarLocalStorage]="bGuardarLocalStorage"
          [oInformacionFiltro]="oInformacionFiltro"
          [bSeleccionarTodo]="bSeleccionarTodo"
          (bCerrarFiltro)="fnObtenerCierreFiltro($event)"
          (aTercerosEmitados)="fnObtenerTerceros($event)"
        ></app-filtro-terceros-resultado>
      </div>
    </div>
  </p-dialog>
</div>
