<!-- Toast -->
<p-toast></p-toast>

<!-- Confirmación -->
<p-confirmDialog
  [style]="{ width: '40vw' }"
  [baseZIndex]="10000"
  [header]="'Cancelar operación'"
></p-confirmDialog>

<!-- Código Base -->
<div class="grid">
  <div class="col-12 md:col-12 lg:col-12">
    <div class="w-full surface-card border-round espacio-cardMHCP">
      <div class="paginaMHCP">
        <div class="flex col-12 md:col-12 lg:col-12 paginaMHCP-header">
          <div class="col-8 md:col-8 lg:col-8 p-0 paginaMHCP-header-titulo">
            <app-lbl-titulo
              titulo="Restricciones de disponibilidad de las Transacciones del Sistema"
              descripcion="Permite consultar las transacciones del sistema."
            ></app-lbl-titulo>
          </div>
        </div>
        <div class="paginaMHCP-contenedor">
          <div class="col-12 md:col-12 lg:col-12 espacio-pb30MHCP">
            <app-lbl-subtitulo
              subtitulo="{{ lblBotonGuardar }} restricción"
              [bEsSubtituloPrincipal]="false"
            ></app-lbl-subtitulo>

            <form
              class="field col-12 p-0"
              [formGroup]="formRestriccionSistema"
              autocomplete="off"
            >
              <div class="formgrid grid">
                <div class="field col-6 md:col-3">
                  <label htmlfor="name1" class="frm-titulo"
                    >Código <span class="required">*</span>
                  </label>
                  <div class="col-12 p-0">
                    <input
                      pInputText
                      id="name1"
                      type="text"
                      class="p-inputtext p-component p-element"
                      formControlName="id"
                    />
                  </div>
                </div>

                <div class="field col-6 md:col-6">
                  <label htmlfor="name1" class="frm-titulo"
                    >Descripción <span class="required">*</span></label
                  >
                  <div class="col-12 p-0">
                    <input
                      pInputText
                      id="name1"
                      type="text"
                      placeholder="Nuevo plan de cuentas de ejecución"
                      class="p-inputtext p-component p-element"
                      formControlName="descripcion"
                    />
                    <small
                      class="form-text text-red-600"
                      *ngIf="campoNoValido('descripcion')"
                    >
                      {{ listaErroresMensajes("descripcion") }}
                    </small>
                  </div>
                </div>

                <div class="field col-6 md:col-3 ml-0">
                  <label htmlfor="name1" class="frm-titulo">Estado</label>
                  <div class="formgroup-inline">
                    <div class="col-12 md:col-4">
                      <div class="field-radiobutton mt-0">
                        <p-radioButton
                          name="activo"
                          [value]="true"
                          class="p-element"
                          formControlName="activo"
                        ></p-radioButton>
                        <label for="city1">Si</label>
                      </div>
                    </div>
                    <div class="col-12 md:col-4">
                      <div class="field-radiobutton mt-0">
                        <p-radioButton
                          name="activo"
                          [value]="false"
                          class="p-element"
                          formControlName="activo"
                        ></p-radioButton>
                        <label for="city1">No</label>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </form>
          </div>

          <p-tabView
            [(activeIndex)]="nTabActual"
            (onChange)="guardarRestriccionDisponibilidad()"
          >
            <p-tabPanel header="Transacción">
              <app-com-tabla-restriccion-transaccion
                (oListaTransaccionEmitter)="
                  obtenerRestriccionTransaccion($event)
                "
                [oRestriccionDisponibilidadId]="oRestriccionDisponibilidadId"
              ></app-com-tabla-restriccion-transaccion>
            </p-tabPanel>
            <p-tabPanel
              header="Fechas"
              [disabled]="
                formRestriccionSistema.invalid ||
                this.oListaRestriccionTransaccion.length <= 0
              "
            >
              <app-com-tabla-restriccion-fechas
                (oListaFechaEmitter)="obtenerRestriccionFecha($event)"
                [oRestriccionDisponibilidadId]="oRestriccionDisponibilidadId"
              ></app-com-tabla-restriccion-fechas>
            </p-tabPanel>
            <p-tabPanel
              header="Horarios"
              [disabled]="
                formRestriccionSistema.invalid ||
                this.oListaRestriccionTransaccion.length <= 0
              "
            >
              <app-com-tabla-restriccion-horario
                (oListaHorarioEmitter)="obtenerRestriccionHorario($event)"
                [oRestriccionDisponibilidadId]="oRestriccionDisponibilidadId"
              ></app-com-tabla-restriccion-horario>
            </p-tabPanel>
            <p-tabPanel
              header="Unidades/Subunidades"
              [disabled]="
                formRestriccionSistema.invalid ||
                this.oListaRestriccionTransaccion.length <= 0
              "
            >
              <app-com-tabla-restriccion-unidad-subunidades
                (bAmbitoSeleccionadoNoPgn)="
                  obtenerAmbitoSeleccionadoNoPgn($event)
                "
                (bAmbitoSeleccionadoPgn)="obtenerAmbitoSeleccionadoPgn($event)"
                (oListaUnidadPgnEmitter)="obtenerListaEntidadesPgn($event)"
                (oListaUnidadNoPgnEmitter)="obtenerListaEntidadesNoPgn($event)"
                [oRestriccionDisponibilidadId]="oRestriccionDisponibilidadId"
              ></app-com-tabla-restriccion-unidad-subunidades>
            </p-tabPanel>
            <p-tabPanel
              header="Perfiles"
              [disabled]="
                formRestriccionSistema.invalid ||
                this.oListaRestriccionTransaccion.length <= 0
              "
            >
              <app-com-tabla-restriccion-perfiles
                (oListaPerfilEmitter)="obtenerRestriccionPerfil($event)"
                [oRestriccionDisponibilidadId]="oRestriccionDisponibilidadId"
              ></app-com-tabla-restriccion-perfiles>
            </p-tabPanel>
            <p-tabPanel
              header="Usuarios"
              [disabled]="
                formRestriccionSistema.invalid ||
                this.oListaRestriccionTransaccion.length <= 0
              "
            >
              <app-com-tabla-restriccion-usuarios
                (oListaUsuarioEmitter)="obtenerRestriccionUsuario($event)"
                [oRestriccionDisponibilidadId]="oRestriccionDisponibilidadId"
              ></app-com-tabla-restriccion-usuarios>
            </p-tabPanel>

            <div
              class="w-full flex flex-row justify-content-between align-content-center mt-5"
            >
              <div class="flex flex-column">
                <button
                  pButton
                  pRipple
                  class="p-button-outlined colorVerdeMHCP"
                  label="Anterior"
                  [icon]="'pi pi-step-backward'"
                  iconPos="left"
                  (click)="nTabActual = nTabActual - 1"
                  [disabled]="nTabActual == 0 ? true : false"
                ></button>
              </div>
              <div class="flex flex-column">
                <button
                  *ngIf="nTabActual == 5 ? false : true"
                  pButton
                  pRipple
                  class="p-button-outlined colorVerdeMHCP"
                  label="Siguiente"
                  [icon]="'pi pi-step-forward'"
                  iconPos="right"
                  [disabled]="
                    formRestriccionSistema.invalid ||
                    this.oListaRestriccionTransaccion.length <= 0
                  "
                  (click)="
                    nTabActual = nTabActual + 1;
                    guardarRestriccionDisponibilidad()
                  "
                ></button>
              </div>
            </div>

            <div class="col-12 md:col-12 lg:col-12 gap-2 paginaMHCP-footer">
              <button
                pButton
                pRipple
                icon="pi pi-times"
                label="Cancelar"
                class="colorRojoMHCP"
                (click)="cancelarProceso()"
              ></button>
              <button
                pButton
                pRipple
                icon="pi pi-save"
                label="Guardar"
                class="p-button-success colorVerdeMHCP"
                type="submit"
                [disabled]="
                  this.oListaRestriccionTransaccion.length <= 0 ||
                  this.oListaRestriccionFechas.length <= 0 ||
                  this.oListaRestriccionHorario.length <= 0 ||
                  this.bExisteDescripcion === true
                "
                (click)="guardarRestriccionDisponibilidad('guardar')"
              ></button>
            </div>
          </p-tabView>
        </div>
      </div>
    </div>
  </div>
</div>
