<p-toast [key]="'ft-t-unique'"></p-toast>

<p-confirmDialog
  [style]="{ width: '50vw' }"
  [baseZIndex]="10000"
  [key]="'ft-cd-unique'"
></p-confirmDialog>

<div class="filtroGenericoMHCP" *ngIf="bAbrirFiltro">
  <p-dialog
    [id]="'filtroTransaccion' + sId"
    [style]="{ width: nWidth }"
    [(visible)]="bAbrirFiltro"
    [modal]="true"
    [baseZIndex]="10000"
    [draggable]="false"
    [resizable]="false"
    [closable]="false"
  >
    <p-header>
      <div class="flex justify-content-between">
        <div>
          <i class="pi pi-search" style="margin-right: 10px"></i>
          {{ sTituloHeader }}
        </div>
        <div
          class="filtroGenericoMHCP-cerrar"
          (click)="fnObtenerCierreFiltro(false)"
        >
          X
        </div>
      </div>
    </p-header>

    <div class="col-12 flex">
      <div
        [ngClass]="{
          'w-full': !bMostrarResultados,
          'md:col-4': bMostrarResultados
        }"
        class="surface-card my-3 pt-4 pb-1 px-3 border-round shadow-2"
        [style]="{ height: 'fit-content' }"
      >
        <form
          class="field col-12"
          [formGroup]="frmBuscarFiltro"
          autocomplete="off"
        >
          <p-accordion
            [activeIndex]="nIndex"
            expandIcon="pi pi-angle-down"
            collapseIcon="pi pi-angle-up"
          >
            <p-accordionTab header="Por categoría">
              <div class="formgrid grid">
                <div class="field col-12 md:col-12">
                  <label htmlfor="codigo" class="frm-titulo"
                    >Código de categoría
                  </label>

                  <div class="col-12 p-0">
                    <p-autoComplete
                      field=""
                      formControlName="codigoCategoria"
                      placeholder="Ingrese código"
                      [suggestions]="aCategoriasFiltradas"
                      [minLength]="1"
                      [dropdown]="false"
                      (completeMethod)="fnFiltrarCategoria($event, 'codigo')"
                    ></p-autoComplete>
                  </div>
                </div>

                <div class="field col-12 md:col-12">
                  <label htmlfor="nombre" class="frm-titulo"
                    >Nombre de categoría</label
                  >

                  <div class="col-12 p-0">
                    <p-autoComplete
                      field=""
                      formControlName="nombreCategoria"
                      placeholder="Ingrese nombre"
                      [suggestions]="aCategoriasFiltradas"
                      [minLength]="1"
                      [dropdown]="false"
                      (completeMethod)="fnFiltrarCategoria($event, 'nombre')"
                    ></p-autoComplete>
                  </div>
                </div>
              </div>
            </p-accordionTab>
            <p-accordionTab header="Datos de la transacción">
              <div class="field col-12 md:col-12">
                <label htmlfor="tipo" class="frm-titulo"
                  >Tipo de transacción</label
                >

                <div class="col-12 p-0">
                  <p-dropdown
                    filterBy="descripcion"
                    placeholder="Seleccione tipo de transacción"
                    formControlName="tipoTransaccion"
                    optionValue="sigla"
                    optionLabel="descripcion"
                    class="mt-1"
                    [options]="aTipoTransaccion"
                    [filter]="true"
                    [showClear]="false"
                  >
                  </p-dropdown>
                </div>
              </div>

              <div class="field col-12 md:col-12">
                <label htmlfor="funcion" class="frm-titulo"
                  >Función de negocio</label
                >

                <div class="col-12 p-0">
                  <p-dropdown
                    filterBy="descripcion"
                    placeholder="Seleccione función de negocio"
                    formControlName="funcionNegocio"
                    optionValue="sigla"
                    optionLabel="descripcion"
                    class="mt-1"
                    [options]="aFuncionNegocio"
                    [filter]="true"
                    [showClear]="false"
                  >
                  </p-dropdown>
                </div>
              </div>

              <div class="field col-12 md:col-12">
                <label htmlfor="estado" class="frm-titulo">Estado</label>

                <div class="col-12 p-0">
                  <p-dropdown
                    filterBy="valor"
                    placeholder="Seleccione estado"
                    formControlName="estado"
                    optionValue="valor"
                    optionLabel="estado"
                    class="mt-1"
                    [options]="aEstadoTransaccion"
                    [filter]="false"
                    [showClear]="false"
                  >
                  </p-dropdown>
                </div>
              </div>

              <div class="field col-12 md:col-12">
                <label htmlfor="nombreTransaccion" class="frm-titulo"
                  >Nombre de la transacción</label
                >

                <div class="col-12 p-0">
                  <p-autoComplete
                    field=""
                    formControlName="nombreTransaccion"
                    placeholder="Ingrese nombre"
                    [suggestions]="aTransaccionesFiltradas"
                    [minLength]="1"
                    [dropdown]="false"
                    (completeMethod)="fnFiltrarTransacciones($event, 'nombre')"
                  ></p-autoComplete>
                </div>
              </div>

              <div class="field col-12 md:col-12">
                <label htmlfor="codigoTransaccion" class="frm-titulo"
                  >Código de la transacción</label
                >

                <div class="col-12 p-0">
                  <p-autoComplete
                    field=""
                    formControlName="codigoTransaccion"
                    placeholder="Ingrese código"
                    [suggestions]="aTransaccionesFiltradas"
                    [minLength]="1"
                    [dropdown]="false"
                    (completeMethod)="fnFiltrarTransacciones($event, 'codigo')"
                  ></p-autoComplete>
                </div>
              </div>
            </p-accordionTab>

            <div class="col-12 p-0 mt-3 ml-2" *ngIf="bEsMultiple">
              <div class="field-radiobutton mt-1">
                <p-checkbox
                  value="true"
                  (click)="fnCambiarRadio()"
                  inputId="ny"
                ></p-checkbox>
                <label for="ny">Seleccionar todo</label>
              </div>
            </div>
          </p-accordion>
        </form>

        <div class="col-12 flex justify-content-end mt-0 mb-2 gap-2">
          <button
            pButton
            pRipple
            icon="pi pi-file-edit"
            label="Limpiar"
            class="p-button-outlined colorVerdeMHCP"
            (click)="fnLimpiarDatos()"
          ></button>
          <button
            pButton
            pRipple
            icon="pi pi-search"
            label="Buscar"
            class="p-button-success colorVerdeMHCP"
            type="submit"
            [disabled]="frmBuscarFiltro.invalid"
            (click)="fnBuscarResultados()"
          ></button>
        </div>
      </div>

      <div class="md:col-8" *ngIf="bMostrarResultados">
        <app-filtro-transacciones-resultado
          [oBuscar]="oBuscar"
          [bEsMultiple]="bEsMultiple"
          [bAbrirFiltro]="bAbrirFiltro"
          [bDevolverSoloID]="bDevolverSoloID"
          [bGuardarLocalStorage]="bGuardarLocalStorage"
          [oInformacionFiltro]="oInformacionFiltro"
          [bSeleccionarTodo]="bSeleccionarTodo"
          (bCerrarFiltro)="fnObtenerCierreFiltro($event)"
          (aTransacionesEmitadas)="fnObtenerTransacciones($event)"
        ></app-filtro-transacciones-resultado>
      </div>
    </div>
  </p-dialog>
</div>
