<div class="layout-wrapper" [ngClass]="containerClass">
  <div class="layout-main-container">
    <app-header [hidden]="!showHeader"></app-header>
    <app-menu [hidden]="!showMenu"></app-menu>
    <div class="layout-main">
      <div class="flex flex-column md:px-8 px-2 h-auto">
        <p-breadcrumb [model]="lItemsBreadcrumb"></p-breadcrumb>
        <!-- <ng-container *ngIf="bMostrar404; else loadContenido">
          <router-outlet></router-outlet>
        </ng-container>
        <ng-template #loadContenido>
          <p-breadcrumb [model]="lItemsBreadcrumb"></p-breadcrumb>

          <div class="grid">
            <div class="col-12 lg:col-12">
              <div
                class="w-full surface-card border-round shadow-2 espacio-cardMHCP"
              >
                <router-outlet (activate)="fnCargar404($event)"></router-outlet>
              </div>
            </div>
          </div>
        </ng-template> -->
        <router-outlet (activate)="fnCargar404($event)"></router-outlet>
      </div>
    </div>
    <app-footer [hidden]="!showFooter"></app-footer>
  </div>
</div>

<button *ngIf="bMostrar" (click)="fnIrArriba()" class="btn-accion-derecha">
  <i class="pi pi-angle-up icono"></i>
</button>
