<div class="layout-wrapper" [ngClass]="containerClass">
  <div class="layout-main-container">
    <app-header [hidden]="!showHeader"></app-header>
    <app-menu [hidden]="!showMenu"></app-menu>
    <div class="layout-main">
      <div class="flex flex-column md:px-8 px-2 h-auto">
        <p></p>
        <router-outlet (activate)="fnCargar404($event)"></router-outlet>
      </div>
    </div>
    <app-footer [hidden]="!showFooter"></app-footer>
  </div>
</div>

<button *ngIf="bMostrar" (click)="fnIrArriba()" class="btn-accion-derecha">
  <i class="pi pi-angle-up icono"></i>
</button>
