<div class="grid">
    <div class="col-12 md:col-12 lg:col-12">
      <div class="w-full surface-card border-round espacio-cardMHCP">
        <div class="paginaMHCP">
          <div class="flex col-12 md:col-12 lg:col-12 paginaMHCP-header">
            <div class="col-8 md:col-8 lg:col-8 p-0 paginaMHCP-header-titulo">
              <app-lbl-titulo
                titulo="Garantias"
                descripcion="La funcionalidad para creación de catálogos debe permitir asignar una descripción y una estructura jerárquica de niveles de catálogo."
              ></app-lbl-titulo>
            </div>
            <div class="col-4 md:col-4 lg:col-4 p-0 paginaMHCP-accionPrincipal">
              <button
                pButton
                pRipple
                label="Crear"
                icon="pi pi-plus"
                class="p-button-success"
                (click)="fnCrear()"
              ></button>
            </div>
          </div>
          <div class="col-12 md:col-12 p-0">
            <form class="col-12 p-0" autocomplete="off" [formGroup]="frmGarantia">
              <div class="formgrid grid">
                <div class="field col-12 md:col-3">
                  <label htmlfor="Identificador de Garantia" class="frm-titulo">Identificador de Garantia</label>
                  <input
                  pInputText
                  id="name1"
                  type="text"
                  placeholder="Ingrese identificador"
                  class="p-inputtext p-component p-element"
                  formControlName="id"
                  />
                </div>
                <div class="field col-12 md:col-3">
                  <label htmlfor="name1" class="frm-titulo"
                    >Tipo Garantia</label>
                  <div class="col-12 p-0">
                    <p-dropdown
                      [options]="listaTipoGarantia"
                      [(ngModel)]="selectedTipoGarantia"
                      optionLabel="descripcion"
                      
                      [showClear]="true"
                      placeholder="Seleccione tipo Garantia"
                      formControlName="tipoGarantia"
                    >
                      <ng-template let-estado pTemplate="item">
                        <div class="estado-item">
                          <div>{{ estado.descripcion }}</div>
                        </div>
                      </ng-template>
                    </p-dropdown>
                  </div>
                </div>
                <div class="field col-12 md:col-3" *ngIf="frmGarantia.get('tipoGarantia')?.value?.sigla == 'VENT'">
                  <label htmlfor="name1" class="frm-titulo"
                    >Cliente</label>
                  <div class="col-12 p-0">
                    <p-dropdown
                      [options]="listaCliente"
                      [(ngModel)]="selectedCliente"
                      optionLabel="nombre"
                      
                      [showClear]="true"
                      placeholder="Seleccione Cliente"
                      formControlName="idCliente"
                    >
                      <ng-template let-cliente pTemplate="item">
                        <div class="cliente-item">
                          <div>{{ cliente.nombre }}</div>
                        </div>
                      </ng-template>
                    </p-dropdown>
                  </div>
                </div>
                <div class="field col-12 md:col-3" *ngIf="frmGarantia.get('tipoGarantia')?.value?.sigla == 'INGR'">
                  <label htmlfor="name1" class="frm-titulo"
                    >Proveedor</label>
                  <div class="col-12 p-0">
                    <p-dropdown
                      [options]="listaProveedor"
                      [(ngModel)]="selectedProveedor"
                      optionLabel="nombre"
                      
                      [showClear]="true"
                      placeholder="Seleccione Proveedor"
                      formControlName="idProveedor"
                    >
                      <ng-template let-cliente pTemplate="item">
                        <div class="cliente-item">
                          <div>{{ cliente.nombre }}</div>
                        </div>
                      </ng-template>
                    </p-dropdown>
                  </div>
                </div>
                <div class="field col-12 md:col-3">
                  <label htmlfor="name1" class="frm-titulo"
                    >Estado Garantia</label>
                  <div class="col-12 p-0">
                    <p-dropdown
                      [options]="listaEstado"
                      [(ngModel)]="selectedEstado"
                      optionLabel="descripcion"
                      
                      [showClear]="true"
                      placeholder="Seleccione Cliente"
                      formControlName="estadoGarantia"
                    >
                      <ng-template let-estado pTemplate="item">
                        <div class="estado-item">
                          <div>{{ estado.descripcion }}</div>
                        </div>
                      </ng-template>
                    </p-dropdown>
                  </div>
                </div>
                <div class="field col-12 md:col-6">
                  <div class="mb-2">
                    <label class="frm-titulo">Fecha de registro de la garantia</label>
                  </div>
                  <div class="grid">
                    <div class="field col-12 md:col-6 mt-2">
                      <label
                        htmlfor="fecha_registro_solicitud_inicial"
                        class="frm-titulo"
                        >Fecha inicial</label
                      >
                      <div class="col-12 p-0">
                        <p-calendar
                          [showIcon]="true"
                          placeholder="AAAA-MM-DD"
                          dateFormat="yy/mm/dd"
                          dataType="string"
                          [readonlyInput]="true"
                          formControlName="fechaInicio"
                        ></p-calendar>
                      </div>
                    </div>
                    <div class="field col-12 md:col-6 mt-2">
                      <label htmlfor="fecha_registro_solicitud_final" class="frm-titulo"
                        >Fecha final</label
                      >
                      <div class="col-12 p-0">
                        <p-calendar
                          [showIcon]="true"
                          placeholder="AAAA-MM-DD"
                          dateFormat="yy/mm/dd"
                          dataType="string"
                          formControlName="fechaFin"
                        ></p-calendar>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="field col-12 md:col-12"></div>
                <div class="col-12 md:col-12 justify-content-right mb-2">
                  <div class="flex flex-column md:flex-column lg:flex-row justify-content-end gap-2">
                    <button
                      pButton
                      pRipple
                      type="button"
                      icon="pi pi-eraser"
                      label="Limpiar"
                      class="p-button-success colorAmarilloMHCP"
                      (click)="fnLimpiarFiltros()">
                    </button>
                    <button
                      pButton
                      pRipple
                      type="button"
                      label="Buscar"
                      class="p-button colorAzulMHCP"
                      icon="pi pi-search"
                      (click)="fnConsultarGarantias()">
                    </button>
                  </div>
                </div>
              </div>
            </form>
          </div>
          <div class="paginaMHCP-contenedor">
            <div class="col-12 md:col-12 lg:col-12 p-0">
              <p-table
                #dt
                styleClass="p-datatable-gridlines p-datatable-striped"
                selectionMode="single"
                [loading]="loadingTabla"
                [value]="lista"
                [scrollable]="false"
                [rowHover]="true"
                [paginator]="lista.length > 10"
                [rows]="10"
                [rowsPerPageOptions]="[10, 25, 50]"
                currentPageReportTemplate="Mostrando {first} de {totalRecords} registros"
                [showCurrentPageReport]="true"
              >

                <ng-template pTemplate="header">
                  <tr>
                    <th pSortableColumn="id">
                      Id <p-sortIcon field="id"></p-sortIcon>
                    </th>
                    <th pSortableColumn="tipoGarantia">
                      Tipo Garantia <p-sortIcon field="tipoGarantia"></p-sortIcon>
                    </th>
                    <th pSortableColumn="idFactura">
                      Identificador Venta/ Ingreso
                      <p-sortIcon field="idFactura"></p-sortIcon>
                    </th>
                    <th pSortableColumn="identificacionCliente">
                      Identificación Cliente / Proveedor <p-sortIcon field="identificacionCliente"></p-sortIcon>
                    </th>
                    <th pSortableColumn="nombreCliente">
                      Nombre Cliente / Proveedor <p-sortIcon field="nombreCliente"></p-sortIcon>
                    </th>
                    <th pSortableColumn="fecha">
                      Fecha <p-sortIcon field="fecha"></p-sortIcon>
                    </th>
                    <th pSortableColumn="descripcionEstado">
                      Estado <p-sortIcon field="descripcionEstado"></p-sortIcon>
                    </th>
                  </tr>
                </ng-template>

                <ng-template pTemplate="body" let-lista let-ri="rowIndex">
                  <tr
                    (mouseenter)="fnMostrarOcultarBotones($event, ri, true, 'tb-clsif')"
                    (mouseleave)="fnMostrarOcultarBotones($event, ri, false, 'tb-clsif')"
                    [pSelectableRow]="lista"
                  >
                    <td>{{ lista.id }}</td>
                    <td>{{ lista.tipoGarantia == 'VENT' ? 'VENTA' : 'INGRESO' }}</td>
                    <td>{{ lista.tipoGarantia == 'VENT' ? lista.idFactura : lista.idIngreso  }}</td>
                    <td>{{ lista.tipoGarantia == 'VENT' ? lista.identificacionCliente : lista.identificacionProveedor }}</td>
                    <td>{{ lista.tipoGarantia == 'VENT' ? lista.nombreCliente : lista.nombreProveedor }}</td>
                    <td>{{ lista.fecha | date: "yyyy-MM-dd" }}</td>
                    <td>{{ lista.descripcionEstado }}</td>

                    <div id="button-{{ ri }}-tb-clsif" class="no-mostrar">
                      <button
                        pButton
                        pRipple
                        pTooltip="Ver"
                        tooltipPosition="top"
                        icon="pi pi-eye"
                        class="botonTableMHCP p-button-info colorAzulMHCP"
                        (click)="fnVerGarantia(lista)"
                      >
                      </button>
                      <button
                        *ngIf="lista.estadoGarantia === 'REGI'"
                        pButton
                        pRipple
                        pTooltip="Gestionar"
                        tooltipPosition="top"
                        icon="pi pi-pencil"
                        class="botonTableMHCP p-button-success colorVerdeMHCP"
                        (click)="fnGestionarGarantia(lista)"
                      ></button>
                    </div>
                  </tr>
                </ng-template>
                <ng-template pTemplate="emptymessage">
                  <tr>
                    <td colspan="5">No se han encontrado registros.</td>
                  </tr>
                </ng-template>
              </p-table>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <p-toast></p-toast>
  