<p-table
  #dt
  styleClass="p-datatable-gridlines p-datatable-striped adjust-table"
  currentPageReportTemplate="Mostrando {first} filas de {totalRecords}"
  selectionMode="single"
  [loading]="bMostrarLoading"
  [value]="aValoresRelacionados"
  [scrollable]="true"
  [rowHover]="true"
  [paginator]="aValoresRelacionados.length > 10"
  [rows]="10"
  [rowsPerPageOptions]="[10, 25, 50]"
  [showCurrentPageReport]="true"
  rowGroupMode="rowspan"
  groupRowsBy="aValoresRelacionados.lista1, aValoresRelacionados.descripcion"
>
  <ng-template pTemplate="header">
    <tr>
      <th pSortableColumn="codigo">
        Código
        <p-sortIcon field="codigo"></p-sortIcon>
      </th>
      <th pSortableColumn="descripcion">
        Valor 1
        <p-sortIcon field="descripcion"></p-sortIcon>
      </th>
      <th pSortableColumn="codigo">
        Código
        <p-sortIcon field="codigo"></p-sortIcon>
      </th>
      <th pSortableColumn="descripcion" style="min-width: 14rem">
        Valor 2
        <p-sortIcon field="descripcion"></p-sortIcon>
      </th>
      <th pSortableColumn="codigo">
        Código
        <p-sortIcon field="codigo"></p-sortIcon>
      </th>
      <th pSortableColumn="descripcion" style="min-width: 14rem">
        Valor 3
        <p-sortIcon field="descripcion"></p-sortIcon>
      </th>
      <th pSortableColumn="codigo">
        Código
        <p-sortIcon field="codigo"></p-sortIcon>
      </th>
      <th pSortableColumn="descripcion" style="min-width: 14rem">
        Valor 4
        <p-sortIcon field="descripcion"></p-sortIcon>
      </th>
    </tr>
    <tr>
      <th class="filtrosTableMHCP">
        <input
          pInputText
          type="text"
          (input)="dt.filter($any($event.target).value, 'lista1', 'contains')"
          placeholder="Filtrar por código (1)"
          class="w-full"
        />
      </th>
      <th class="filtrosTableMHCP">
        <input
          pInputText
          type="text"
          (input)="
            dt.filter($any($event.target).value, 'descripcion', 'contains')
          "
          placeholder="Filtrar por valor (1)"
          class="w-full"
        />
      </th>
      <th class="filtrosTableMHCP">
        <input
          pInputText
          type="text"
          (input)="dt.filter($any($event.target).value, 'lista2', 'contains')"
          placeholder="Filtrar por código (2)"
          class="w-full"
        />
      </th>
      <th class="filtrosTableMHCP">
        <input
          pInputText
          type="text"
          (input)="
            dt.filter($any($event.target).value, 'descripcion2', 'contains')
          "
          placeholder="Filtrar por valor (2)"
          class="w-full"
        />
      </th>
      <th class="filtrosTableMHCP">
        <input
          pInputText
          type="text"
          (input)="dt.filter($any($event.target).value, 'lista3', 'contains')"
          placeholder="Filtrar por código (3)"
          class="w-full"
        />
      </th>
      <th class="filtrosTableMHCP">
        <input
          pInputText
          type="text"
          (input)="
            dt.filter($any($event.target).value, 'descripcion3', 'contains')
          "
          placeholder="Filtrar por valor (3)"
          class="w-full"
        />
      </th>
      <th class="filtrosTableMHCP">
        <input
          pInputText
          type="text"
          (input)="dt.filter($any($event.target).value, 'lista4', 'contains')"
          placeholder="Filtrar por código (4)"
          class="w-full"
        />
      </th>
      <th class="filtrosTableMHCP">
        <input
          pInputText
          type="text"
          (input)="
            dt.filter($any($event.target).value, 'descripcion4', 'contains')
          "
          placeholder="Filtrar por valor (4)"
          class="w-full"
        />
      </th></tr
  ></ng-template>

  <ng-template
    pTemplate="body"
    let-valoresRelacionados
    let-ri="rowIndex"
    let-rowgroup="rowgroup"
    let-rowspan="rowspan"
  >
    <tr
      (mouseenter)="fnMostrarOcultarBotones($event, ri, true, 'tb-trreledt')"
      (mouseleave)="fnMostrarOcultarBotones($event, ri, false, 'tb-trreledt')"
      [pSelectableRow]="valoresRelacionados"
    >
      <td>{{ valoresRelacionados.lista1 }}</td>
      <td>{{ valoresRelacionados.descripcion }}</td>
      <td>{{ valoresRelacionados.lista2 }}</td>
      <td>{{ valoresRelacionados.descripcion2 }}</td>
      <td>{{ valoresRelacionados.lista3 }}</td>
      <td>{{ valoresRelacionados.descripcion3 }}</td>
      <td>{{ valoresRelacionados.lista4 }}</td>
      <td>{{ valoresRelacionados.descripcion4 }}</td>

      <div id="button-{{ ri }}-tb-trreledt" class="no-mostrar">
        <button
          pButton
          pRipple
          pTooltip="Eliminar"
          tooltipPosition="top"
          type="button"
          icon="pi pi-trash"
          class="botonTableMHCP colorRojoMHCP"
          (click)="fnCrearEliminacion(valoresRelacionados)"
        ></button>
      </div>
    </tr>
  </ng-template>
  <ng-template pTemplate="emptymessage">
    <tr>
      <td colspan="9" class="text-center">No se han encontrado registrados.</td>
    </tr>
  </ng-template>
</p-table>
