<div class="filtroGenericoMHCP-header ml-3 py-2 px-2">
  Seleccione el tercero
</div>
<div
  class="surface-card py-4 px-3 border-round shadow-2 ml-3"
  style="scroll-behavior: smooth; overflow-y: scroll; height: '100vh'"
>
  <div
    class="filtroGenericoMHCP-noFound flexjustify-content-center flex-wrap"
    *ngIf="aResultados.length === 0"
  >
    <i class="pi pi-search-minus"></i>
    <p>
      No se encontraron registros para esta búsqueda, por favor inténtelo de
      nuevo con otros parámetros.
    </p>
  </div>

  <div *ngIf="aResultados.length > 0">
    <div
      class="filtroGenericoMHCP-resultado w-full surface-card border-round shadow-2 my-2 p-field-checkbox"
      *ngFor="let resultado of aResultados; let i = index"
    >
      <div class="filtroGenericoMHCP-resultado-header py-1 px-2">
        <div [ngSwitch]="bEsMultiple" class="flex align-items-center">
          <div *ngSwitchCase="true" class="flex align-items-center">
            <p-checkbox
              name="terceros"
              value="resultado"
              [value]="bDevolverSoloID ? resultado.id : resultado"
              [(ngModel)]="aTercerosSeleccionados"
              [inputId]="resultado.id"
            ></p-checkbox>
            <!-- TODO: PENDIENTE CAMBIO -->
            <label [for]="resultado.id" class="ml-2">{{
              resultado.primerNombre | titlecase
            }}</label>
          </div>
          <ng-container *ngSwitchCase="false">
            <p-radioButton
              name="terceros"
              [value]="bDevolverSoloID ? resultado.id : resultado"
              [inputId]="resultado.id"
              [(ngModel)]="aTerceroSeleccionado"
            ></p-radioButton>
            <!-- TODO: PENDIENTE CAMBIO -->
            <label [for]="resultado.id" class="ml-2">{{
              resultado.primerNombre | titlecase
            }}</label>
          </ng-container>
        </div>
      </div>
      <div class="filtroGenericoMHCP-resultado-body py-3 px-5">
        <table>
          <tbody>
            <tr>
              <th>Tipo de persona:</th>
              <!-- TODO: PENDIENTE CAMBIO -->
              <td>Jurídica</td>
              <th class="separador">Tipo de documento:</th>
              <td>{{ resultado.tipoDocumento }}</td>
              <th class="separador">Estado:</th>
              <!-- TODO: PENDIENTE CAMBIO -->
              <td>Activo</td>
            </tr>
            <tr>
              <th>Naturaleza:</th>
              <!-- TODO: PENDIENTE CAMBIO -->
              <td>Nacional</td>
              <th class="separador">No. de documento:</th>
              <td>{{ resultado.numeroDocumento }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<div class="col-12 flex justify-content-end mt-3 mb-3 gap-2">
  <button
    pButton
    pRipple
    icon="pi pi-times"
    label="Cancelar"
    class="colorRojoMHCP"
    (click)="fnCerrarModal()"
  ></button>
  <button
    pButton
    pRipple
    icon="pi pi-check"
    label="Aceptar"
    class="p-button-success colorVerdeMHCP"
    type="submit"
    (click)="fnCargarResultados()"
    [disabled]="fnValidarSeleccionDatos"
  ></button>
</div>
