<div class="col-12 espacio-pb30MHCP">
  <app-lbl-subtitulo
    subtitulo="Stepper"
    [bEsSubtituloPrincipal]="false"
  ></app-lbl-subtitulo>

  <p-steps
    id="test"
    [model]="items"
    [readonly]="true"
    [activeIndex]="activeIndex"
    (activeIndexChange)="onActiveIndexChange($event)"
    [styleClass]="'completed-' + completed"
  ></p-steps>

  <p-divider></p-divider>
</div>

<div class="col-12 espacio-pb30MHCP">
  <app-lbl-subtitulo
    subtitulo="Treeview"
    [bEsSubtituloPrincipal]="false"
  ></app-lbl-subtitulo>

  <p-tree
    [value]="aResultados"
    selectionMode="checkbox"
    class="w-full md:w-30rem test-tree"
    [(selection)]="aPosicionesTomadas"
    [propagateSelectionUp]="false"
    [propagateSelectionDown]="false"
  ></p-tree>

  <p-divider></p-divider>
</div>

<div class="col-12 espacio-pb30MHCP">
  <app-lbl-subtitulo
    subtitulo="Tabview"
    [bEsSubtituloPrincipal]="false"
  ></app-lbl-subtitulo>

  <p-tabView>
    <p-tabPanel header="Panel 1">
      <app-lbl-subtitulo
        subtitulo="Contenido 1"
        [bEsSubtituloPrincipal]="false"
      ></app-lbl-subtitulo>
    </p-tabPanel>
    <p-tabPanel header="Panel 2">
      <app-lbl-subtitulo
        subtitulo="Contenido 2"
        [bEsSubtituloPrincipal]="false"
      ></app-lbl-subtitulo>
    </p-tabPanel>
  </p-tabView>

  <p-divider></p-divider>
</div>

<div class="col-12 espacio-pb30MHCP">
  <app-lbl-subtitulo
    subtitulo="Accordeon"
    [bEsSubtituloPrincipal]="false"
  ></app-lbl-subtitulo>

  <p-accordion
    [multiple]="true"
    activeIndex="0"
    [style]="{ width: '100%' }"
    expandIcon="pi pi-angle-down"
    collapseIcon="pi pi-angle-up"
  >
    <p-accordionTab header="Tabla Sin Congelamiento casi Completa">
      <app-lbl-subtitulo
        subtitulo="Contenido 1"
        [bEsSubtituloPrincipal]="false"
      ></app-lbl-subtitulo>
    </p-accordionTab>
    <p-accordionTab header="Tabla Con Congelamiento">
      <app-lbl-subtitulo
        subtitulo="Contenido 2"
        [bEsSubtituloPrincipal]="false"
      ></app-lbl-subtitulo>
    </p-accordionTab>
  </p-accordion>

  <p-divider></p-divider>
</div>

<div class="col-12 espacio-pb30MHCP">
  <app-lbl-subtitulo
    subtitulo="Picklist"
    [bEsSubtituloPrincipal]="false"
  ></app-lbl-subtitulo>

  <p-pickList
    sourceHeader="Documentos disponibles"
    targetHeader="Documentos vinculados"
    [source]="[]"
    [target]="[]"
    [dragdrop]="false"
    [responsive]="true"
    [sourceStyle]="{ height: '300px' }"
    [targetStyle]="{ height: '300px' }"
    [showSourceControls]="false"
    [showTargetControls]="false"
    (onMoveToTarget)="fnVerificarMovimientoDocumento($event)"
    (onMoveAllToTarget)="fnVerificarMovimientoDocumento($event)"
    (onMoveToSource)="fnEditarMovimientoDocumento($event)"
    (onMoveAllToSource)="fnEditarMovimientoDocumento($event)"
    filterBy="name"
    sourceFilterPlaceholder="Buscar por documento"
    targetFilterPlaceholder="Buscar por documento"
  >
    <ng-template let-documentos pTemplate="item">
      <h6 class="mb-2">
        {{ documentos.sigla }} -
        {{ documentos.descripcion }}
      </h6>
    </ng-template>
  </p-pickList>

  <p-divider></p-divider>
</div>
