<!-- Código Base -->
<p-accordion
  [multiple]="false"
  [activeIndex]="0"
  [style]="{ width: '100%' }"
  expandIcon="pi pi-angle-down"
  collapseIcon="pi pi-angle-up"
>
  <p-accordionTab header="Datos Tercero">
    <form [formGroup]="frmDatosTercero">
      <div class="col-12">
        <div class="formgrid grid">
          <div
            class="field col-2"
            [ngClass]="
              this.frmDatosTercero.get('tipoPersona1')?.value === 'JURI'
                ? 'col-2'
                : 'col-3'
            "
          >
            <label htmlfor="tipoPersona" class="frm-titulo font-semibold"
              >Tipo de persona</label
            >
            <div class="formgroup-inline">
              <div class="col-12 md:col-3 p-0">
                <div class="field-radiobutton mt-1">
                  <p-radioButton
                    id="tipoPersona1"
                    name="tipoPersona"
                    [value]="true"
                    formControlName="tipoPersona"
                  ></p-radioButton>
                  <label htmlfor="tipoPersona1">{{
                    this.frmDatosTercero.get("tipoPersona1")?.value === "NATU"
                      ? "Natural"
                      : "Jurídica"
                  }}</label>
                </div>
              </div>
            </div>
          </div>

          <div
            class="field col-2"
            [ngClass]="
              this.frmDatosTercero.get('tipoPersona1')?.value === 'JURI'
                ? 'col-2'
                : 'col-3'
            "
          >
            <label htmlfor="naturaleza" class="frm-titulo font-semibold"
              >Naturaleza</label
            >
            <div class="formgroup-inline">
              <div class="col-12 md:col-3 p-0">
                <div class="field-radiobutton mt-1">
                  <p-radioButton
                    id="tipoNaturaleza"
                    name="naturaleza"
                    [value]="true"
                    formControlName="naturaleza"
                  ></p-radioButton>
                  <label htmlfor="tipoNaturaleza">{{
                    this.frmDatosTercero.get("naturaleza1")?.value === "NACI"
                      ? "Nacional"
                      : "Extranjero"
                  }}</label>
                </div>
              </div>
            </div>
          </div>

          <div
            class="field col-2"
            [ngClass]="
              this.frmDatosTercero.get('tipoPersona1')?.value === 'JURI'
                ? 'col-2'
                : 'col-3'
            "
          >
            <label htmlfor="tipoIdentificacion" class="frm-titulo font-semibold"
              >Tipo de identificación</label
            >
            <div class="col-12 p-0 mt-2">
              <input
                type="text"
                pInputText
                formControlName="tipoIdentificacion"
              />
            </div>
          </div>

          <div
            class="field col-2"
            [ngClass]="
              this.frmDatosTercero.get('tipoPersona1')?.value === 'JURI'
                ? 'col-2'
                : 'col-3'
            "
          >
            <label htmlfor="numIdentificacion" class="frm-titulo font-semibold"
              >No. identificación</label
            >
            <div class="col-12 p-0 mt-2">
              <input
                type="text"
                pInputText
                formControlName="numIdentificacion"
              />
            </div>
          </div>

          <div
            class="field col-4"
            *ngIf="this.frmDatosTercero.get('tipoPersona1')?.value === 'JURI'"
          >
            <label htmlfor="razonSocial" class="frm-titulo font-semibold"
              >Razón social</label
            >
            <div class="col-12 p-0 mt-2">
              <input type="text" pInputText formControlName="razonSocial" />
            </div>
          </div>

          <ng-container
            *ngIf="this.frmDatosTercero.get('tipoPersona1')?.value !== 'JURI'"
          >
            <div class="field col-3">
              <label htmlfor="primerNombre" class="frm-titulo font-semibold"
                >Primer nombre</label
              >
              <div class="col-12 p-0 mt-2">
                <input type="text" pInputText formControlName="primerNombre" />
              </div>
            </div>

            <div class="field col-3">
              <label htmlfor="segundoNombre" class="frm-titulo font-semibold"
                >Segundo nombre</label
              >
              <div class="col-12 p-0 mt-2">
                <input type="text" pInputText formControlName="segundoNombre" />
              </div>
            </div>

            <div class="field col-3">
              <label htmlfor="primerApellido" class="frm-titulo font-semibold"
                >Primer apellido</label
              >
              <div class="col-12 p-0 mt-2">
                <input
                  type="text"
                  pInputText
                  formControlName="primerApellido"
                />
              </div>
            </div>

            <div class="field col-3">
              <label htmlfor="segundoApellido" class="frm-titulo font-semibold"
                >Segundo apellido</label
              >
              <div class="col-12 p-0 mt-2">
                <input
                  type="text"
                  pInputText
                  formControlName="segundoApellido"
                />
              </div>
            </div>
          </ng-container>
        </div>
      </div>
    </form> </p-accordionTab
></p-accordion>
