<!-- Código Base -->
<div class="grid">
  <div class="col-12 md:col-12 lg:col-12">
    <div class="w-full surface-card border-round espacio-cardMHCP">
      <div class="paginaMHCP">
        <div class="flex col-12 md:col-12 lg:col-12 paginaMHCP-header">
          <div class="col-8 md:col-8 lg:col-8 p-0 paginaMHCP-header-titulo">
            <app-lbl-titulo
              titulo="Listas de selección"
              descripcion="Definir los valores que componene las 'listas de selección' existentes en el sistema."
            ></app-lbl-titulo>
          </div>

          <div class="col-4 md:col-4 lg:col-4 p-0 paginaMHCP-accionPrincipal">
            <button
              pButton
              pRipple
              label="Crear"
              icon="pi pi-plus"
              class="p-button-success"
              [routerLink]="['crear']"
            ></button>
          </div>
        </div>

        <div class="paginaMHCP-contenedor">
          <div class="col-12 md:col-12 lg:col-12 p-0">
            <app-com-tabla-lista-seleccion
              [oListasSeleccionPadre]="oListasSeleccion$"
            ></app-com-tabla-lista-seleccion>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
