<app-filtro-perfiles
  [sId]="'fp1'"
  [sTituloHeader]="'Buscar Perfil'"
  [oInformacionFiltro]="aPerfil"
  [oCamposFormulario]="oCamposFormularioPerfiles"
  [bEsMultiple]="false"
  [bDevolverSoloID]="false"
  [bAbrirFiltro]="bAbrirFiltroPerfil"
  [bGuardarLocalStorage]="true"
  (bCerrarFiltro)="fnObtenerCierreFiltroPerfil($event)"
  (aPerfilesEmitados)="fnObtenerDataFiltroPerfil($event)"
></app-filtro-perfiles>

<app-filtro-usuarios
  [sId]="'fu1'"
  [sTituloHeader]="'Buscar Usuario'"
  [oInformacionFiltro]="aUsuarios"
  [oCamposFormulario]="oCamposFormularioUsuario"
  [bEsMultiple]="false"
  [bDevolverSoloID]="false"
  [bAbrirFiltro]="bAbrirFiltroUsuario"
  [bGuardarLocalStorage]="true"
  [nIndex]="0"
  (bCerrarFiltro)="fnObtenerCierreFiltroUsuario($event)"
  (aUsuariosEmitados)="fnObtenerDataFiltroUsuario($event)"
></app-filtro-usuarios>

<app-filtro-transacciones
  [sId]="'ft1'"
  [sTituloHeader]="'Buscar Transacción'"
  [oInformacionFiltro]="aTransacciones"
  [oCamposFormulario]="oCamposFormularioTransaccion"
  [bEsMultiple]="false"
  [bDevolverSoloID]="false"
  [bAbrirFiltro]="bAbrirFiltroTransaccion"
  [bGuardarLocalStorage]="true"
  [nIndex]="0"
  (bCerrarFiltro)="fnObtenerCierreFiltroTransaccion($event)"
  (aTransacionesEmitadas)="fnObtenerDataFiltroTransaccion($event)"
></app-filtro-transacciones>

<app-filtro-catalogo
  [sId]="'fc1'"
  [sTituloHeader]="'Ámbito aplicación PGN'"
  [oInformacionFiltro]="aPosicionesPgn"
  [oCamposFormulario]="oCamposFormulario"
  [bEsMultiple]="false"
  [bDevolverSoloID]="false"
  [bAbrirFiltro]="bAbrirFiltroPosicionPgn"
  [bGuardarLocalStorage]="true"
  [aNiveles]="[]"
  (bCerrarFiltro)="fnObtenerCierreFiltroPosicionPgn($event)"
  (aPosicionesCatalogosEmitadas)="fnObtenerDataFiltroPosicionPgn($event)"
></app-filtro-catalogo>

<div class="grid">
  <div class="col-12 md:col-12 lg:col-12">
    <div class="w-full surface-card border-round espacio-cardMHCP">
      <div class="paginaMHCP">
        <div class="flex col-12 md:col-12 lg:col-12 paginaMHCP-header">
          <div class="col-8 md:col-8 lg:col-8 p-0 paginaMHCP-header-titulo">
            <app-lbl-titulo
              titulo="Reporte disponibilidad de las “Transacciones del sistema”. "
              descripcion="Permite consultar la información de las restricciones de disponilidad que han sido configuradas en el sistema."
            ></app-lbl-titulo>
          </div>
        </div>

        <div class="paginaMHCP-contenedor">
          <form
            class="col-12 p-0"
            [formGroup]="formFiltroDisponibilidad"
            autocomplete="off"
          >
            <app-lbl-subtitulo
              subtitulo="Datos de restricción"
              [bEsSubtituloPrincipal]="false"
            ></app-lbl-subtitulo>

            <div class="formgrid grid espacio-pb30MHCP">
              <div class="field col-12 md:col-3">
                <label htmlfor="categoria" class="frm-titulo">Nombre</label>

                <p-dropdown
                  filterBy="descripcion"
                  placeholder="Seleccione..."
                  formControlName="descripcionRestriccion"
                  optionValue="descripcion"
                  optionLabel="descripcion"
                  class="mt-1"
                  [options]="oNombreRestriccion"
                  [filter]="true"
                  [showClear]="false"
                >
                </p-dropdown>
              </div>
              <div class="field col-12 md:col-1">
                <label htmlfor="name1" class="frm-titulo">Estado</label>

                <p-dropdown
                  [options]="oEstado"
                  [filter]="false"
                  placeholder="Selecionar estado"
                  formControlName="activo"
                  optionValue="valor"
                  optionLabel="id"
                >
                </p-dropdown>
              </div>
              <div class="field col-12 md:col-2">
                <label htmlfor="name1" class="frm-titulo">Transacción</label>

                <span class="p-input-icon-right cursor-pointer">
                  <i
                    class="pi pi-search"
                    (click)="fnAbrirFiltroTransaccion()"
                    style="z-index: 9999"
                  ></i>

                  <p-dropdown
                    [options]="aNombreMostrarTransacciones"
                    optionLabel="nombre"
                    optionValue="id"
                    [dropdownIcon]="'none'"
                    [readonly]="true"
                    placeholder="Buscar transacción"
                    [showClear]="true"
                    formControlName="idFuncionalidad"
                  ></p-dropdown>
                </span>
              </div>
              <div class="field col-12 md:col-3">
                <label htmlfor="categoria" class="frm-titulo"
                  >Perfil afectado</label
                >
                <span class="p-input-icon-right cursor-pointer">
                  <i
                    class="pi pi-search"
                    (click)="fnAbrirFiltroPerfil()"
                    style="z-index: 9999"
                  ></i>

                  <p-dropdown
                    [options]="aNombreMostrarPerfiles"
                    optionLabel="nombre"
                    optionValue="id"
                    [dropdownIcon]="'none'"
                    [readonly]="true"
                    placeholder="Buscar perfil"
                    [showClear]="true"
                    formControlName="idPerfil"
                  ></p-dropdown>
                </span>
              </div>

              <div class="field col-12 md:col-3">
                <label htmlfor="categoria" class="frm-titulo"
                  >Usuario del sistema</label
                >
                <span class="p-input-icon-right cursor-pointer">
                  <i
                    class="pi pi-search"
                    (click)="fnAbrirFiltroUsuario()"
                    style="z-index: 9999"
                  ></i>

                  <p-dropdown
                    [options]="aNombreMostrarUsuario"
                    optionLabel="nombre"
                    optionValue="id"
                    [dropdownIcon]="'none'"
                    [readonly]="true"
                    placeholder="Buscar usuario"
                    [showClear]="true"
                    formControlName="idUsuario"
                  ></p-dropdown>
                </span>
              </div>
            </div>

            <app-lbl-subtitulo
              subtitulo="Filtros de tiempo"
              [bEsSubtituloPrincipal]="false"
            ></app-lbl-subtitulo>
            <div class="formgrid grid espacio-pb30MHCP">
              <div class="flex flex-column w-full lg:w-6 fecha">
                <label class="font-bold mb-2 w-full lg:w-12"
                  >Fechas de registro restricción</label
                >
                <div class="flex">
                  <div class="flex flex-column w-full lg:w-6 mr-4">
                    <label class="font-bold mb-1">Fecha Inicial</label>
                    <p-calendar
                      [showIcon]="true"
                      placeholder="AAAA-MM-DD"
                      dateFormat="yy-mm-dd"
                      formControlName="fechaInicioRestriccion"
                      dataType="string"
                    ></p-calendar>
                  </div>
                  <div class="flex flex-column w-full lg:w-6">
                    <label class="font-bold mb-1">Fecha Final</label>
                    <p-calendar
                      [showIcon]="true"
                      placeholder="AAAA-MM-DD"
                      dateFormat="yy-mm-dd"
                      formControlName="fechaFinRestriccion"
                      dataType="string"
                    ></p-calendar>
                  </div>
                </div>
              </div>

              <div class="flex flex-column w-full lg:w-6 fecha">
                <label class="font-bold mb-2 w-full lg:w-12"
                  >Horarios de registro restricción</label
                >
                <div class="flex">
                  <div class="flex flex-column w-full lg:w-6 mr-4">
                    <label class="font-bold mb-1">Hora Inicio </label>
                    <p-calendar
                      formControlName="horaInicio"
                      icon="pi pi-clock"
                      [showIcon]="true"
                      [showTime]="true"
                      [showSeconds]="false"
                      [hourFormat]="'12'"
                      [timeOnly]="true"
                      placeholder="HH:MM"
                    ></p-calendar>
                  </div>
                  <div class="flex flex-column w-full lg:w-6">
                    <label class="font-bold mb-1">Hora Final </label>
                    <p-calendar
                      formControlName="horaFin"
                      icon="pi pi-clock"
                      [showIcon]="true"
                      [showTime]="true"
                      [showSeconds]="false"
                      [hourFormat]="'12'"
                      [timeOnly]="true"
                      placeholder="HH:MM"
                    ></p-calendar>
                  </div>
                </div>
              </div>
            </div>

            <app-lbl-subtitulo
              subtitulo="Unidades ejecutoras certificadas"
              [bEsSubtituloPrincipal]="false"
            ></app-lbl-subtitulo>
            <div class="formgrid grid">
              <div class="field col-12 md:col-4">
                <label htmlfor="categoria" class="frm-titulo"
                  >Ámbito aplicación PGN</label
                >
                <span class="p-input-icon-right cursor-pointer">
                  <i
                    class="pi pi-search"
                    (click)="fnAbrirFiltroTransaccionPosicionPgn()"
                    style="z-index: 9999"
                  ></i>

                  <p-dropdown
                    [options]="aNombreMostrarPosicionPgn"
                    optionLabel="nombre"
                    optionValue="id"
                    [dropdownIcon]="'none'"
                    [readonly]="true"
                    placeholder="Buscar ámbito"
                    [showClear]="true"
                    formControlName="codigoEntidadPci"
                  ></p-dropdown>
                </span>
              </div>
            </div>
          </form>
        </div>
        <div
          class="col-12 flex flex-row justify-content-between gap-2 paginaMHCP-footer"
        >
          <div class="flex flex-row gap-2">
            <button
              pButton
              pRipple
              class="p-button-outlined colorVerdeMHCP"
              label="LIMPIAR"
              [icon]="'pi pi-eraser'"
              (click)="fnLimpiarFormulario()"
            ></button>
          </div>

          <div class="flex flex-row gap-2">
            <button
              pButton
              pRipple
              type="button"
              icon="pi pi-times"
              label="Cancelar"
              class="colorRojoMHCP"
            ></button>
            <button
              pButton
              pRipple
              type="button"
              icon="pi pi-save"
              label="Ver reporte"
              class="p-button-success colorVerdeMHCP"
              [disabled]="formFiltroDisponibilidad.invalid"
              (click)="fnGenerarReporte()"
            ></button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
