<p-confirmDialog
  [style]="{ width: '50vw' }"
  [baseZIndex]="10000"
></p-confirmDialog>

<form
  class="col-12"
  [formGroup]="frmEditarFuenteExterna"
  autocomplete="off"
  [ngStyle]="{ 'padding-bottom': '0' }"
>
  <div class="formgrid grid">
    <div class="field col-12 md:col-6">
      <label htmlfor="activo" class="frm-titulo">Cambio de estado</label>

      <div class="formgroup-inline">
        <div class="field-radiobutton mt-1">
          <p-radioButton
            id="activo1"
            name="activo"
            formControlName="activo"
            [value]="true"
            [tabindex]="0"
          ></p-radioButton>
          <label htmlfor="activo1">Activo</label>
        </div>

        <div class="field-radiobutton mt-1">
          <p-radioButton
            id="activo2"
            name="activo"
            formControlName="activo"
            [value]="false"
            [tabindex]="1"
          ></p-radioButton>
          <label htmlfor="activo2">Inactivo</label>
        </div>
      </div>
    </div>

    <div class="field col-12 md:col-6">
      <label htmlfor="requeridoFuenteExterna" class="frm-titulo"
        >Requerido en fuente externa</label
      >

      <div class="formgroup-inline">
        <div class="field-radiobutton mt-1">
          <p-radioButton
            id="requeridoFE1"
            name="requeridoFuenteExterna"
            formControlName="requeridoFuenteExterna"
            [value]="true"
            [tabindex]="2"
          ></p-radioButton>
          <label htmlfor="requeridoFE1">Si</label>
        </div>

        <div class="field-radiobutton mt-1">
          <p-radioButton
            id="requeridoFE2"
            name="requeridoFuenteExterna"
            formControlName="requeridoFuenteExterna"
            [value]="false"
            [tabindex]="3"
          ></p-radioButton>
          <label htmlfor="requeridoFE2">No</label>
        </div>
      </div>
    </div>

    <div class="field col-12 md:col-6">
      <label htmlfor="requiereAutenticacion" class="frm-titulo"
        >Requiere autenticación</label
      >

      <div class="formgroup-inline">
        <div class="field-radiobutton mt-1">
          <p-radioButton
            id="requiereAutenticacion1"
            name="requiereAutenticacion"
            formControlName="requiereAutenticacion"
            [value]="true"
            (onClick)="fnActivarCamposUsuario(true)"
            [tabindex]="4"
          ></p-radioButton>
          <label htmlfor="requiereAutenticacion1">Si</label>
        </div>

        <div class="field-radiobutton mt-1">
          <p-radioButton
            id="requiereAutenticacion2"
            name="requiereAutenticacion"
            formControlName="requiereAutenticacion"
            [value]="false"
            [tabindex]="5"
          ></p-radioButton>
          <label htmlfor="requiereAutenticacion2">No</label>
        </div>
      </div>
    </div>
  </div>
</form>

<div class="col-12 md:col-12 lg:col-12 gap-2 paginaMHCP-footer">
  <div
    class="col-5 flex justify-content-start"
    *ngIf="frmFuente['requiereAutenticacion'].value === true"
  >
    <button
      pButton
      pRipple
      label="{{ 'Cambiar autenticación' | uppercase }}"
      icon="pi pi-pencil"
      class="p-button-outlined colorVerdeMHCP"
      (click)="fnActivarCamposUsuario(true)"
    ></button>
  </div>

  <div
    [ngClass]="
      frmFuente['requiereAutenticacion'].value === true ? 'col-7' : 'col-12'
    "
    class="flex justify-content-end gap-2"
  >
    <button
      pButton
      pRipple
      icon="pi pi-times"
      label="Cancelar"
      class="colorRojoMHCP"
      (click)="fnCerrarModal()"
    ></button>
    <button
      pButton
      pRipple
      icon="pi pi-save"
      label="Guardar"
      class="p-button-success colorVerdeMHCP"
      type="submit"
      (click)="fnEditarFuenteExterna()"
      [disabled]="frmEditarFuenteExterna.invalid"
    ></button>
  </div>
</div>

<p-dialog
  id="autenticacion"
  [header]="'Modificar autenticación'"
  [(visible)]="bMostrarLogin"
  [style]="{ width: '35vw' }"
  [modal]="true"
  [baseZIndex]="10000"
  [draggable]="false"
  [resizable]="false"
  [closable]="false"
>
  <form
    class="field col-12"
    [formGroup]="frmEditarFuenteExterna"
    autocomplete="off"
  >
    <div class="formgrid grid col-12">
      <div class="field col-6 md:col-6">
        <label htmlfor="usuario" class="frm-titulo">Usuario</label>

        <div class="col-12 p-0">
          <input
            id="usuario"
            type="text"
            pInputText
            placeholder="Ingrese usuario"
            formControlName="usuario"
            [tabindex]="6"
            autofocus
          />
        </div>
      </div>

      <div class="field col-6 md:col-6">
        <label htmlfor="contrasena" class="frm-titulo">Contraseña</label>

        <div class="col-12 p-0">
          <input
            id="contrasena"
            type="password"
            pInputText
            placeholder="Ingrese contraseña"
            formControlName="contrasena"
            [tabindex]="7"
          />
        </div>
      </div>
    </div>

    <div class="col-12 flex justify-content-end mt-5 gap-2">
      <button
        pButton
        pRipple
        icon="pi pi-times"
        label="Cancelar"
        class="colorRojoMHCP"
        (click)="fnCerrarAutenticacion()"
      ></button>
      <button
        pButton
        pRipple
        icon="pi pi-save"
        label="Aceptar"
        class="p-button-success colorVerdeMHCP"
        type="submit"
        (click)="fnEditarAuditoria()"
      ></button>
    </div>
  </form>
</p-dialog>
