<form
  class="col-12 p-0 mt-0"
  [formGroup]="frmBuscarDependencia"
  autocomplete="off"
>
  <div class="formgrid grid">
    <div class="field col-4 md:col-3">
      <label htmlfor="funcionNegocio" class="frm-titulo"
        >Función de negocio
      </label>
      <div class="col-12 p-0">
        <p-dropdown
          filterBy="descripcion"
          placeholder="Seleccione función de negocio"
          formControlName="funcionDependencia"
          optionValue="sigla"
          optionLabel="descripcion"
          class="mt-1"
          [options]="aFuncionNegocio"
          [filter]="false"
          [showClear]="false"
        >
        </p-dropdown>
      </div>
    </div>

    <div class="field col-4 md:col-4">
      <label htmlfor="codigo" class="frm-titulo">Código</label>
      <div class="col-12 p-0">
        <input
          type="text"
          pInputText
          formControlName="codigoDependencia"
          placeholder="Código"
        />
      </div>
    </div>

    <div class="field col-4 md:col-5">
      <label htmlfor="descripcion" class="frm-titulo">Descripción </label>
      <div class="col-12 p-0">
        <input
          type="text"
          pInputText
          formControlName="descripcion"
          placeholder="Descripción"
        />
      </div>
    </div>

    <div class="field col-3 md:col-3">
      <label htmlfor="estado" class="frm-titulo">Estado </label>
      <div class="col-12 p-0">
        <p-dropdown
          filterBy="descripcion"
          placeholder="Seleccione estado"
          formControlName="estado"
          optionValue="sigla"
          optionLabel="descripcion"
          class="mt-1"
          [options]="aEstadoDependencia"
          [filter]="false"
          [showClear]="false"
        >
        </p-dropdown>
      </div>
    </div>

    <div class="field col-3 md:col-5">
      <label htmlfor="asociacionUnidad" class="frm-titulo"
        >Asociación a mi unidad o subunidad ejecutora
        <span class="required">*</span>
      </label>
      <div class="formgroup-inline">
        <div class="col-12 md:col-5 p-0">
          <div class="field-radiobutton mt-1">
            <p-radioButton
              id="mostrarCodigo1"
              name="indicaVinculacion"
              [value]="true"
              class="p-element"
              formControlName="indicaVinculacion"
            ></p-radioButton>
            <label htmlfor="mostrarCodigo1">Vinculadas</label>
          </div>
        </div>

        <div class="col-12 md:col-5 p-0">
          <div class="field-radiobutton mt-1">
            <p-radioButton
              id="mostrarCodigo2"
              name="indicaVinculacion"
              [value]="false"
              class="p-element"
              formControlName="indicaVinculacion"
            ></p-radioButton>
            <label htmlfor="mostrarCodigo2">No Vinculadas</label>
          </div>
        </div>
      </div>
    </div>

    <div
      class="flex justify-content-end col-3 md:col-4 gap-2"
      [ngStyle]="{ 'margin-top': '16px' }"
    >
      <button
        pButton
        pRipple
        label="Limpiar"
        icon="pi pi-eraser"
        class="p-button-outlined colorVerdeMHCP"
        (click)="fnLimpiarFormulario()"
      ></button>

      <button
        pButton
        pRipple
        label="Buscar"
        icon="pi pi-search"
        class="p-button-success"
        (click)="fnBuscarDependencia()"
        [disabled]="frmBuscarDependencia.invalid"
      ></button>
    </div>
  </div>
</form>
