<app-lbl-subtitulo
  subtitulo="Horario del Sistema"
  [bEsSubtituloPrincipal]="false"
></app-lbl-subtitulo>

<div class="field col-12 p-0">
  <p-table
    #dt
    styleClass="p-datatable-gridlines p-datatable-striped"
    [loading]="bLoadingTabla"
    [value]="oListaHorarioSistema"
    [scrollable]="false"
    [tableStyle]="{ 'min-width': '50rem' }"
    [rowHover]="true"
    dataKey="id"
  >
    <ng-template pTemplate="header">
      <tr>
        <th pSortableColumn="horaInicial">
          Hora inicial <p-sortIcon field="horaInicial"></p-sortIcon>
        </th>
        <th pSortableColumn="horaFinal">
          Hora final <p-sortIcon field="horaFinal"></p-sortIcon>
        </th>
      </tr>
    </ng-template>

    <ng-template pTemplate="body" let-oListaHorarioSistema let-ri="rowIndex">
      <tr
        (mouseenter)="fnMostrarOcultarBotones($event, ri, true, 'tb-tlsel')"
        (mouseleave)="fnMostrarOcultarBotones($event, ri, false, 'tb-tlsel')"
        [pSelectableRow]="oListaHorarioSistema"
      >
        <td>{{ oListaHorarioSistema.horaInicial | horaText }}</td>
        <td>{{ oListaHorarioSistema.horaFinal | horaText }}</td>
        <div id="button-{{ ri }}-tb-tlsel" class="no-mostrar">
          <button
            pButton
            pRipple
            Tooltip="Editar"
            tooltipPosition="top"
            type="button"
            icon="pi pi-pencil"
            class="botonTableMHCP p-button-success colorVerdeMHCP"
            (click)="crearEditarHorarioSistemaModal(ri, 'editar')"
          ></button>
          <button
            pButton
            pRipple
            pTooltip="Eliminar"
            tooltipPosition="top"
            type="button"
            icon="pi pi-trash"
            class="botonTableMHCP colorRojoMHCP"
            (click)="eliminarHora(oListaHorarioSistema, ri)"
          ></button>
        </div>
      </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage">
      <tr>
        <td colspan="5">No se han encontrado registrados.</td>
      </tr>
    </ng-template>
  </p-table>
</div>
