<!-- Toast -->
<p-toast></p-toast>

<!-- Diálogo de confirmación -->
<p-confirmDialog
  [style]="{ width: '40vw' }"
  [baseZIndex]="10000"
></p-confirmDialog>

<!-- Código base -->
<div class="grid">
  <div class="col-12 md:col-12 lg:col-12">
    <div class="w-full surface-card border-round espacio-cardMHCP">
      <div class="paginaMHCP">
        <div class="paginaMHCP-contenedor">
          <div class="col-12 md:col-12 lg:col-12 p-0">
            <app-lbl-subtitulo
              [subtitulo]="sTituloComponente"
              [bEsSubtituloPrincipal]="false"
            ></app-lbl-subtitulo>

            <form
              class="col-12 p-0"
              [formGroup]="frmCrearCategoria"
              autocomplete="off"
            >
              <div class="formgrid grid">
                <div class="field col-12 md:col-5">
                  <label htmlfor="sigla" class="frm-titulo"
                    >Nombre de la categoría
                    <span class="required">*</span></label
                  >

                  <input
                    pInputText
                    type="text"
                    placeholder="Escriba nombre de la categoría"
                    class="p-inputtext p-component p-element"
                    formControlName="descripcion"
                  />
                  <small
                    class="form-text text-red-600"
                    *ngIf="campoNoValido('descripcion')"
                  >
                    {{ listaErroresMensajes("descripcion") }}
                  </small>
                </div>

                <div class="field col-12 md:col-4">
                  <label htmlfor="categoria" class="frm-titulo"
                    >Código <span class="required">*</span></label
                  >

                  <input
                    pInputText
                    id="categoria"
                    type="text"
                    placeholder="Escriba el código"
                    class="p-inputtext p-component p-element"
                    formControlName="codigo"
                  />
                  <small
                    class="form-text text-red-600"
                    *ngIf="campoNoValido('codigo')"
                  >
                    {{ listaErroresMensajes("codigo") }}
                  </small>
                </div>

                <div class="field col-12 md:col-3">
                  <label htmlfor="name1" class="frm-titulo">Estado</label>

                  <div class="formgroup-inline">
                    <div class="col-12 md:col-4">
                      <div class="field-radiobutton mt-1">
                        <p-radioButton
                          name="estado"
                          [value]="true"
                          class="p-element"
                          formControlName="estado"
                        ></p-radioButton>
                        <label for="city1">Activo</label>
                      </div>
                    </div>

                    <div class="col-12 md:col-4">
                      <div class="field-radiobutton mt-1">
                        <p-radioButton
                          name="estado"
                          [value]="false"
                          class="p-element"
                          formControlName="estado"
                        ></p-radioButton>
                        <label for="city1">Inactivo</label>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>

        <div class="col-12 md:col-12 lg:col-12 gap-2 paginaMHCP-footer">
          <button
            pButton
            icon="pi pi-times"
            label="Cancelar"
            class="p-button-danger"
            (click)="cancelarCategoria()"
            [disabled]="bDeshabilitatBotones"
          ></button>
          <button
            pButton
            icon="pi pi-save"
            label="Guardar"
            class="p-button-success"
            [disabled]="frmCrearCategoria.invalid || bDeshabilitatBotones"
            (click)="guardarValorCategoria()"
          ></button>
        </div>
      </div>
    </div>
  </div>
</div>
