<!-- Toast -->
<p-toast></p-toast>

<!-- Dialogo de Confirmación -->
<p-confirmDialog
  [style]="{ width: '40vw' }"
  [baseZIndex]="10000"
  [header]="'Cancelar operación'"
></p-confirmDialog>

<!-- Código Base -->
<div class="grid">
  <div class="col-12 md:col-12 lg:col-12">
    <div class="w-full surface-card border-round espacio-cardMHCP">
      <div class="paginaMHCP">
        <div class="paginaMHCP-contenedor">
          <app-lbl-subtitulo
            subtitulo="{{ sAccion | titlecase }} listas de selección"
            [bEsSubtituloPrincipal]="false"
          ></app-lbl-subtitulo>

          <div class="col-12 md:col-12 lg:col-12 espacio-pb30MHCP">
            <form
              class="col-12 p-0"
              [formGroup]="frmCrearListaSeleccion"
              autocomplete="off"
            >
              <div class="formgrid grid">
                <div class="field col-12 md:col-5">
                  <label htmlfor="nombreLista"
                    >Nombre de la lista <span class="required">*</span></label
                  >
                  <div class="col-10 p-0">
                    <input
                      pInputText
                      id="nombreLista"
                      type="text"
                      placeholder="Escriba el nombre de la lista"
                      class="p-inputtext"
                      formControlName="nombreLista"
                    />
                    <small
                      class="p-error"
                      *ngIf="fnValidarCampo('nombreLista')"
                    >
                      {{ fnListarErrorForm("nombreLista") }}
                    </small>
                  </div>
                </div>

                <div class="field col-4">
                  <label htmlfor="mostrarCodigo" class="frm-titulo"
                    >Mostrar el código</label
                  >
                  <div class="formgroup-inline">
                    <div class="col-3 p-0">
                      <div class="field-radiobutton mt-1">
                        <p-radioButton
                          id="mostrarCodigo1"
                          name="mostrarCodigo"
                          [value]="true"
                          class="p-element"
                          formControlName="mostrarCodigo"
                        ></p-radioButton>
                        <label htmlfor="mostrarCodigo1">Si</label>
                      </div>
                    </div>

                    <div class="col-3 p-0">
                      <div class="field-radiobutton mt-1">
                        <p-radioButton
                          id="mostrarCodigo2"
                          name="mostrarCodigo"
                          [value]="false"
                          class="p-element"
                          formControlName="mostrarCodigo"
                        ></p-radioButton>
                        <label htmlfor="mostrarCodigo2">No</label>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </form>
          </div>

          <div class="col-12 md:col-12 lg:col-12 p-0">
            <div class="flex flex-wrap justify-content-end mb-4 gap-2">
              <button
                pButton
                pRipple
                type="button"
                label="Agregar fila"
                icon="pi pi-plus"
                class="p-button-outlined colorAzulMHCP"
                (click)="fnAgregarEditarFila('crear')"
              ></button>

              <button
                pButton
                pRipple
                type="button"
                label="Registro masivo"
                icon="pi pi-calendar-plus"
                class="p-button-outlined colorAzulMHCP"
                [disabled]="true"
              ></button>
            </div>

            <p-table
              #dt
              styleClass="p-datatable-gridlines p-datatable-striped"
              currentPageReportTemplate="Mostrando {first} filas de {totalRecords}"
              selectionMode="single"
              [loading]="bMostrarLoading"
              [value]="oValoresDominio"
              [scrollable]="true"
              [rowHover]="true"
              [paginator]="oValoresDominio.length > 10"
              [rows]="10"
              [rowsPerPageOptions]="[10, 25, 50]"
              [showCurrentPageReport]="true"
            >
              <ng-template pTemplate="header">
                <tr>
                  <th pSortableColumn="sigla">
                    Código <p-sortIcon field="sigla"></p-sortIcon>
                  </th>
                  <th pSortableColumn="descripcion">
                    Descripción <p-sortIcon field="descripcion"></p-sortIcon>
                  </th>
                  <th pSortableColumn="nombre">
                    Nombre <p-sortIcon field="nombre"></p-sortIcon>
                  </th>
                  <th pSortableColumn="pci">
                    PCI <p-sortIcon field="pci"></p-sortIcon>
                  </th>
                  <th pSortableColumn="activo">
                    Estado <p-sortIcon field="activo"></p-sortIcon>
                  </th>
                </tr>
              </ng-template>

              <ng-template pTemplate="body" let-valorDominio let-ri="rowIndex">
                <tr
                  (mouseenter)="
                    fnMostrarOcultarBotones($event, ri, true, 'tb-trclse')
                  "
                  (mouseleave)="
                    fnMostrarOcultarBotones($event, ri, false, 'tb-trclse')
                  "
                  [pSelectableRow]="valorDominio"
                >
                  <td>{{ valorDominio.sigla }}</td>
                  <td>{{ valorDominio.descripcion }}</td>
                  <td>{{ valorDominio.idPerfil }}</td>
                  <td>{{ valorDominio.pci }}</td>
                  <td>
                    {{ valorDominio.activo | convertirBoolean : "ai" }}
                  </td>

                  <div id="button-{{ ri }}-tb-trclse" class="no-mostrar">
                    <button
                      pButton
                      pRipple
                      pTooltip="Editar"
                      tooltipPosition="top"
                      type="button"
                      icon="pi pi-pencil"
                      class="botonTableMHCP p-button-success colorVerdeMHCP"
                      (click)="fnAgregarEditarFila('editar', valorDominio, ri)"
                      [disabled]="fnInhabilitarBoton(valorDominio, 'edit', ri)"
                    ></button>
                    <button
                      pButton
                      pRipple
                      pTooltip="Eliminar"
                      tooltipPosition="top"
                      type="button"
                      icon="pi pi-trash"
                      class="botonTableMHCP colorRojoMHCP"
                      (click)="fnEliminarFila(ri)"
                      [disabled]="fnInhabilitarBoton(valorDominio, 'del', ri)"
                    ></button>
                  </div>
                </tr>
              </ng-template>
              <ng-template pTemplate="emptymessage">
                <tr>
                  <td colspan="6" class="text-center">
                    No se han encontrado registrados.
                  </td>
                </tr>
              </ng-template>
            </p-table>
          </div>
        </div>

        <div class="col-12 md:col-12 lg:col-12 gap-2 paginaMHCP-footer">
          <button
            pButton
            pRipple
            icon="pi pi-times"
            label="Cancelar"
            class="colorRojoMHCP"
            (click)="fnCancelarProceso()"
          ></button>
          <button
            pButton
            pRipple
            icon="pi pi-save"
            label="Guardar"
            class="p-button-success colorVerdeMHCP"
            type="submit"
            (click)="fnGuardarProceso()"
            [disabled]="frmCrearListaSeleccion!.invalid"
          ></button>
        </div>
      </div>
    </div>
  </div>
</div>

<p-dialog
  [header]="'Modificar valores de la lista ' + sListaSeleccion.toLowerCase()"
  [(visible)]="displayModal"
  [modal]="true"
  [style]="{ width: '55vw' }"
  [baseZIndex]="10000"
  [draggable]="false"
  [resizable]="false"
  [closeOnEscape]="true"
>
  <form
    class="col-12 p-0"
    [formGroup]="frmCrearValorDominio"
    autocomplete="off"
  >
    <div class="formgrid grid">
      <div class="field col-4 md:col-4">
        <label htmlfor="codigo" class="frm-titulo"
          >Código <span class="required">*</span></label
        >

        <div class="col-12 p-0">
          <input
            pInputText
            id="codigo"
            type="text"
            placeholder="Agregar código"
            class="p-inputtext"
            formControlName="sigla"
            autofocus
          />
          <small
            class="form-text text-red-600"
            *ngIf="fnValidarCampoValor('sigla')"
          >
            {{ fnListarErrorFormValor("sigla") }}
          </small>
        </div>
      </div>

      <div class="field col-4 md:col-4">
        <label htmlfor="descripcion" class="frm-titulo"
          >Descripción <span class="required">*</span></label
        >

        <div class="col-12 p-0">
          <input
            pInputText
            id="descripcion"
            type="text"
            placeholder="Descripción del valor"
            class="p-inputtext"
            formControlName="descripcion"
          />
          <small
            class="form-text text-red-600"
            *ngIf="fnValidarCampoValor('descripcion')"
          >
            {{ fnListarErrorFormValor("descripcion") }}
          </small>
        </div>
      </div>

      <div class="field col-4 md:col-4">
        <label htmlfor="pci" class="frm-titulo">PCI</label>

        <div class="col-12 p-0">
          <input
            pInputText
            id="pci"
            type="text"
            class="p-inputtext"
            formControlName="entidadPciRegistra"
          />
        </div>
      </div>

      <div class="field col-4 md:col-4">
        <label htmlfor="nombrePerfil" class="frm-titulo">Nombre perfil</label>

        <div class="col-12 p-0">
          <input
            pInputText
            id="nombrePerfil"
            type="text"
            class="p-inputtext"
            formControlName="idPerfilRegistra"
          />
        </div>
      </div>

      <div class="field col-4 md:col-4">
        <label htmlfor="estado" class="frm-titulo"
          >Estado <span class="required">*</span></label
        >

        <div class="col-12 p-0">
          <p-dropdown
            id="estado"
            [options]="oEstado"
            [filter]="false"
            placeholder="Selecionar estado"
            formControlName="activo"
            optionValue="valor"
            optionLabel="id"
          >
          </p-dropdown>
        </div>
      </div>
    </div>
  </form>

  <div class="col-12 md:col-12 lg:col-12 gap-2 paginaMHCP-footer">
    <button
      pButton
      pRipple
      icon="pi pi-times"
      (click)="fnCerrarModal(true)"
      label="Cancelar"
      class="colorRojoMHCP"
    ></button>
    <button
      pButton
      pRipple
      icon="pi pi-save"
      label="Guardar"
      class="p-button-success colorVerdeMHCP"
      type="submit"
      [disabled]="frmCrearValorDominio.invalid"
      (click)="fnCrearValorDominio()"
    ></button>
  </div>
</p-dialog>
