<form class="field col-12 p-0" [formGroup]="formProducto">
    <div class="formgrid grid">
        <div class="field col-12 md:col-4">
            <label htmlfor="name1" class="frm-titulo"
              >Código <span class="required">*</span></label
            >
            <div class="col-12 p-0">
              <input
                #val
                pInputText
                id="name1"
                type="text"
                placeholder="Ingrese Código"
                class="p-inputtext p-component p-element"
                formControlName="codigo"
              />
              <small
                class="form-text text-red-600"
                *ngIf="campoNoValido('nombre')"
              >
                {{ listaErroresMensajesNivel("nombre") }}
              </small>
            </div>
          </div>
      <div class="field col-12 md:col-4">
        <label htmlfor="name1" class="frm-titulo"
          >Nombre <span class="required">*</span></label
        >
        <div class="col-12 p-0">
          <input
            #val
            pInputText
            id="name1"
            type="text"
            placeholder="Ingrese nombre"
            class="p-inputtext p-component p-element"
            formControlName="nombre"
          />
          <small
            class="form-text text-red-600"
            *ngIf="campoNoValido('nombre')"
          >
            {{ listaErroresMensajesNivel("nombre") }}
          </small>
        </div>
      </div>
      <div class="field col-12 md:col-4">
        <label htmlfor="name1" class="frm-titulo"
          >Tipo de Producto <span class="required">*</span></label
        >
        <div class="col-12 p-0">
          <p-dropdown
            [options]="listaTipoDato"
            [(ngModel)]="selectedTipoDato"
            optionLabel="descripcion"
            
            [showClear]="true"
            placeholder="Selecionar tipo de dato"
            formControlName="tipoProducto"
          >
            <ng-template let-tipodato pTemplate="item">
              <div class="tipodato-item">
                <div>{{ tipodato.descripcion }}</div>
              </div>
            </ng-template>
          </p-dropdown>
          <small
            class="form-text text-red-600"
            *ngIf="campoNoValido('tipoProducto')"
          >
            {{ listaErroresMensajesNivel("tipoProducto") }}
          </small>
        </div>
      </div>
      <div class="field col-12 md:col-12">
        <label htmlfor="name1" class="frm-titulo"
          >Descripción <span class="required">*</span></label
        >
        <div class="col-12 p-0">
          <input
            pInputText
            id="name1"
            type="text"
            placeholder="Escriba una cantidad"
            class="p-inputtext p-component p-element"
            formControlName="descripcion"
          />
          <small
            class="form-text text-red-600"
            *ngIf="campoNoValido('descripcion')"
          >
            {{ listaErroresMensajesNivel("descripcion") }}
          </small>
        </div>
      </div>
      <div class="field col-12 md:col-4">
        <label htmlfor="name1" class="frm-titulo"
          >Cantidad Disponible <span class="required">*</span></label
        >
        <div class="col-12 p-0">
          <input
            #val
            pInputText
            id="name1"
            type="text"
            placeholder="Ingrese Cantidad"
            class="p-inputtext p-component p-element"
            formControlName="cantidadDisponible"
          />
          <small
            class="form-text text-red-600"
            *ngIf="campoNoValido('orden')"
          >
            {{ listaErroresMensajesNivel("orden") }}
          </small>
        </div>
      </div>
      <div class="field col-12 md:col-4">
        <label htmlfor="name1" class="frm-titulo"
          >Estado <span class="required">*</span></label
        >
        <div class="col-12 p-0">
          {{formControls['estado'] | estadoPipe}}
          <small
            class="form-text text-red-600"
            *ngIf="campoNoValido('orden')"
          >
            {{ listaErroresMensajesNivel("orden") }}
          </small>
        </div>
      </div>
    </div>
  </form>
  <div class="col-12 flex justify-content-end mt-3 gap-2 p-0">
    <button
      pButton
      pRipple
      label="Cancelar"
      class="colorRojoMHCP"
      icon="pi pi-times"
      [style]="{ width: '8.5rem' }"
      (click)="cancelar()"
    ></button>
    <button
      pButton
      pRipple
      label="ACEPTAR"
      class="p-button-success colorVerdeMHCP"
      icon="pi pi-check"
      [style]="{ width: '8.5rem' }"
      [disabled]="formProducto.invalid"
      (click)="aceptar()"
    ></button>
  </div>