<div
  *ngIf="bMostrarComponente && bModalDatosAdministrativos && bEsModalFlotante"
>
  <p-confirmDialog
    [style]="{ width: '50vw' }"
    [baseZIndex]="10000"
  ></p-confirmDialog>
  <p-dialog
    [header]="'Diligenciar datos administrativos'"
    [(visible)]="bModalDatosAdministrativos"
    [modal]="true"
    [style]="{ width: '50vw' }"
    [baseZIndex]="10000"
    [draggable]="false"
    [resizable]="false"
    [closable]="false"
  >
    <div class="row">
      <form [formGroup]="frmDatosAdministrativos">
        <div class="formgrid grid p-fluid">
          <div class="field col-12 md:col-4">
            <label htmlfor="name1" class="frm-titulo"
              >Fecha documento de soporte<span class="required">*</span>
            </label>
            <p-calendar
              [showIcon]="true"
              placeholder="AAA/MM/DD"
              dateFormat="yy-mm-dd"
              dataType="string"
              formControlName="fechaIngreso"
            ></p-calendar>
            <small
              class="form-text text-red-600"
              *ngIf="campoNoValido('fechaIngreso')"
            >
              {{ listaErroresMensaje("fechaIngreso") }}
            </small>
          </div>

          <div class="field col-12 md:col-4">
            <label htmlfor="name1" class="frm-titulo"
              >Tipo documento soporte<span class="required">*</span>
            </label>
            <p-dropdown
              [options]="oListaTipoDocumento"
              [(ngModel)]="selectedItem2"
              [filter]="true"
              filterBy="descripcion"
              [showClear]="false"
              placeholder="Seleccione"
              formControlName="documentoSoporte"
              optionLabel="descripcion"
              optionValue="sigla"
            >
            </p-dropdown>
            <small
              class="form-text text-red-600"
              *ngIf="campoNoValido('documentoSoporte')"
            >
              {{ listaErroresMensaje("documentoSoporte") }}
            </small>
          </div>

          <div class="field col-12 md:col-4">
            <label htmlfor="name1" class="frm-titulo"
              >Número de documento<span class="required">*</span>
            </label>
            <input
              type="number"
              class="w-full"
              pInputText
              placeholder="Ingrese el número de documento"
              min="1"
              formControlName="numeroDocumentoSoporte"
            />
            <small
              class="form-text text-red-600"
              *ngIf="campoNoValido('numeroDocumentoSoporte')"
            >
              {{ listaErroresMensaje("numeroDocumentoSoporte") }}
            </small>
          </div>
        </div>

        <div class="formgrid grid p-fluid">
          <div class="field col-12 md:col-4">
            <label htmlfor="name1" class="frm-titulo"
              >Nombre del funcionario
            </label>
            <input
              pInputText
              id="name1"
              type="text"
              placeholder="Escriba nombre de funcionario"
              formControlName="nombreFuncionario"
              class="p-inputtext p-component p-element"
            />
            <small
              class="form-text text-red-600"
              *ngIf="campoNoValido('nombreFuncionario')"
            >
              {{ listaErroresMensaje("nombreFuncionario") }}
            </small>
          </div>

          <div class="field col-12 md:col-4">
            <label htmlfor="name1" class="frm-titulo"
              >Cargo del funcionario
            </label>
            <input
              pInputText
              id="name1"
              type="text"
              placeholder="Escriba cargo de funcionario"
              formControlName="cargoFuncionario"
              class="p-inputtext p-component p-element"
            />
            <small
              class="form-text text-red-600"
              *ngIf="campoNoValido('cargoFuncionario')"
            >
              {{ listaErroresMensaje("cargoFuncionario") }}
            </small>
          </div>

          <div class="field col-12 md:col-4">
            <label htmlfor="name1" class="frm-titulo"
              >Expedidor<span class="required">*</span>
            </label>
            <p-dropdown
              [options]="oListaExpedidor"
              [(ngModel)]="selectedItem"
              [filter]="true"
              filterBy="descripcion"
              [showClear]="false"
              placeholder="Seleccione"
              formControlName="expedidor"
              optionLabel="descripcion"
              optionValue="sigla"
            >
            </p-dropdown>
            <small
              class="form-text text-red-600"
              *ngIf="campoNoValido('expedidor')"
            >
              {{ listaErroresMensaje("expedidor") }}
            </small>
          </div>
        </div>

        <div class="formgrid grid p-fluid">
          <div class="field col-12 md:col-12">
            <label htmlfor="name1" class="frm-titulo"
              >Notas y comentarios
            </label>
            <textarea
              rows="5"
              cols="80"
              pInputTextarea
              formControlName="observaciones"
              placeholder="Escriba notas y comentarios"
            ></textarea>
          </div>
        </div>
      </form>
    </div>

    <div class="col-12 flex justify-content-end mt-3 mb-3 gap-2">
      <button
        pButton
        pRipple
        icon="pi pi-times"
        label="Cancelar"
        class="colorRojoMHCP"
        (click)="cancelar()"
      ></button>
      <button
        pButton
        pRipple
        icon="pi pi-check"
        label="Aceptar"
        class="p-button-success colorVerdeMHCP"
        type="submit"
        (click)="crearDatosAdministrativos()"
        [disabled]="frmDatosAdministrativos.invalid"
      ></button>
    </div>
  </p-dialog>
</div>
<div
  *ngIf="bMostrarComponente && !bModalDatosAdministrativos && !bEsModalFlotante"
>
  <div class="row">
    <form [formGroup]="frmDatosAdministrativos">
      <div class="formgrid grid p-fluid">
        <div class="field col-12 md:col-4">
          <label htmlfor="name1" class="frm-titulo"
            >Fecha documento de soporte<span class="required">*</span>
          </label>
          <p-calendar
            [showIcon]="true"
            placeholder="AAA/MM/DD"
            dateFormat="yy-mm-dd"
            dataType="string"
            formControlName="fechaIngreso"
          ></p-calendar>
          <small
            class="form-text text-red-600"
            *ngIf="campoNoValido('fechaIngreso')"
          >
            {{ listaErroresMensaje("fechaIngreso") }}
          </small>
        </div>

        <div class="field col-12 md:col-4">
          <label htmlfor="name1" class="frm-titulo"
            >Tipo documento soporte<span class="required">*</span>
          </label>
          <p-dropdown
            [options]="oListaTipoDocumento"
            [(ngModel)]="selectedItem2"
            [filter]="true"
            filterBy="descripcion"
            [showClear]="false"
            placeholder="Seleccione"
            formControlName="documentoSoporte"
            optionLabel="descripcion"
            optionValue="sigla"
          >
          </p-dropdown>
          <small
            class="form-text text-red-600"
            *ngIf="campoNoValido('documentoSoporte')"
          >
            {{ listaErroresMensaje("documentoSoporte") }}
          </small>
        </div>

        <div class="field col-12 md:col-4">
          <label htmlfor="name1" class="frm-titulo"
            >Número de documento<span class="required">*</span>
          </label>
          <input
            type="number"
            class="w-full"
            pInputText
            placeholder="Ingrese el número de documento"
            min="1"
            formControlName="numeroDocumentoSoporte"
          />
          <small
            class="form-text text-red-600"
            *ngIf="campoNoValido('numeroDocumentoSoporte')"
          >
            {{ listaErroresMensaje("numeroDocumentoSoporte") }}
          </small>
        </div>
      </div>

      <div class="formgrid grid p-fluid">
        <div class="field col-12 md:col-4">
          <label htmlfor="name1" class="frm-titulo"
            >Nombre del funcionario
          </label>
          <input
            pInputText
            id="name1"
            type="text"
            placeholder="Escriba nombre de funcionario"
            formControlName="nombreFuncionario"
            class="p-inputtext p-component p-element"
          />
          <small
            class="form-text text-red-600"
            *ngIf="campoNoValido('nombreFuncionario')"
          >
            {{ listaErroresMensaje("nombreFuncionario") }}
          </small>
        </div>

        <div class="field col-12 md:col-4">
          <label htmlfor="name1" class="frm-titulo"
            >Cargo del funcionario
          </label>
          <input
            pInputText
            id="name1"
            type="text"
            placeholder="Escriba cargo de funcionario"
            formControlName="cargoFuncionario"
            class="p-inputtext p-component p-element"
          />
          <small
            class="form-text text-red-600"
            *ngIf="campoNoValido('cargoFuncionario')"
          >
            {{ listaErroresMensaje("cargoFuncionario") }}
          </small>
        </div>

        <div class="field col-12 md:col-4">
          <label htmlfor="name1" class="frm-titulo"
            >Expedidor<span class="required">*</span>
          </label>
          <p-dropdown
            [options]="oListaExpedidor"
            [(ngModel)]="selectedItem"
            [filter]="true"
            filterBy="descripcion"
            [showClear]="false"
            placeholder="Seleccione"
            formControlName="expedidor"
            optionLabel="descripcion"
            optionValue="sigla"
          >
          </p-dropdown>
          <small
            class="form-text text-red-600"
            *ngIf="campoNoValido('expedidor')"
          >
            {{ listaErroresMensaje("expedidor") }}
          </small>
        </div>
      </div>

      <div class="formgrid grid p-fluid">
        <div class="field col-12 md:col-12">
          <label htmlfor="name1" class="frm-titulo">Notas y comentarios </label>
          <textarea
            rows="5"
            cols="80"
            pInputTextarea
            formControlName="observaciones"
            placeholder="Escriba notas y comentarios"
          ></textarea>
        </div>
      </div>
    </form>
  </div>

  <div
    *ngIf="bMostrarBotones"
    class="col-12 flex justify-content-end mt-3 mb-3 gap-2"
  >
    <button
      pButton
      pRipple
      icon="pi pi-times"
      label="Cancelar"
      class="colorRojoMHCP"
      (click)="cancelar()"
    ></button>
    <button
      pButton
      pRipple
      icon="pi pi-check"
      label="Aceptar"
      class="p-button-success colorVerdeMHCP"
      type="submit"
      (click)="crearDatosAdministrativos()"
      [disabled]="frmDatosAdministrativos.invalid"
    ></button>
  </div>
</div>
