<div class="col-12 espacio-pb30MHCP">
  <app-lbl-subtitulo
    subtitulo="Botones énfasis"
    [bEsSubtituloPrincipal]="false"
  ></app-lbl-subtitulo>

  <div class="flex flex-row flex-wrap card-container blue-container gap-2">
    <button
      pButton
      pRipple
      label="Aceptar"
      icon="pi pi-check"
      class="p-button-success"
    ></button>

    <button
      pButton
      pRipple
      type="button"
      icon="pi pi-times"
      label="Cancelar"
      class="colorRojoMHCP"
    ></button>

    <button
      pButton
      pRipple
      label="Aceptar"
      icon="pi pi-check"
      class="p-button-success"
      [disabled]="true"
    ></button>
  </div>

  <p-divider></p-divider>
</div>

<div class="col-12 espacio-pb30MHCP">
  <app-lbl-subtitulo
    subtitulo="Botones Outlined"
    [bEsSubtituloPrincipal]="false"
  ></app-lbl-subtitulo>

  <div class="flex flex-row flex-wrap card-container blue-container gap-2">
    <button
      pButton
      pRipple
      label="Limpiar filtros"
      icon="pi pi-eraser"
      class="p-button-outlined colorVerdeMHCP"
    ></button>

    <button
      pButton
      pRipple
      label="Descartar"
      icon="pi pi-close"
      class="p-button-outlined colorRojoMHCP"
    ></button>

    <button
      pButton
      pRipple
      type="button"
      label="Agregar fila"
      icon="pi pi-plus"
      class="p-button-outlined colorAzulMHCP"
    ></button>

    <button
      pButton
      pRipple
      type="button"
      icon="pi pi-external-link"
      label="Ver Modal"
      class="p-button-outlined colorGrisMHCP"
    ></button>

    <button
      pButton
      pRipple
      type="button"
      label="Registro masivo"
      icon="pi pi-calendar-plus"
      class="p-button-outlined colorAzulMHCP"
      [disabled]="true"
    ></button>
  </div>

  <p-divider></p-divider>
</div>

<div class="col-12 espacio-pb30MHCP">
  <app-lbl-subtitulo
    subtitulo="Acciones masivas"
    [bEsSubtituloPrincipal]="false"
  ></app-lbl-subtitulo>

  <h6><i class="pi pi-exclamation-triangle"></i> En contrucción...</h6>

  <p-divider></p-divider>
</div>
