<!-- Toast -->
<p-toast></p-toast>

<!-- Diálogo de confirmación -->
<p-confirmDialog
  [style]="{ width: '40vw' }"
  [baseZIndex]="10000"
></p-confirmDialog>

<!-- Código base -->
<div class="grid">
  <div class="col-12 md:col-12 lg:col-12">
    <div class="w-full surface-card border-round espacio-cardMHCP">
      <div class="paginaMHCP">
        <div class="flex col-12 md:col-12 lg:col-12 paginaMHCP-header">
          <div class="col-8 md:col-8 lg:col-8 p-0 paginaMHCP-header-titulo">
            <app-lbl-titulo
              [titulo]="sTitulo"
              [descripcion]="sSubtitulo"
            ></app-lbl-titulo>
          </div>
        </div>

        <div class="paginaMHCP-contenedor">
          <div class="col-12 md:col-12 lg:col-12 p-0">
            <app-lbl-subtitulo
              subtitulo="Detalle de Transacción"
              [bEsSubtituloPrincipal]="false"
            ></app-lbl-subtitulo>

            <form
              class="col-12 p-0"
              autocomplete="off"
              [formGroup]="frmCrearTransaccion"
            >
              <p-tabView>
                <p-tabPanel header="Transacciones">
                  <div class="formgrid grid">
                    <div
                      class="field col-12 md:col-6"
                      *ngIf="sAccion == 'crear'"
                    >
                      <label htmlfor="estado" class="frm-titulo"
                        >Transacción del Sistema</label
                      >

                      <p-dropdown
                        [options]="aTransaccionesPendientes"
                        [filter]="false"
                        filterBy="valor"
                        [showClear]="false"
                        placeholder="Seleccione..."
                        optionValue="id"
                        optionLabel="codigo"
                        class="mt-1"
                        (onChange)="
                          cargarDatosTransaccionSinCategoria($event.value)
                        "
                      >
                      </p-dropdown>
                    </div>
                    <div class="field col-12 md:col-4">
                      <label htmlfor="codigo" class="frm-titulo"
                        >Código de la transacción
                        <span class="required">*</span></label
                      >

                      <input
                        pInputText
                        id="codigo"
                        type="text"
                        placeholder="Escriba el código"
                        class="p-inputtext p-component p-element"
                        formControlName="codigo"
                      />
                      <small
                        class="form-text text-red-600"
                        *ngIf="campoNoValido('codigo')"
                      >
                        {{ listaErroresMensajes("codigo") }}
                      </small>
                    </div>

                    <div class="field col-12 md:col-12">
                      <label htmlfor="nombre" class="frm-titulo"
                        >Nombre de la transacción
                        <span class="required">*</span></label
                      >
                      <input
                        pInputText
                        id="nombre"
                        type="text"
                        placeholder="Escriba el nombre de la transacción"
                        class="p-inputtext p-component p-element"
                        formControlName="nombre"
                      />
                      <small
                        class="form-text text-red-600"
                        *ngIf="campoNoValido('nombre')"
                      >
                        {{ listaErroresMensajes("nombre") }}
                      </small>
                    </div>

                    <div class="field col-12 md:col-12">
                      <label htmlfor="descripcion" class="frm-titulo"
                        >Descripción de transacción</label
                      >
                      <input
                        pInputText
                        id="descripcion"
                        type="text"
                        placeholder="Escriba la descripción de la transacción"
                        class="p-inputtext p-component p-element"
                        formControlName="descripcion"
                      />
                      <small
                        class="form-text text-red-600 col-12 justify-content-end"
                        *ngIf="campoNoValido('descripcion')"
                      >
                        <br />
                        {{ listaErroresMensajes("descripcion") }}
                      </small>
                    </div>

                    <div class="field col-12 md:col-6">
                      <label htmlfor="tipo" class="frm-titulo"
                        >Tipo de transacción
                        <span class="required">*</span></label
                      >
                      <p-dropdown
                        [options]="aTipoTransaccion"
                        [filter]="false"
                        filterBy="descripcion"
                        [showClear]="false"
                        placeholder="Seleccione..."
                        formControlName="tipo"
                        optionValue="sigla"
                        optionLabel="descripcion"
                        class="mt-1"
                        (onChange)="verificarTipoTransaccion($event.value)"
                      >
                      </p-dropdown>
                      <small
                        class="form-text text-red-600"
                        *ngIf="campoNoValido('tipo')"
                      >
                        {{ listaErroresMensajes("tipo") }}
                      </small>
                    </div>

                    <div class="field col-12 md:col-6">
                      <label htmlfor="funcionNegocio" class="frm-titulo"
                        >Función de negocio
                        <span class="required">*</span></label
                      >
                      <p-dropdown
                        [options]="aFuncionNegocio"
                        [filter]="false"
                        filterBy="descripcion"
                        [showClear]="false"
                        placeholder="Seleccione..."
                        formControlName="funcionNegocio"
                        optionValue="sigla"
                        optionLabel="descripcion"
                        class="mt-1"
                      >
                      </p-dropdown>
                      <small
                        class="form-text text-red-600"
                        *ngIf="campoNoValido('funcionNegocio')"
                      >
                        {{ listaErroresMensajes("funcionNegocio") }}
                      </small>
                    </div>

                    <div class="field col-12 md:col-6">
                      <label htmlfor="categoria" class="frm-titulo"
                        >Categoría de transacción
                        <span class="required">*</span></label
                      >
                      <p-dropdown
                        [options]="aCategorias"
                        [filter]="false"
                        filterBy="sigla"
                        [showClear]="false"
                        placeholder="Seleccione..."
                        formControlName="categoria"
                        optionValue="sigla"
                        optionLabel="descripcion"
                        class="mt-1"
                        (onChange)="cambiarCategoria($event.value)"
                      >
                      </p-dropdown>
                      <small
                        class="form-text text-red-600"
                        *ngIf="campoNoValido('categoria')"
                      >
                        {{ listaErroresMensajes("categoria") }}
                      </small>
                    </div>

                    <div class="field col-12 md:col-6">
                      <label htmlfor="estado" class="frm-titulo"
                        >Estado de la transacción
                        <span class="required">*</span></label
                      >

                      <p-dropdown
                        [options]="aEstadoTransaccion"
                        [filter]="false"
                        filterBy="valor"
                        [showClear]="false"
                        placeholder="Seleccione..."
                        formControlName="estado"
                        optionValue="valor"
                        optionLabel="estado"
                        class="mt-1"
                      >
                      </p-dropdown>
                    </div>
                  </div>
                </p-tabPanel>
                <p-tabPanel
                  [disabled]="
                    controlsForm['tipo'].value === 'REPO' ||
                    controlsForm['tipo'].value === ''
                  "
                  header="Otros datos"
                >
                  <div class="formgrid grid">
                    <div
                      class="col-12 md:col-12"
                      *ngIf="controlsForm['tipo'].value !== 'CONS'"
                    >
                      <app-lbl-subtitulo
                        subtitulo="Log Auditoria"
                        [bEsSubtituloPrincipal]="false"
                      ></app-lbl-subtitulo>
                    </div>
                    <div
                      class="col-4"
                      [ngStyle]="{ 'padding-bottom': '30px' }"
                      *ngIf="controlsForm['tipo'].value !== 'CONS'"
                    >
                      <label htmlfor="logAuditoria" class="frm-titulo"
                        >Generar Log de Auditoría</label
                      >
                      <div class="formgroup-inline">
                        <div class="col-12 md:col-3">
                          <div class="field-radiobutton mt-1">
                            <p-radioButton
                              name="logAuditoria"
                              [value]="true"
                              class="p-element"
                              formControlName="logAuditoria"
                              (onClick)="
                                validarChecks(
                                  $event.value,
                                  'logAuditoria',
                                  'logAuditoria'
                                )
                              "
                            ></p-radioButton>
                            <label for="logAuditoria">Si</label>
                          </div>
                        </div>

                        <div class="col-12 md:col-3">
                          <div class="field-radiobutton mt-1">
                            <p-radioButton
                              name="logAuditoria"
                              [value]="false"
                              class="p-element"
                              formControlName="logAuditoria"
                              (onClick)="
                                validarChecks(
                                  $event.value,
                                  'logAuditoria',
                                  'logAuditoria'
                                )
                              "
                            ></p-radioButton>
                            <label for="logAuditoria">No</label>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div
                      class="field col-4"
                      *ngIf="controlsForm['tipo'].value !== 'CONS'"
                    >
                      <label htmlfor="requerimientoSeguridad" class="frm-titulo"
                        >Alto Requerimiento de Seguridad</label
                      >
                      <div class="formgroup-inline">
                        <div class="col-12 md:col-3">
                          <div class="field-radiobutton mt-1">
                            <p-radioButton
                              name="requerimientoSeguridad"
                              [value]="true"
                              class="p-element"
                              formControlName="requerimientoSeguridad"
                              (onClick)="
                                validarChecks(
                                  $event.value,
                                  'logAuditoria',
                                  'requerimientoSeguridad'
                                )
                              "
                            ></p-radioButton>
                            <label for="requerimientoSeguridad">Si</label>
                          </div>
                        </div>

                        <div class="col-12 md:col-3">
                          <div class="field-radiobutton mt-1">
                            <p-radioButton
                              name="requerimientoSeguridad"
                              [value]="false"
                              class="p-element"
                              formControlName="requerimientoSeguridad"
                              (onClick)="
                                validarChecks(
                                  $event.value,
                                  'logAuditoria',
                                  'requerimientoSeguridad'
                                )
                              "
                            ></p-radioButton>
                            <label for="requerimientoSeguridad">No</label>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div
                      class="field col-4"
                      *ngIf="controlsForm['tipo'].value !== 'CONS'"
                    >
                      <label htmlfor="valorRequerimiento" class="frm-titulo"
                        >Tipo de Evidencia Digital</label
                      >
                      <p-dropdown
                        [options]="aValorRequerimientoSeguridad"
                        [filter]="false"
                        filterBy="descripcion"
                        [showClear]="false"
                        placeholder="Seleccione..."
                        formControlName="valorRequerimiento"
                        optionValue="sigla"
                        optionLabel="descripcion"
                        class="mt-1"
                        emptyFilterMessage="No se encontraron resultados"
                      >
                      </p-dropdown>
                    </div>

                    <div
                      class="col-12 md:col-12"
                      *ngIf="controlsForm['tipo'].value !== 'CONS'"
                    >
                      <app-lbl-subtitulo
                        subtitulo="Afectación Contable"
                        [bEsSubtituloPrincipal]="false"
                      ></app-lbl-subtitulo>
                    </div>
                    <div
                      class="col-12 md:col-4"
                      style="padding-bottom: 30px !important"
                      *ngIf="controlsForm['tipo'].value !== 'CONS'"
                    >
                      <label htmlfor="contabiliza" class="frm-titulo"
                        >Contabiliza</label
                      >
                      <div class="formgroup-inline">
                        <div class="col-12 md:col-3">
                          <div class="field-radiobutton mt-1">
                            <p-radioButton
                              name="contabiliza"
                              [value]="true"
                              class="p-element"
                              formControlName="contabiliza"
                              (onClick)="
                                validarChecks(
                                  $event.value,
                                  'contabiliza',
                                  'contabiliza'
                                )
                              "
                            ></p-radioButton>
                            <label for="contabiliza">Si</label>
                          </div>
                        </div>
                        <div class="col-12 md:col-3">
                          <div class="field-radiobutton mt-1">
                            <p-radioButton
                              name="contabiliza"
                              [value]="false"
                              class="p-element"
                              formControlName="contabiliza"
                              (onClick)="
                                validarChecks(
                                  $event.value,
                                  'contabiliza',
                                  'contabiliza'
                                )
                              "
                            ></p-radioButton>
                            <label for="contabiliza">No</label>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div
                      class="field col-12 md:col-4"
                      *ngIf="controlsForm['tipo'].value !== 'CONS'"
                    >
                      <label htmlfor="contabilizaAuto" class="frm-titulo"
                        >Contabiliza Automáticamente</label
                      >
                      <div class="formgroup-inline">
                        <div class="col-12 md:col-3">
                          <div class="field-radiobutton mt-1">
                            <p-radioButton
                              name="contabilizaAuto"
                              [value]="true"
                              class="p-element"
                              formControlName="contabilizaAuto"
                              (onClick)="
                                validarChecks(
                                  $event.value,
                                  'contabiliza',
                                  'contabilizaAuto'
                                )
                              "
                            ></p-radioButton>
                            <label for="contabilizaAuto">Si</label>
                          </div>
                        </div>
                        <div class="col-12 md:col-3">
                          <div class="field-radiobutton mt-1">
                            <p-radioButton
                              name="contabilizaAuto"
                              [value]="false"
                              class="p-element"
                              formControlName="contabilizaAuto"
                              (onClick)="
                                validarChecks(
                                  $event.value,
                                  'contabiliza',
                                  'contabilizaAuto'
                                )
                              "
                            ></p-radioButton>
                            <label for="contabilizaAuto">No</label>
                          </div>
                        </div>
                      </div>
                    </div>

                    <div
                      class="col-12 md:col-12"
                      *ngIf="controlsForm['tipo'].value !== 'CONS'"
                    >
                      <app-lbl-subtitulo
                        subtitulo="Datos Administrativos"
                        [bEsSubtituloPrincipal]="false"
                      ></app-lbl-subtitulo>
                    </div>
                    <div
                      class="col-12 md:col-4"
                      style="padding-bottom: 30px !important"
                      *ngIf="controlsForm['tipo'].value !== 'CONS'"
                    >
                      <label htmlfor="datosAdministrativos" class="frm-titulo"
                        >Servicio de Datos Administrativos</label
                      >
                      <div class="formgroup-inline">
                        <div class="col-12 md:col-3">
                          <div class="field-radiobutton mt-1">
                            <p-radioButton
                              name="datosAdministrativos"
                              [value]="true"
                              class="p-element"
                              formControlName="datosAdministrativos"
                              (onClick)="
                                validarChecks(
                                  $event.value,
                                  'datosAdministrativos',
                                  'datosAdministrativos'
                                )
                              "
                            ></p-radioButton>
                            <label for="datosAdministrativos">Si</label>
                          </div>
                        </div>
                        <div class="col-12 md:col-3">
                          <div class="field-radiobutton mt-1">
                            <p-radioButton
                              name="datosAdministrativos"
                              [value]="false"
                              class="p-element"
                              formControlName="datosAdministrativos"
                              (onClick)="
                                validarChecks(
                                  $event.value,
                                  'datosAdministrativos',
                                  'datosAdministrativos'
                                )
                              "
                            ></p-radioButton>
                            <label for="datosAdministrativos">No</label>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div
                      class="field col-12 md:col-12"
                      *ngIf="controlsForm['tipo'].value === 'CONS'"
                    >
                      <app-lbl-subtitulo
                        subtitulo="Consulta Asincrónica"
                      ></app-lbl-subtitulo>
                    </div>
                    <div
                      class="field col-12 md:col-4"
                      *ngIf="controlsForm['tipo'].value === 'CONS'"
                    >
                      <label htmlfor="consultaAsincrona" class="frm-titulo"
                        >Consulta Asíncrona</label
                      >
                      <div class="formgroup-inline">
                        <div class="col-12 md:col-3">
                          <div class="field-radiobutton mt-1">
                            <p-radioButton
                              name="consultaAsincrona"
                              [value]="true"
                              class="p-element"
                              formControlName="consultaAsincrona"
                            ></p-radioButton>
                            <label for="consultaAsincrona">Si</label>
                          </div>
                        </div>
                        <div class="col-12 md:col-3">
                          <div class="field-radiobutton mt-1">
                            <p-radioButton
                              name="consultaAsincrona"
                              [value]="false"
                              class="p-element"
                              formControlName="consultaAsincrona"
                            ></p-radioButton>
                            <label for="consultaAsincrona">No</label>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="field col-12 md:col-8"></div>
                    <hr
                      width="100%"
                      *ngIf="controlsForm['tipo'].value !== 'CONS'"
                    />
                    <div
                      class="field col-12 md:col-4"
                      *ngIf="
                        controlsForm['tipo'].value !== 'CONS' &&
                        controlsForm['tipo'].value === 'TRAN'
                      "
                    >
                      <label htmlfor="maxRegistroMasivo" class="frm-titulo"
                        >Cantidad Máxima Registro masivo<span class="required"
                          >*</span
                        ></label
                      >
                      <input
                        pInputText
                        id="maxRegistroMasivo"
                        type="text"
                        placeholder="Escriba la cantidad"
                        class="p-inputtext p-component p-element text-right"
                        formControlName="maxRegistroMasivo"
                      />
                      <small
                        class="form-text text-red-600"
                        *ngIf="campoNoValido('maxRegistroMasivo')"
                      >
                        {{ listaErroresMensajes("maxRegistroMasivo") }}
                      </small>
                    </div>
                    <div
                      class="field col-12 md:col-4"
                      *ngIf="
                        controlsForm['tipo'].value !== 'CONS' &&
                        controlsForm['tipo'].value !== 'TRAN'
                      "
                    >
                      <label htmlfor="maxCargaLinea" class="frm-titulo"
                        >Cantidad Máxima Carga línea<span class="required"
                          >*</span
                        ></label
                      >

                      <input
                        pInputText
                        id="maxCargaLinea"
                        type="text"
                        placeholder="Escriba el código"
                        class="p-inputtext p-component p-element text-right"
                        formControlName="maxCargaLinea"
                      />
                      <small
                        class="form-text text-red-600"
                        *ngIf="campoNoValido('maxCargaLinea')"
                      >
                        {{ listaErroresMensajes("maxCargaLinea") }}
                      </small>
                    </div>
                    <div
                      class="field col-12 md:col-4"
                      *ngIf="
                        controlsForm['tipo'].value !== 'CONS' &&
                        controlsForm['tipo'].value !== 'TRAN'
                      "
                    >
                      <label htmlfor="maxCargaAsincrona" class="frm-titulo"
                        >Cantidad Máxima Carga Asíncrona<span class="required"
                          >*</span
                        ></label
                      >
                      <input
                        pInputText
                        id="maxCargaAsincrona"
                        type="text"
                        placeholder="Escriba el código"
                        class="p-inputtext p-component p-element text-right"
                        formControlName="maxCargaAsincrona"
                      />
                      <small
                        class="form-text text-red-600"
                        *ngIf="campoNoValido('maxCargaAsincrona')"
                      >
                        {{ listaErroresMensajes("maxCargaAsincrona") }}
                      </small>
                    </div>
                  </div>
                </p-tabPanel>
              </p-tabView>
            </form>
          </div>
        </div>

        <div class="col-12 md:col-12 lg:col-12 gap-2 paginaMHCP-footer">
          <button
            pButton
            icon="pi pi-times"
            label="Cancelar"
            class="p-button-danger"
            (click)="cancelar()"
            [disabled]="bDeshabilitarBotones"
          ></button>
          <button
            pButton
            icon="pi pi-save"
            class="p-button-success"
            label="Guardar"
            (click)="validarTransaccion()"
            [disabled]="frmCrearTransaccion.invalid || bDeshabilitarBotones"
          ></button>
        </div>
      </div>
    </div>
  </div>
</div>
