<!-- Toast -->
<app-lbl-toast-acciones
  sTitulo="Exitoso"
  sMensajePrimario="Se creo correctamente la persona {{
    sTextoTipoPersona
  }} en el sistema con el Tipo de identificación y número de identificación {{
    sTextoTipoDocumento + ' ' + sTextoNumeroDocumento
  }}."
  sMensajeSecundario="¿Desea adicionar cuenta"
  (oClick)="fnCargarEvento()"
></app-lbl-toast-acciones>
<p-toast></p-toast>

<!-- Dialogo de Confirmación -->
<p-confirmDialog
  [style]="{ width: '40vw' }"
  [baseZIndex]="10000"
  [header]="'Cancelar operación'"
></p-confirmDialog>

<div class="paginaMHCP mt-4">
  <div class="paginaMHCP-contenedor">
    <div class="col-12 md:col-12 lg:col-12 espacio-pb30MHCP">
      <app-datos-administrativos
        [bMostrarComponente]="bMostrarComponente"
        [bModalDatosAdministrativos]="false"
        [bMostrarBotones]="false"
        [sIdRegistro]="sIdRegistro"
        [sCodigoFuncionalidad]="sCodigoFuncionalidad"
        [sTabla]="sTabla"
        [oAcciones]="oAcciones"
        [bGuardarDatos]="bGuardarDatos"
      >
      </app-datos-administrativos>
    </div>
  </div>

  <div
    class="w-full flex flex-column md:flex-column lg:flex-row gap-5 justify-content-between"
  >
    <div class="flex flex-column justify-content-start">
      <button
        pButton
        pRipple
        label="ANTERIOR"
        class="p-button-outlined colorVerdeMHCP"
        icon="pi pi-step-backward"
        iconPos="left"
        (click)="anterior()"
      ></button>
    </div>
    <div class="flex flex-row gap-2 justify-content-end align-content-center">
      <button
        pButton
        pRipple
        icon="pi pi-times"
        label="Cancelar"
        class="colorRojoMHCP"
        (click)="cancelar()"
      ></button>
      <button
        pButton
        pRipple
        icon="pi pi-save"
        label="Guardar"
        class="p-button-success colorVerdeMHCP"
        type="submit"
        (click)="guardarTercero()"
      ></button>
    </div>
  </div>
</div>
