<!-- Filtros Genéricos -->
<app-filtro-perfiles
  [sTituloHeader]="'Buscar Perfil'"
  [oInformacionFiltro]="aTransaccionesPerfil"
  [oCamposFormulario]="oCamposFormularioPerfiles"
  [bEsMultiple]="false"
  [bDevolverSoloID]="false"
  [bAbrirFiltro]="bAbrirFiltroPerfil"
  [bGuardarLocalStorage]="true"
  (bCerrarFiltro)="fnObtenerCierreFiltroPerfil($event)"
  (aPerfilesEmitados)="fnObtenerDataFiltroPerfil($event)"
></app-filtro-perfiles>

<app-filtro-usuarios
  [sTituloHeader]="'Buscar Usuario'"
  [oInformacionFiltro]="aTransaccionesUsuario"
  [oCamposFormulario]="oCamposFormularioUsuario"
  [bEsMultiple]="false"
  [bDevolverSoloID]="false"
  [bAbrirFiltro]="bAbrirFiltroUsuario"
  [bGuardarLocalStorage]="true"
  [nIndex]="0"
  (bCerrarFiltro)="fnObtenerCierreFiltroUsuario($event)"
  (aUsuariosEmitados)="fnObtenerDataFiltroUsuario($event)"
></app-filtro-usuarios>

<app-filtro-catalogo
  [sId]="'fc1'"
  [sTituloHeader]="'Ámbito aplicación PGN'"
  [oInformacionFiltro]="aPosicionesPgn"
  [oCamposFormulario]="oCamposFormulario"
  [bEsMultiple]="false"
  [bDevolverSoloID]="false"
  [bAbrirFiltro]="bAbrirFiltroPosicionPgn"
  [bGuardarLocalStorage]="true"
  [aNiveles]="[]"
  (bCerrarFiltro)="fnObtenerCierreFiltroPosicionPgn($event)"
  (aPosicionesCatalogosEmitadas)="fnObtenerDataFiltroPosicionPgn($event)"
></app-filtro-catalogo>

<!-- Código Base -->
<div class="grid">
  <div class="col-12 md:col-12 lg:col-12">
    <div class="w-full surface-card border-round espacio-cardMHCP">
      <div class="paginaMHCP">
        <div class="flex col-12 md:col-12 lg:col-12 paginaMHCP-header">
          <div class="col-8 md:col-8 lg:col-8 p-0 paginaMHCP-header-titulo">
            <app-lbl-titulo
              titulo="Administrar las restricciones de disponibilidad de las Transacciones."
              descripcion="Registrar las restricciones que definen la disponibilidad de la ejecución o consulta de determinadas “Transacciones del sistema”."
            ></app-lbl-titulo>
          </div>
          <div class="col-4 md:col-4 lg:col-4 p-0 paginaMHCP-accionPrincipal">
            <button
              pButton
              pRipple
              label="Adicionar Restricción"
              icon="pi pi-plus"
              class="p-button-success"
              [routerLink]="['restriccionDisponibilidadCrear']"
            ></button>
          </div>
        </div>

        <div class="paginaMHCP-contenedor">
          <div class="col-12 md:col-12 lg:col-12 espacio-pb10MHCP">
            <form
              class="col-12 p-0"
              [formGroup]="formFiltroDisponibilidad"
              autocomplete="off"
            >
              <div class="formgrid grid">
                <div class="field col-4 md:col-4">
                  <label htmlfor="categoria" class="frm-titulo"
                    >Descripción restricción</label
                  >
                  <div class="col-12 p-0">
                    <p-dropdown
                      [showClear]="false"
                      [options]="oNombreRestriccion"
                      [filter]="true"
                      formControlName="descripcion"
                      filterBy="descripcion"
                      placeholder="Buscar..."
                      optionLabel="descripcion"
                    >
                    </p-dropdown>
                  </div>
                </div>
                <div class="field col-4 md:col-4">
                  <label htmlfor="name1" class="frm-titulo"
                    >Código restricción</label
                  >
                  <div class="col-12 p-0" disabled>
                    <input
                      pInputText
                      id="name1"
                      type="text"
                      placeholder="A003"
                      class="p-inputtext p-component p-element"
                    />
                  </div>
                </div>
                <div class="field col-4 md:col-4">
                  <label htmlfor="name1" class="frm-titulo"
                    >Estado restricción</label
                  >
                  <div class="col-12 p-0">
                    <p-dropdown
                      [options]="oEstado"
                      [filter]="false"
                      placeholder="Selecionar estado"
                      formControlName="activo"
                      optionValue="valor"
                      optionLabel="id"
                    >
                    </p-dropdown>
                  </div>
                </div>
              </div>

              <div class="formgrid grid FG-MHCP">
                <div class="field col-4 md:col-4">
                  <label htmlfor="categoria" class="frm-titulo"
                    >Unidad o Subunidad Ejecutora</label
                  >
                  <div class="col-12 p-0">
                    <span class="p-input-icon-right">
                      <i
                        class="pi pi-search cursor-pointer"
                        (click)="fnAbrirFiltroTransaccionPosicionPgn()"
                        style="z-index: 9999"
                      ></i>
                      <p-dropdown
                        [options]="aNombreMostrarPosicionPgn"
                        optionLabel="nombre"
                        optionValue="nombre"
                        [dropdownIcon]="'none'"
                        [readonly]="true"
                      ></p-dropdown>
                    </span>
                  </div>
                </div>
                <div class="field col-4 md:col-4">
                  <label htmlfor="categoria" class="frm-titulo"
                    >Perfil afectado por la restricción</label
                  >
                  <div class="col-12 p-0">
                    <span class="p-input-icon-right">
                      <i
                        class="pi pi-search cursor-pointer"
                        (click)="fnAbrirFiltroPerfil()"
                        style="z-index: 9999"
                      ></i>
                      <p-dropdown
                        [options]="aNombreMostrarPerfiles"
                        optionLabel="nombre"
                        optionValue="nombre"
                        [dropdownIcon]="'none'"
                        [readonly]="true"
                      ></p-dropdown>
                    </span>
                  </div>
                </div>
                <div class="field col-4 md:col-4">
                  <label htmlfor="categoria" class="frm-titulo"
                    >Usuario afectado por la restricción</label
                  >
                  <div class="col-12 p-0">
                    <span class="p-input-icon-right">
                      <i
                        class="pi pi-search cursor-pointer"
                        (click)="fnAbrirFiltroUsuario()"
                        style="z-index: 9999"
                      ></i>
                      <p-dropdown
                        [options]="aNombreMostrarUsuario"
                        optionLabel="nombre"
                        optionValue="nombre"
                        [dropdownIcon]="'none'"
                        [readonly]="true"
                      ></p-dropdown>
                    </span>
                  </div>
                </div>
              </div>

              <div class="formgrid grid">
                <div class="flex flex-column w-full lg:w-6 fecha">
                  <label class="font-bold mb-2 w-full lg:w-12"
                    >Fechas de consulta</label
                  >
                  <div class="flex">
                    <div class="flex flex-column w-full lg:w-6 mr-4">
                      <label class="font-bold mb-1">Fecha Inicial</label>
                      <p-calendar
                        [showIcon]="true"
                        placeholder="AAAA-MM-DD"
                        dateFormat="yy-mm-dd"
                        formControlName="fechaInicial"
                        dataType="string"
                      ></p-calendar>
                    </div>
                    <div class="flex flex-column w-full lg:w-6">
                      <label class="font-bold mb-1">Fecha Final</label>
                      <p-calendar
                        [showIcon]="true"
                        placeholder="AAAA-MM-DD"
                        dateFormat="yy-mm-dd"
                        formControlName="fechaFinal"
                        dataType="string"
                      ></p-calendar>
                    </div>
                  </div>
                </div>
                <div class="flex flex-column w-full lg:w-6 fecha">
                  <label class="font-bold mb-2 w-full lg:w-12"
                    >Horarios de registro restricción</label
                  >
                  <div class="flex">
                    <div class="flex flex-column w-full lg:w-6 mr-4">
                      <label class="font-bold mb-1">Hora Inicial </label>
                      <p-calendar
                        formControlName="horaInicial"
                        icon="pi pi-clock"
                        [showIcon]="true"
                        [showTime]="true"
                        [showSeconds]="false"
                        [hourFormat]="'12'"
                        [timeOnly]="true"
                        placeholder="HH:MM"
                      ></p-calendar>
                    </div>
                    <div class="flex flex-column w-full lg:w-6">
                      <label class="font-bold mb-1">Hora Final </label>
                      <p-calendar
                        formControlName="horaFinal"
                        icon="pi pi-clock"
                        [showIcon]="true"
                        [showTime]="true"
                        [showSeconds]="false"
                        [hourFormat]="'12'"
                        [timeOnly]="true"
                        placeholder="HH:MM"
                      ></p-calendar>
                    </div>
                  </div>
                </div>
              </div>
            </form>
          </div>

          <div class="col-12 md:col-12 lg:col-12 espacio-pb30MHCP">
            <div class="col-12 flex justify-content-end gap-2 p-0">
              <button
                pButton
                pRipple
                type="button"
                label="Limpiar"
                class="p-button-outlined colorAzulMHCP"
                icon="pi pi-eraser"
                (click)="limpiarFiltroRestricciones()"
              ></button>
              <button
                pButton
                pRipple
                type="button"
                label="Buscar"
                class="p-button-success"
                icon="pi pi-search"
                (click)="listarRestricciones()"
              ></button>
            </div>
          </div>

          <div class="col-12 md:col-12 lg:col-12 p-0">
            <p-table
              #dt
              styleClass="p-datatable-gridlines p-datatable-striped"
              selectionMode="single"
              [loading]="false"
              [value]="oListaRestriccionDisponibilidad"
              [scrollable]="false"
              [tableStyle]="{ 'min-width': '50rem' }"
              [rowHover]="true"
              [paginator]="oListaRestriccionDisponibilidad.length > 10"
              [rows]="10"
              [rowsPerPageOptions]="[10, 25, 50]"
              currentPageReportTemplate="Mostrando {first} de {totalRecords} registros"
              [showCurrentPageReport]="true"
            >
              <ng-template pTemplate="header">
                <tr>
                  <th pSortableColumn="codigo">
                    Código <p-sortIcon field="codigo"></p-sortIcon>
                  </th>
                  <th pSortableColumn="nombre">
                    Descripción <p-sortIcon field="nombre"></p-sortIcon>
                  </th>
                  <th pSortableColumn="activo">
                    Estado <p-sortIcon field="activo"></p-sortIcon>
                  </th>
                </tr>
              </ng-template>

              <ng-template
                pTemplate="body"
                let-oRestriccionDisponibilidad
                let-ri="rowIndex"
              >
                <tr
                  (mouseenter)="fnMostrarOcultarBotones($event, ri, true)"
                  (mouseleave)="fnMostrarOcultarBotones($event, ri, false)"
                  [pSelectableRow]="oRestriccionDisponibilidad"
                >
                  <td>{{ oRestriccionDisponibilidad.id }}</td>
                  <td>{{ oRestriccionDisponibilidad.descripcion }}</td>
                  <td>
                    {{
                      oRestriccionDisponibilidad.activo
                        | convertirBoolean : "ai"
                    }}
                  </td>

                  <div #actions id="button-{{ ri }}" class="no-mostrar">
                    <button
                      pButton
                      pRipple
                      pTooltip="Editar"
                      tooltipPosition="top"
                      type="button"
                      icon="pi pi-pencil"
                      class="botonTableMHCP p-button-success colorVerdeMHCP text-end"
                      (click)="editarRestriccion(oRestriccionDisponibilidad)"
                    ></button>
                  </div>
                </tr>
              </ng-template>
              <ng-template pTemplate="emptymessage">
                <tr>
                  <td colspan="3" class="text-center">
                    No se han encontrado registrados.
                  </td>
                </tr>
              </ng-template>
            </p-table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
