<!-- Toast -->
<p-toast></p-toast>

<!-- Dialogo de Confirmación -->
<p-confirmDialog
  [style]="{ width: '40vw' }"
  [baseZIndex]="10000"
  [header]="'Cancelar operación'"
></p-confirmDialog>

<!-- Código base -->
<div class="grid">
  <div class="col-12 md:col-12 lg:col-12">
    <div class="w-full surface-card border-round espacio-cardMHCP">
      <div class="paginaMHCP">
        <div class="flex col-12 md:col-12 lg:col-12 paginaMHCP-header">
          <div class="col-8 md:col-8 lg:col-8 p-0 paginaMHCP-header-titulo">
            <app-lbl-titulo
              titulo="Personas {{ sTipo }}"
              descripcion="Proveer una opción para realizar la creación masiva de terceros naturales, terceros jurídicos y cuentas bancarias."
            ></app-lbl-titulo>
          </div>

          <div class="col-4 md:col-4 lg:col-4 p-0 paginaMHCP-accionPrincipal">
            <button
              pButton
              pRipple
              label="Crear Tercero"
              icon="pi pi-plus"
              class="p-button-success"
              (click)="crearPersona()"
            ></button>
          </div>
        </div>

        <div class="paginaMHCP-contenedor">
          <div class="col-12 md:col-12 lg:col-12 espacio-pb30MHCP">
            <form [formGroup]="formFiltro">
              <div class="formgrid grid p-fluid" *ngIf="bPersonaNatural">
                <div class="field col-12 md:col-3">
                  <label htmlfor="name1" class="frm-titulo"
                    >Primer nombre <span class="required">*</span></label
                  >
                  <input
                    pInputText
                    id="name1"
                    type="text"
                    placeholder="Ingrese nombre"
                    class="p-inputtext p-component p-element"
                    formControlName="primerNombre"
                  />
                </div>
                <div class="field col-12 md:col-3">
                  <label htmlfor="name1" class="frm-titulo"
                    >Segundo nombre <span class="required">*</span>
                  </label>
                  <input
                    pInputText
                    id="name1"
                    type="text"
                    placeholder="Ingrese nombre"
                    class="p-inputtext p-component p-element"
                    formControlName="segundoNombre"
                  />
                </div>
                <div class="field col-12 md:col-3">
                  <label htmlfor="name1" class="frm-titulo"
                    >Primer apellido</label
                  >
                  <input
                    pInputText
                    id="name1"
                    type="text"
                    placeholder="Ingrese apellido"
                    class="p-inputtext p-component p-element"
                    formControlName="primerApellido"
                  />
                </div>
                <div class="field col-12 md:col-3">
                  <label htmlfor="name1" class="frm-titulo"
                    >Segundo apellido
                  </label>
                  <input
                    pInputText
                    id="name1"
                    type="text"
                    placeholder="Ingrese apellido"
                    class="p-inputtext p-component p-element"
                    formControlName="segundoApellido"
                  />
                </div>
              </div>
              <div class="formgrid grid p-fluid espacio-pb10MHCP">
                <div class="field col-12 md:col-3">
                  <label htmlfor="name1" class="frm-titulo">Naturaleza</label>
                  <div class="formgroup-inline">
                    <div
                      *ngFor="let naturaleza of oListaNaturaleza"
                      class="field-radiobutton mt-1"
                    >
                      <p-radioButton
                        name="tipoNaturaleza"
                        [value]="naturaleza.sigla"
                        class="p-element"
                        [inputId]="naturaleza.sigla"
                        formControlName="tipoNaturaleza"
                        (ngModelChange)="consultarListaTipoDocumentoNatJuri()"
                      ></p-radioButton>
                      <label [for]="naturaleza.sigla">{{
                        naturaleza.descripcion
                      }}</label>
                    </div>
                  </div>
                </div>
                <div class="field col-12 md:col-3">
                  <label class="frm-titulo">Tipo de identificación</label>
                  <p-dropdown
                    [options]="oListaTipDocumento"
                    optionLabel="descripcion3"
                    optionValue="valor3"
                    [filter]="true"
                    filterBy="descripcion"
                    [showClear]="false"
                    placeholder="Seleccione"
                    formControlName="tipoDocumento"
                  >
                  </p-dropdown>
                </div>
                <div class="field col-12 md:col-3">
                  <label class="frm-titulo mb-2"
                    >Número de identificación <span class="required">*</span>
                  </label>
                  <div class="grid">
                    <div class="col-10 mt-1">
                      <input
                        pInputText
                        id="name1"
                        type="text"
                        placeholder="Ingrese número"
                        class="p-inputtext p-component p-element"
                        formControlName="numeroDocumento"
                      />
                    </div>
                    <div class="col-1 mt-1" *ngIf="bPersonaJuridica">-</div>
                    <div class="col-1 p-0 mt-1" *ngIf="bPersonaJuridica">
                      <input
                        type="number"
                        pInputText
                        style="width: 30px !important"
                        formControlName="digitoVerificacionPersona"
                      />
                    </div>
                  </div>
                </div>
                <div class="field col-12 md:col-3" *ngIf="bPersonaJuridica">
                  <label htmlfor="name1" class="frm-titulo">Razón social</label>
                  <input
                    pInputText
                    id="name1"
                    type="text"
                    placeholder="Ingrese razón social"
                    class="p-inputtext p-component p-element"
                    formControlName="razonSocial"
                  />
                </div>
              </div>
            </form>

            <div class="col-12 flex justify-content-end gap-2 p-0">
              <button
                pButton
                pRipple
                type="button"
                label="Limpiar"
                class="p-button-outlined colorAzulMHCP"
                icon="pi pi-eraser"
                (click)="limpiarFiltro()"
              ></button>
              <button
                pButton
                pRipple
                type="button"
                label="Buscar"
                class="p-button-success"
                icon="pi pi-search"
                (click)="listarTerceros()"
              ></button>
            </div>
          </div>
          <div class="col-12 md:col-12 lg:col-12 p-0">
            <p-table
              #dt
              styleClass="p-datatable-gridlines p-datatable-striped"
              currentPageReportTemplate="Mostrando {first} filas de {totalRecords}"
              selectionMode="single"
              [tableStyle]="{ 'min-width': '24rem' }"
              [loading]="bMostrarLoading"
              [value]="oListarTerceros"
              [scrollable]="false"
              [rowHover]="true"
              [paginator]="oListarTerceros.length > 10 ? true : false"
              [rows]="10"
              [rowsPerPageOptions]="[10, 25, 50]"
              [showCurrentPageReport]="true"
            >
              <ng-template pTemplate="header">
                <tr>
                  <th pSortableColumn="descripcionTipoNaturaleza">
                    Naturaleza <p-sortIcon field="tipoNaturaleza"></p-sortIcon>
                  </th>
                  <th pSortableColumn="descripcionTipoDocumento">
                    Tipo Documento
                    <p-sortIcon field="descripcionTipoDocumento"></p-sortIcon>
                  </th>
                  <th pSortableColumn="numeroDocumento">
                    Nro. Documento
                    <p-sortIcon field="numeroDocumento"></p-sortIcon>
                  </th>
                  <th pSortableColumn="razonSocial ">
                    Nombre o razón social
                    <p-sortIcon field="razonSocial"></p-sortIcon>
                  </th>
                  <th pSortableColumn="activo">
                    Estado tercero <p-sortIcon field="activo"></p-sortIcon>
                  </th>
                </tr>
                <tr>
                  <!-- <th class="filtrosTableMHCP"></th> -->
                  <th class="filtrosTableMHCP">
                    <p-columnFilter
                      field="tipoNaturaleza"
                      matchMode="equals"
                      [showMenu]="false"
                      [showMatchModes]="false"
                      [showOperator]="false"
                      [showAddButton]="false"
                      [showClearButton]="false"
                    >
                      <ng-template
                        pTemplate="filter"
                        let-value
                        let-filter="filterCallback"
                      >
                        <p-dropdown
                          [ngModel]="value"
                          [options]="oListaNaturaleza"
                          (onChange)="filter($event.value)"
                          placeholder="Seleccione"
                          [showClear]="true"
                          optionValue="sigla"
                          optionLabel="descripcion"
                        >
                        </p-dropdown>
                      </ng-template>
                    </p-columnFilter>
                  </th>
                  <th class="filtrosTableMHCP">
                    <input
                      pInputText
                      type="text"
                      (input)="
                        dt.filter(
                          $any($event.target).value,
                          'descripcionTipoDocumento',
                          'contains'
                        )
                      "
                      placeholder="Filtrar tipo documento"
                      class="w-full"
                    />
                  </th>
                  <th class="filtrosTableMHCP">
                    <input
                      pInputText
                      type="text"
                      (input)="
                        dt.filter(
                          $any($event.target).value,
                          'numeroDocumento',
                          'contains'
                        )
                      "
                      placeholder="Filtrar función de negocio"
                      class="w-full"
                    />
                  </th>
                  <th class="filtrosTableMHCP">
                    <input
                      pInputText
                      type="text"
                      (input)="
                        dt.filter(
                          $any($event.target).value,
                          'razonSocial',
                          'contains'
                        )
                      "
                      placeholder="Filtrar función de negocio"
                      class="w-full"
                    />
                  </th>
                  <th class="filtrosTableMHCP">
                    <p-columnFilter
                      field="diaNoHabilFinanciero"
                      matchMode="equals"
                      [showMenu]="false"
                      [showMatchModes]="false"
                      [showOperator]="false"
                      [showAddButton]="false"
                      [showClearButton]="false"
                    >
                      <ng-template
                        pTemplate="filter"
                        let-value
                        let-filter="filterCallback"
                      >
                        <p-dropdown
                          [ngModel]="value"
                          [options]="aEstadoGeneral"
                          (onChange)="filter($event.value)"
                          placeholder="Seleccione"
                          [showClear]="true"
                          optionValue="valor"
                          optionLabel="id"
                        >
                        </p-dropdown>
                      </ng-template>
                    </p-columnFilter>
                  </th>
                </tr>
              </ng-template>

              <ng-template
                pTemplate="body"
                let-oListarTerceros
                let-ri="rowIndex"
              >
                <tr
                  (mouseenter)="
                    fnMostrarOcultarBotones($event, ri, true, 'tb-tlsel')
                  "
                  (mouseleave)="
                    fnMostrarOcultarBotones($event, ri, false, 'tb-tlsel')
                  "
                  [pSelectableRow]="oListarTerceros"
                >
                  <td>
                    {{ oListarTerceros.descripcionTipoNaturaleza }}
                  </td>
                  <td>
                    {{ oListarTerceros.descripcionTipoDocumento }}
                  </td>
                  <td>
                    {{ concatenarDigitoVerificacion(oListarTerceros) }}
                  </td>
                  <td>
                    {{
                      oListarTerceros.razonSocial ||
                        oListarTerceros.primerNombre +
                          " " +
                          oListarTerceros.segundoNombre +
                          " " +
                          oListarTerceros.primerApellido +
                          " " +
                          oListarTerceros.segundoApellido
                    }}
                  </td>
                  <td>
                    {{ oListarTerceros.activo | convertirBoolean : "ai" }}
                  </td>
                  <div id="button-{{ ri }}-tb-tlsel" class="no-mostrar">
                    <button
                      *ngIf="oListarTerceros.activo"
                      pButton
                      pRipple
                      Tooltip="Editar"
                      tooltipPosition="top"
                      type="button"
                      icon="pi pi-pencil"
                      class="botonTableMHCP p-button-success colorVerdeMHCP"
                      (click)="editarTercero(oListarTerceros)"
                    ></button>
                    <button
                      pButton
                      pRipple
                      pTooltip="Cambiar estado"
                      tooltipPosition="bottom"
                      type="button"
                      icon="pi pi-power-off"
                      class="botonTableMHCP colorAmarilloMHCP"
                      (click)="cambiarEstado(oListarTerceros)"
                    ></button>
                  </div>
                </tr>
              </ng-template>
              <ng-template pTemplate="emptymessage">
                <tr>
                  <td class="text-center" colspan="5">
                    No se han encontrado registrados.
                  </td>
                </tr>
              </ng-template>
            </p-table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
