<div class="grid">
    <div class="col-12 md:col-12 lg:col-12">
      <div class="w-full surface-card border-round espacio-cardMHCP">
        <div class="paginaMHCP">
          <div class="flex col-12 md:col-12 lg:col-12 paginaMHCP-header">
            <div class="col-8 md:col-8 lg:col-8 p-0 paginaMHCP-header-titulo">
              <app-lbl-titulo
                titulo="Ingresos"
                descripcion="Funcionalidad para registro de ingreso de productos"
              ></app-lbl-titulo>
            </div>
            <div class="col-4 md:col-4 lg:col-4 p-0 paginaMHCP-accionPrincipal">
              <button
                pButton
                pRipple
                label="Crear"
                icon="pi pi-plus"
                class="p-button-success"
                (click)="crear()"
              ></button>
            </div>
          </div>  
          <div class="paginaMHCP-contenedor">
            <div class="col-12 md:col-12 lg:col-12 p-0">
                
            </div>
          </div>
        </div>
      </div>
    </div>
</div>
<p-toast></p-toast>
