<div class="footerMHCP layout-footer flex flex-row">
  <div style="display: flex; align-items: center">
    <img
      src="../../../../assets/layout/images/logo_footer.png"
      alt="Logo MHCP"
      style="width: 40%"
    />
  </div>

  <div class="footerMHCP-informacion">
    <div class="horarios">
      Lunes a Viernes de 7:00 A.M. a 7:00 P.M. en jornada continua
    </div>

    <div class="telefonos">
      <div class="icono">
        <!-- <i class="pi pi-phone"></i> -->
        <img
          src="./../../../../assets/layout/images/logo_telefono.png"
          style="width: 80%"
          alt=""
          pBadge
        />
      </div>
      <div class="texto">
        <div style="margin-bottom: 4px">Bogotá: (601) 6021270 - opción 1</div>
        <span>Línea gratuita: 01-8000-910071 - opción 1</span>
      </div>
    </div>
  </div>
</div>
