@mixin alineacion {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.headerMHCP {
  //background-image: url("./../../images/header.jpg");
  background-color: black;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  &-menu {
    color: #fff;
  }
  &-separador {
    border-right: 1px solid #ffffff;
    height: 70px;
  }
}
.overlay-header {
  top: 70px !important;
  left: auto !important;
}
.layout-topbar .layout-topbar-button span {
  font-size: 0.8rem !important;
  font-weight: 400;
  display: block !important;
}
.layout-topbar {
  padding: 0px;
}
.layout-topbar .layout-menu-button {
  margin-right: 0;
}
.overlay-usuario {
  top: 70px !important;
  left: auto !important;

  &_contenedor {
    color: #7b7b7b;
    line-height: 1.3;

    &_usuario {
      align-items: center;
      @include alineacion();

      &--fuerte {
        font-size: 1.25rem;
        font-weight: 500;
      }
      & span {
        font-size: 0.875rem;
        font-weight: 400;
      }
    }

    &_servidor {
      align-items: left;
      font-weight: 400;
      font-size: 0.813rem;
      @include alineacion();
    }

    &_acciones {
      display: flex;
      justify-content: space-around;
      align-items: center;

      a {
        color: #53a5e6;
        cursor: pointer;

        &:hover {
          color: #2667b0;
        }
      }
    }

    &_fondo {
      text-transform: uppercase;
      letter-spacing: 2px;
      font-size: 0.625rem;
      font-weight: 500;
    }
  }
}
