.p-datatable {
  .cifraTableMHCP {
    text-align: end !important;
  }
  .p-frozen-column {
    box-shadow: 2px 0px 3px 0px rgba(187, 194, 200, 0.8);
  }
  button.botonTableMHCP {
    width: 1.375rem !important;
    height: 1.563rem !important;
    border-radius: 0;
    margin-left: 0.3rem !important;
    border-radius: 4px;
    padding: 0 !important;

    .p-button:enabled:hover {
      color: #eff1fb !important;
    }

    &:disabled {
      background-color: #8c99a3 !important;
      border-color: #8c99a3 !important;
    }

    & > span {
      font-size: 0.688rem;
    }

    & > .material-icons {
      font-size: 1rem;
      display: table;
      margin: 0 auto;
    }
  }
  .p-datatable-thead {
    tr {
      th.filtrosTableMHCP {
        background-color: #eff1f2;
        height: 2.75rem;
        & > input {
          height: 1.75rem;
          color: #2d77c2;
          font-size: 0.875rem;
        }
        & .p-dropdown {
          height: 1.75rem !important;
        }
        .p-fluid .p-dropdown .p-dropdown-label {
          font-size: 0.875rem;
          margin-top: -2px;
        }
      }
    }
  }
  .p-datatable-tbody {
    tr {
      td {
        padding: 0rem 1rem !important;
      }
    }
  }
  .p-dropdown .p-dropdown-trigger {
    background-color: transparent;
    color: #212529;
  }

  .expandedMHCP {
    span {
      font-weight: 500;
    }
  }
  .alinear-centerMHCP {
    @include flex-ai-centerMHCP();
  }
}

/******************************/
/** PAGINATOR                 */
/******************************/
.p-paginator {
  button:disabled {
    background: transparent !important;
    color: #2d77c2;
  }
  .p-dropdown {
    margin-left: 8rem !important;

    .p-inputtext {
      border-top-left-radius: 4px !important;
      border-bottom-left-radius: 4px !important;
      border-top-right-radius: 0 !important;
      border-bottom-right-radius: 0 !important;
      font-size: 12px !important;
    }
  }
  .p-dropdown .p-dropdown-trigger {
    background-color: #eff1fb;
    color: #2d77c2;
  }
}

/** Mostrar Botones Table */
.no-mostrar {
  display: none;
}
.mostrar-botones {
  background-color: #e4f2fb;
  position: absolute;
  right: 0;
  box-shadow: -4px 0px 3px 0px rgba(187, 194, 200, 0.5);
  height: 2.5rem;
  padding: 7px;
  width: 68px;
}
.mostrar-botones-sec {
  background-color: #e4f2fb;
  position: sticky;
  right: 0px;
  box-shadow: -4px 0px 3px 0px rgba(187, 194, 200, 0.5);
  height: 2.5rem;
  padding: 7px;
  width: 68px;
}
.ocultar-botones {
  display: none;
  background-color: #e4f2fb;
}
