<!-- Toast -->
<p-toast></p-toast>

<!-- Diálogo de confirmación -->
<p-confirmDialog
  [style]="{ width: '50vw' }"
  [baseZIndex]="10000"
  header="Cancelar operación"
></p-confirmDialog>

<!-- Código base -->
<div class="grid">
  <div class="col-12 md:col-12 lg:col-12">
    <div class="w-full surface-card border-round espacio-cardMHCP">
      <div class="paginaMHCP">
        <div class="flex col-12 md:col-12 lg:col-12 paginaMHCP-header">
          <div class="col-8 md:col-8 lg:col-8 p-0 paginaMHCP-header-titulo">
            <app-lbl-titulo
              titulo="Administrar fuentes externas"
              descripcion="Permite habilitar o inhabilitar los servicios de Fuente Externa, que se utilizan en el sistema."
            ></app-lbl-titulo>
          </div>
        </div>

        <div class="paginaMHCP-contenedor">
          <div class="col-12 md:col-12 lg:col-12 p-0">
            <app-lbl-subtitulo
              subtitulo="Fuentes existentes"
              [bEsSubtituloPrincipal]="false"
            ></app-lbl-subtitulo>

            <p-table
              #dt
              styleClass="p-datatable-gridlines p-datatable-striped"
              currentPageReportTemplate="Mostrando {first} filas de {totalRecords}"
              selectionMode="single"
              [loading]="bMostrarLoading"
              [value]="aFuentesExternas"
              [scrollable]="false"
              [rowHover]="true"
              [paginator]="aFuentesExternas.length > 10"
              [rows]="10"
              [rowsPerPageOptions]="[10, 25, 50]"
              [showCurrentPageReport]="true"
            >
              <ng-template pTemplate="header">
                <tr>
                  <th pSortableColumn="fuente">
                    Fuente Externa
                    <p-sortIcon field="fuente"></p-sortIcon>
                  </th>
                  <th pSortableColumn="estado">
                    Estado
                    <p-sortIcon field="estado"></p-sortIcon>
                  </th>
                  <th pSortableColumn="requerido">
                    Requerido en fuentes externas
                    <p-sortIcon field="requerido"></p-sortIcon>
                  </th>
                  <th pSortableColumn="requiereAutenticacion">
                    Requiere autenticación
                    <p-sortIcon field="requiereAutenticacion"></p-sortIcon>
                  </th>
                </tr>
              </ng-template>

              <ng-template pTemplate="body" let-fuenteExterna let-ri="rowIndex">
                <tr
                  (mouseenter)="
                    fnMostrarOcultarBotones($event, ri, true, 'tb-trftsext')
                  "
                  (mouseleave)="
                    fnMostrarOcultarBotones($event, ri, false, 'tb-trftsext')
                  "
                  [pSelectableRow]="fuenteExterna"
                >
                  <td>{{ fuenteExterna.descripcion }}</td>
                  <td>{{ fuenteExterna.activo | convertirBoolean : "ai" }}</td>
                  <td>
                    {{
                      fuenteExterna.requeridoFuenteExterna
                        | convertirBoolean : "sn"
                    }}
                  </td>
                  <td>
                    {{
                      fuenteExterna.requiereAutenticacion
                        | convertirBoolean : "sn"
                    }}
                  </td>

                  <div id="button-{{ ri }}-tb-trftsext" class="no-mostrar">
                    <button
                      pButton
                      pRipple
                      pTooltip="Editar"
                      tooltipPosition="top"
                      type="button"
                      icon="pi pi-pencil"
                      class="botonTableMHCP p-button-success colorVerdeMHCP"
                      (click)="fnEditarFuenteExterna(ri, fuenteExterna)"
                    ></button>
                  </div>
                </tr>
              </ng-template>
              <ng-template pTemplate="emptymessage">
                <tr>
                  <td colspan="4" class="text-center">
                    No se han encontrado registrados.
                  </td>
                </tr>
              </ng-template>
            </p-table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
