<p>
  Datos retornados por el servicio de la DIAN que no se encuentran en el SIIF.
</p>
<div class="field col-12">
  <p-table
    #dt
    styleClass="p-datatable-gridlines p-datatable-striped"
    currentPageReportTemplate="Mostrando {first} filas de {totalRecords}"
    selectionMode="single"
    [tableStyle]="{ 'min-width': '24rem' }"
    [loading]="bLoadingTabla"
    [value]="oListavalidaciones"
    [scrollable]="false"
    [rowHover]="true"
    [paginator]="oListavalidaciones.length > 10 ? true : false"
    [rows]="10"
    [rowsPerPageOptions]="[10, 25, 50]"
    [showCurrentPageReport]="true"
  >
    <ng-template pTemplate="header">
      <tr>
        <th pSortableColumn="horaInicial">
          Sección <p-sortIcon field="horaInicial"></p-sortIcon>
        </th>
        <th pSortableColumn="horaInicial">
          Mensaje <p-sortIcon field="horaInicial"></p-sortIcon>
        </th>
      </tr>
    </ng-template>

    <ng-template
      pTemplate="body"
      let-oListavalidaciones
      let-editing="editing"
      let-ri="rowIndex"
    >
      <tr [pEditableRow]="oListavalidaciones">
        <td>{{ oListavalidaciones.item1 }}</td>
        <td>{{ oListavalidaciones.item2 }}</td>
      </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage">
      <tr>
        <td colspan="5">No se han encontrado registrados.</td>
      </tr>
    </ng-template>
  </p-table>
</div>
<div
  class="col-12 flex justify-content-end mt-5 gap-2 p-0"
  style="margin-bottom: -15px"
>
  <button
    pButton
    pRipple
    icon="pi pi-times"
    (click)="fnCerrarModal(true)"
    label="CERRAR"
    class="colorRojoMHCP"
  ></button>
</div>
