<app-lbl-subtitulo
  subtitulo="Información de la dependencia"
  [bEsSubtituloPrincipal]="false"
></app-lbl-subtitulo>

<form class="col-12 p-0" [formGroup]="frmCrearDependencia" autocomplete="off">
  <div class="formgrid grid">
    <div class="field col-4 md:col-4">
      <label htmlfor="funcionNegocio" class="frm-titulo"
        >Función de negocio
        <span class="required" *ngIf="sTipo === 'Crear'">*</span></label
      >

      <div class="col-12 p-0">
        <p-dropdown
          filterBy="descripcion"
          placeholder="Seleccione función de negocio"
          formControlName="funcionCatalogo"
          optionValue="sigla"
          optionLabel="descripcion"
          class="mt-1"
          [options]="aFuncionNegocio"
          [filter]="false"
          [showClear]="false"
        >
        </p-dropdown>
      </div>
    </div>

    <div class="field col-4 md:col-4">
      <label htmlfor="codigo" class="frm-titulo"
        >Código <span class="required" *ngIf="sTipo === 'Crear'">*</span>
      </label>

      <div class="col-12 p-0">
        <input
          pInputText
          id="codigo"
          type="text"
          placeholder="Código"
          class="p-inputtext"
          formControlName="codigo"
        />
        <small class="p-error" *ngIf="fnValidarCampo('codigo')">
          {{ fnListarErrorForm("codigo") }}
        </small>
      </div>
    </div>

    <div class="field col-4 md:col-4">
      <label htmlfor="estado" class="frm-titulo">Estado</label>

      <ng-container *ngIf="sTipo === 'Crear'">
        <div class="formgroup-inline">
          <div class="col-12 md:col-3 p-0">
            <div class="field-radiobutton">
              <p-radioButton
                id="estado"
                name="estado1"
                [value]="true"
                formControlName="estado1"
              ></p-radioButton>
              <label htmlfor="estado">Registrada</label>
            </div>
          </div>
        </div>
      </ng-container>

      <ng-container *ngIf="sTipo === 'Editar'">
        <div class="formgroup-inline">
          <div class="col-12 md:col-12 p-0 formgroup-inline">
            <div class="col-6 p-0 mt-1" *ngFor="let estado of aEstados">
              <div class="field-radiobutton">
                <p-radioButton
                  [inputId]="estado.key"
                  [value]="estado.key"
                  formControlName="estado"
                ></p-radioButton>
                <label [for]="estado.key">{{ estado.name }}</label>
              </div>
            </div>
          </div>
        </div>
      </ng-container>
    </div>

    <div class="field col-4 md:col-12">
      <label htmlfor="descripcion" class="frm-titulo"
        >Descripción
        <span class="required" *ngIf="sTipo === 'Crear'">*</span></label
      >

      <div class="col-12 p-0">
        <input
          pInputText
          id="numeroCuenta"
          type="text"
          placeholder="Descripción"
          class="p-inputtext"
          formControlName="descripcion"
        />
        <small class="p-error" *ngIf="fnValidarCampo('descripcion')">
          {{ fnListarErrorForm("descripcion") }}
        </small>
      </div>
    </div>
  </div>

  <div class="col-12 flex justify-content-end gap-2 paginaMHCP-footer">
    <button
      pButton
      pRipple
      icon="pi pi-times"
      (click)="fnCerrarModal()"
      label="Cancelar"
      class="colorRojoMHCP"
    ></button>
    <button
      pButton
      pRipple
      icon="pi pi-check"
      label="Aceptar"
      class="p-button-success colorVerdeMHCP"
      type="submit"
      [disabled]="frmCrearDependencia.invalid"
      (click)="fnCrearDependencia()"
    ></button>
  </div>
</form>
