<!-- Toast -->
<app-lbl-toast-acciones
  sTitulo="Error"
  sMensajePrimario="Hay datos retornados por el servicio de la DIAN que no se encuentran en el SIIF, por favor revise las validaciones."
  sMensajeSecundario="¿Desea revisar las validaciones"
  (oClick)="fnCargarEvento()"
></app-lbl-toast-acciones>
<p-toast></p-toast>

<!-- Dialogo de Confirmación -->
<p-confirmDialog
  [style]="{ width: '40vw' }"
  [baseZIndex]="10000"
  [header]="'Cancelar operación'"
></p-confirmDialog>

<!-- <div class="paginaMHCP"> -->

<div
  class="col-12 md:col-12 lg:col-12"
  [ngClass]="bTipoJuridico ? 'p-0' : 'espacio-pb30MHCP'"
>
  <p-accordion
    [activeIndex]="0"
    expandIcon="pi pi-angle-down"
    collapseIcon="pi pi-angle-up"
  >
    <p-accordionTab header="Información Básica">
      <form class="col-12 p-0" [formGroup]="frmDatosBasicos" autocomplete="off">
        <div class="formgrid grid p-fluid">
          <div class="field col-12 md:col-3">
            <label htmlfor="nombreLista" class="frm-titulo"
              >Tipo de persona</label
            >

            <div class="field-radiobutton mt-1" *ngIf="bTipoJuridico">
              <p-radioButton
                name="tipoPersona"
                [value]="sTipoTercero"
                class="p-element"
                formControlName="tipoPersona"
              ></p-radioButton>
              <label for="city1">Jurídica</label>
            </div>
            <div class="field-radiobutton mt-1" *ngIf="bTipoNatural">
              <p-radioButton
                name="tipoPersona"
                [value]="sTipoTercero"
                class="p-element"
                formControlName="tipoPersona"
              ></p-radioButton>
              <label for="city1">Natural</label>
            </div>
          </div>
          <div class="field col-12 md:col-3">
            <label htmlfor="name1" class="frm-titulo"
              >Naturaleza<span class="required" *ngIf="sAccion === 'crear'"
                >*</span
              ></label
            >
            <div class="formgroup-inline">
              <div
                *ngFor="let naturaleza of oListaNaturaleza"
                class="field-radiobutton mt-1"
              >
                <p-radioButton
                  name="tipoNaturaleza"
                  [value]="naturaleza.sigla"
                  class="p-element"
                  [inputId]="naturaleza.sigla"
                  formControlName="tipoNaturaleza"
                  (ngModelChange)="consultarListaTipoDocumentoNatJuri()"
                ></p-radioButton>
                <small
                  class="form-text text-red-600"
                  *ngIf="campoNoValido('tipoNaturaleza')"
                >
                  {{ listaErroresMensajes("tipoNaturaleza") }}
                </small>
                <label [for]="naturaleza.sigla">{{
                  naturaleza.descripcion
                }}</label>
              </div>
            </div>
          </div>
          <div class="field col-12 md:col-3">
            <label class="frm-titulo"
              >Tipo de identificacón<span
                class="required"
                *ngIf="sAccion === 'crear'"
                >*</span
              ></label
            >
            <p-dropdown
              [options]="oListaTipDocumento"
              optionLabel="descripcion3"
              optionValue="valor3"
              [filter]="true"
              filterBy="descripcion"
              [showClear]="false"
              placeholder="Seleccione"
              formControlName="tipoDocumento"
              (onChange)="limpiarNumero()"
            >
            </p-dropdown>
            <small
              class="form-text text-red-600"
              *ngIf="campoNoValido('tipoDocumento')"
            >
              {{ listaErroresMensajes("tipoDocumento") }}
            </small>
          </div>
          <div class="field col-12 md:col-3">
            <label class="frm-titulo mb-2"
              >No. de identificación<span
                class="required"
                *ngIf="sAccion === 'crear'"
                >*</span
              >
            </label>
            <div class="grid">
              <div class="mt-1" [ngClass]="bTipoNatural ? 'col-12' : 'col-9'">
                <input
                  pInputText
                  id="name1"
                  type="text"
                  placeholder="Ingrese número"
                  class="p-inputtext p-component p-element"
                  formControlName="numeroDocumento"
                  (blur)="validarTipoYnumeroIdentificacion()"
                  [maxlength]="nLongitudTipoDocumento"
                />

                <small
                  class="form-text text-red-600"
                  *ngIf="campoNoValido('numeroDocumento')"
                >
                  {{ listaErroresMensajes("numeroDocumento") }}
                </small>
              </div>
              <div class="col-1 mt-1" *ngIf="bTipoJuridico">-</div>
              <div class="col-1 mt-1 p-0" *ngIf="bTipoJuridico">
                <input
                  pInputText
                  style="width: 25px !important"
                  formControlName="digitoVerificacion"
                />
              </div>
            </div>
          </div>
        </div>
        <div class="formgrid grid p-fluid" *ngIf="bTipoNatural">
          <div class="field col-12 md:col-3">
            <label htmlfor="name1" class="frm-titulo"
              >Primer nombre <span class="required">*</span></label
            >
            <input
              pInputText
              id="name1"
              type="text"
              placeholder="Ingrese nombre"
              class="p-inputtext p-component p-element"
              formControlName="primerNombre"
              (blur)="validarNombres()"
            />
            <small
              class="form-text text-red-600"
              *ngIf="campoNoValido('primerNombre')"
            >
              {{ listaErroresMensajes("primerNombre") }}
            </small>
          </div>
          <div class="field col-12 md:col-3">
            <label htmlfor="name1" class="frm-titulo">Segúndo nombre </label>
            <input
              pInputText
              id="name1"
              type="text"
              placeholder="Ingrese nombre"
              class="p-inputtext p-component p-element"
              formControlName="segundoNombre"
            />
            <small
              class="form-text text-red-600"
              *ngIf="campoNoValido('segundoNombre')"
            >
              {{ listaErroresMensajes("segundoNombre") }}
            </small>
          </div>
          <div class="field col-12 md:col-3">
            <label htmlfor="name1" class="frm-titulo"
              >Primer apellido <span class="required">*</span></label
            >
            <input
              pInputText
              id="name1"
              type="text"
              placeholder="Ingrese apellido"
              class="p-inputtext p-component p-element"
              formControlName="primerApellido"
              (blur)="validarNombres()"
            />
            <small
              class="form-text text-red-600"
              *ngIf="campoNoValido('primerApellido')"
            >
              {{ listaErroresMensajes("primerApellido") }}
            </small>
          </div>
          <div class="field col-12 md:col-3">
            <label htmlfor="name1" class="frm-titulo">Segúndo apellido </label>
            <input
              pInputText
              id="name1"
              type="text"
              placeholder="Ingrese apellido"
              class="p-inputtext p-component p-element"
              formControlName="segundoApellido"
            />
            <small
              class="form-text text-red-600"
              *ngIf="campoNoValido('segundoApellido')"
            >
              {{ listaErroresMensajes("segundoApellido") }}
            </small>
          </div>
        </div>
        <div class="formgrid grid p-fluid">
          <div class="field col-12 md:col-3" *ngIf="bTipoJuridico">
            <label class="frm-titulo">Tipo de tercero jurídico</label>
            <div class="formgroup-inline">
              <div class="field-radiobutton p-0">
                <p-checkbox
                  name="groupname"
                  value="CONS"
                  formControlName="tipoTerceroJuridicoCONS"
                  [binary]="true"
                  (onChange)="activarParticipante('CONS')"
                ></p-checkbox>
                <label for="terceroJuridico">Consorcio</label>
              </div>
              <div class="field-radiobutton p-0">
                <p-checkbox
                  name="groupname"
                  value="UNIO"
                  formControlName="tipoTerceroJuridicoUNIO"
                  [binary]="true"
                  (onChange)="activarParticipante('UNIO')"
                ></p-checkbox>
                <label for="terceroJuridico">Unión temp.</label>
              </div>
            </div>
          </div>
          <div class="field col-12 md:col-6" *ngIf="bTipoJuridico">
            <label class="frm-titulo"
              >Razón social <span class="required">*</span></label
            >
            <input
              pInputText
              id="name1"
              type="text"
              placeholder="Ingrese razón social"
              class="p-inputtext p-component p-element"
              formControlName="razonSocial"
              (blur)="fnValidarSinIdentificacion()"
            />
            <small
              class="form-text text-red-600"
              *ngIf="campoNoValido('razonSocial')"
            >
              {{ listaErroresMensajes("razonSocial") }}
            </small>
          </div>
          <div class="field col-12 md:col-3">
            <label class="frm-titulo"
              >Estado del tercero<span
                class="required"
                *ngIf="sAccion === 'crear'"
                >*</span
              ></label
            >

            <div class="formgroup-inline">
              <div class="field-radiobutton mt-1 mr-6">
                <p-radioButton
                  name="activo"
                  [value]="true"
                  class="p-element"
                  inputId="ingredient1"
                  formControlName="activo"
                ></p-radioButton>

                <label for="city1">Activo</label>
              </div>
              <div class="field-radiobutton mt-1 mr-6">
                <p-radioButton
                  name="activo"
                  [value]="false"
                  class="p-element"
                  inputId="ingredient1"
                  formControlName="activo"
                ></p-radioButton>
                <label for="city1">Inactivo</label>
              </div>
            </div>
            <small
              class="form-text text-red-600"
              *ngIf="campoNoValido('activo')"
            >
              {{ listaErroresMensajes("activo") }}
            </small>
          </div>
          <div
            class="field col-12 md:col-3"
            *ngIf="bTipoNatural && bValidacionBonos"
          >
            <label htmlfor="nombreLista" class="frm-titulo"
              >Estado del doc. de identificación</label
            >
            <div class="formgroup-inline">
              <div class="field-radiobutton mt-1" *ngIf="bValidacionBonos">
                <p-radioButton
                  name="estadoDocumento"
                  [value]="bValidacionBonos"
                  class="p-element"
                  formControlName="estadoDocumento"
                ></p-radioButton>
                <label for="city1">Vigente</label>
              </div>
              <div class="field-radiobutton mt-1" *ngIf="!bValidacionBonos">
                <p-radioButton
                  name="estadoDocumento"
                  [value]="bValidacionBonos"
                  class="p-element"
                  formControlName="estadoDocumento"
                ></p-radioButton>
                <label for="city1">No Vigente</label>
              </div>
            </div>
          </div>
        </div>
      </form>
    </p-accordionTab>
  </p-accordion>
</div>

<div *ngIf="bTipoJuridico" class="espacio-pb30MHCP">
  <p-accordion
    [activeIndex]="nTipoJuridico"
    expandIcon="pi pi-angle-down"
    collapseIcon="pi pi-angle-up"
  >
    <p-accordionTab [disabled]="bParticipantes" header="Participantes">
      <div class="field col-12 flex justify-content-end flex-wrap mb-0">
        <button
          pButton
          pRipple
          type="button"
          label="Buscar Participante"
          class="p-button-success p-button-succes"
          icon="pi pi-search"
        ></button>
      </div>
      <div
        class="flex justify-content-center flex-wrap mb-0"
        *ngIf="oParticipanteAgregar.length > 0"
      >
        <div class="field col-12 md:col-10">
          <p-fieldset>
            <ng-template pTemplate="header">
              <span style="color: green">Participante a Agregar</span>
            </ng-template>
            <div
              class="field col-12 flex justify-content-end flex-wrap gap-2 mb-0"
            >
              <button
                pButton
                pRipple
                [style]="{ width: '12rem' }"
                type="button"
                label="Agregar Participante"
                class="p-button-success p-button-succes"
                icon="pi pi-plus"
              ></button>
              <button
                pButton
                pRipple
                [style]="{ width: '5rem' }"
                label="X"
                class="colorRojoMHCP"
              ></button>
            </div>
            <div>
              <div class="mt-0">
                <label htmlfor="name1" class="frm-titulo"
                  >Jhon Carlos Ariza Rodriguez</label
                >
              </div>

              <div class="formgrid grid p-fluid mt-4">
                <div class="field col-12 md:col-2">
                  <label htmlfor="name1" class="frm-titulo">Tipo Persona</label>
                </div>
                <div class="field col-12 md:col-2">
                  <label htmlfor="name1" class="frm-titulo">Naturaleza</label>
                </div>
                <div class="field col-12 md:col-3">
                  <label htmlfor="name1" class="frm-titulo"
                    >Tipo de documento</label
                  >
                </div>
                <div class="field col-12 md:col-3">
                  <label htmlfor="name1" class="frm-titulo"
                    >No. de documento</label
                  >
                </div>
                <div class="field col-12 md:col-2">
                  <label htmlfor="name1" class="frm-titulo"
                    >%participación</label
                  >
                  <p-inputNumber inputId="percent" prefix="%"> </p-inputNumber>
                </div>
              </div>
            </div>
          </p-fieldset>
        </div>
      </div>
      <div class="flex justify-content-center flex-wrap">
        <hr style="width: 70rem" />
      </div>
      <div class="flex justify-content-center flex-wrap">
        <div class="field col-12 md:col-10">
          <p-table
            #dt
            styleClass="p-datatable-gridlines p-datatable-striped"
            currentPageReportTemplate="Mostrando {first} filas de {totalRecords}"
            selectionMode="single"
            [loading]="bMostrarLoading"
            [value]="oListaParticipantes!"
            [scrollable]="false"
            [rowHover]="true"
            [paginator]="oListaParticipantes!.length > 10 ? true : false"
            [rows]="10"
            [rowsPerPageOptions]="[10, 25, 50]"
            [showCurrentPageReport]="true"
          >
            <ng-template pTemplate="header">
              <tr>
                <th pSortableColumn="codigo">
                  Naturaleza <p-sortIcon field="codigo"></p-sortIcon>
                </th>
                <th pSortableColumn="nombre">
                  Tipo Documento <p-sortIcon field="nombre"></p-sortIcon>
                </th>
                <th pSortableColumn="activo">
                  Nro. Documento <p-sortIcon field="activo"></p-sortIcon>
                </th>
                <th pSortableColumn="activo">
                  Nombre o razón social
                  <p-sortIcon field="activo"></p-sortIcon>
                </th>
                <th pSortableColumn="activo">
                  Porcentaje <p-sortIcon field="activo"></p-sortIcon>
                </th>
              </tr>
            </ng-template>

            <ng-template
              pTemplate="body"
              let-oListaParticipantes
              let-ri="rowIndex"
            >
              <tr
                (mouseenter)="
                  fnMostrarOcultarBotones($event, ri, true, 'tb-tlsel')
                "
                (mouseleave)="
                  fnMostrarOcultarBotones($event, ri, false, 'tb-tlsel')
                "
                [pSelectableRow]="oListaParticipantes"
              >
                <td>{{ "1" }}</td>
                <td>
                  {{ oListaParticipantes.tipoDocumentoParticipante }}
                </td>
                <td>
                  {{ oListaParticipantes.numeroDocumentoParticipante }}
                </td>
                <td>{{ oListaParticipantes.descripcion }}</td>
                <td>%{{ oListaParticipantes.participacion }}</td>
                <div id="button-{{ ri }}-tb-tlsel" class="no-mostrar">
                  <button
                    pButton
                    pRipple
                    pTooltip="Eliminar"
                    tooltipPosition="top"
                    type="button"
                    icon="pi pi-trash"
                    class="botonTableMHCP colorAmarilloMHCP"
                    (click)="eliminarParticipante(ri)"
                  ></button>
                  <button
                    pButton
                    pRipple
                    pTooltip="Editar"
                    tooltipPosition="top"
                    type="button"
                    icon="pi pi-pencil"
                    class="botonTableMHCP p-button-success colorVerdeMHCP"
                    (click)="
                      fnEditarParticipantes('editar', oListaParticipantes)
                    "
                  ></button>
                </div>
              </tr>
            </ng-template>
            <ng-template pTemplate="emptymessage">
              <tr>
                <td colspan="5">No se han encontrado registrados.</td>
              </tr>
            </ng-template>
          </p-table>
        </div>
      </div>
    </p-accordionTab>
  </p-accordion>
</div>

<div class="flex flex-row justify-content-end align-content-center">
  <button
    *ngIf="bTipoNatural"
    id="siguiente"
    pButton
    pRipple
    class="p-button-outlined colorVerdeMHCP"
    label="Siguiente"
    [icon]="'pi pi-step-forward'"
    iconPos="right"
    (click)="siguiente(false)"
    [disabled]="fnContinuarProceso"
  ></button>

  <button
    *ngIf="bTipoJuridico"
    id="siguiente"
    pButton
    pRipple
    class="p-button-outlined colorVerdeMHCP"
    label="Siguiente"
    [icon]="'pi pi-step-forward'"
    iconPos="right"
    (click)="siguiente(false)"
    [disabled]="frmDatosBasicos.invalid && bContinuarProceso"
  ></button>
</div>

<div
  class="col-12 flex flex-row justify-content-between gap-2 paginaMHCP-footer"
>
  <div class="flex flex-row gap-2">
    <button
      *ngIf="sAccion === 'editar'"
      pButton
      pRipple
      class="p-button-outlined colorVerdeMHCP"
      label="ADICIONAR CUENTAS BANCARIAS"
      [icon]="'pi pi-plus'"
      iconPos="left"
      (click)="adicionarCuentasBancarias()"
    ></button>
    <button
      *ngIf="oListaMensajesValidacion.length > 0"
      pButton
      pRipple
      label="VALIDACIONES"
      class="p-button-outlined colorRojoMHCP"
      icon="pi pi-exclamation-triangle"
      (click)="modalValidacionMensajes()"
    ></button>
  </div>
  <div class="flex flex-row gap-2">
    <button
      pButton
      pRipple
      icon="pi pi-times"
      label="CANCELAR"
      class="colorRojoMHCP"
      (click)="cancelar()"
    ></button>
    <button
      pButton
      pRipple
      icon="pi pi-save"
      label="Guardar"
      class="p-button-success colorVerdeMHCP"
      type="submit"
      (click)="siguiente(true)"
      [disabled]="frmDatosBasicos.invalid && bContinuarProceso"
    ></button>
  </div>
</div>

<p-dialog
  [header]="'Modificar porcentaje del participante '"
  [(visible)]="bDisplayModal"
  [modal]="true"
  [style]="{ width: '55vw' }"
  [baseZIndex]="10000"
  [draggable]="false"
  [resizable]="false"
>
  <app-lbl-subtitulo
    subtitulo="Información del participante"
  ></app-lbl-subtitulo>

  <form
    class="field col-12 p-0"
    [formGroup]="frmParticipantes"
    autocomplete="off"
  >
    <div class="formgrid grid">
      <div class="field col-12 md:col-4">
        <label class="frm-titulo"
          >Tipo de identificacón<span class="required">*</span></label
        >
        <p-dropdown
          [options]="oListaTipDocumento"
          optionLabel="nombre"
          optionValue="id"
          [filter]="true"
          filterBy="descripcion"
          [showClear]="false"
          placeholder="Seleccione"
        >
        </p-dropdown>
      </div>
      <div class="field col-12 md:col-4">
        <label htmlfor="name1" class="frm-titulo"
          >No. de identificación<span class="required">*</span>
        </label>
        <input
          pInputText
          id="name1"
          type="text"
          placeholder="Ingrese número"
          class="p-inputtext p-component p-element"
        />
      </div>
      <div class="field col-12 md:col-3">
        <label htmlfor="name1" class="frm-titulo">%participación</label>
        <p-inputNumber inputId="percent" prefix="%"> </p-inputNumber>
      </div>
    </div>
    <div class="field col-12 md:col-12">
      <label htmlfor="name1" class="frm-titulo"
        >Nombre o razón social <span class="required">*</span></label
      >
      <input
        pInputText
        id="name1"
        type="text"
        placeholder="Ingrese raón socual"
        class="p-inputtext p-component p-element"
      />
    </div>
  </form>

  <div
    class="col-12 flex justify-content-end mt-5 gap-2 p-0"
    style="margin-bottom: -15px"
  >
    <button
      pButton
      pRipple
      icon="pi pi-times"
      (click)="fnCerrarModal(true)"
      label="Cancelar"
      class="colorRojoMHCP"
    ></button>
    <button
      pButton
      pRipple
      icon="pi pi-save"
      label="Guardar"
      class="p-button-success colorVerdeMHCP"
      type="submit"
      [disabled]="frmParticipantes.invalid"
      (click)="guardarDatosParticipantes()"
    ></button>
  </div>
</p-dialog>
