<!-- Toast -->
<p-toast></p-toast>

<!-- Código base -->
<div class="grid">
  <div class="col-12 md:col-12 lg:col-12">
    <div class="w-full surface-card border-round espacio-cardMHCP">
      <div class="paginaMHCP">
        <div class="flex col-12 md:col-12 lg:col-12 paginaMHCP-header">
          <div class="col-8 md:col-8 lg:col-8 p-0 paginaMHCP-header-titulo">
            <app-lbl-titulo
              titulo="Línea Gráfica"
              descripcion="Nuevos ajustes de la línea gráfica."
            ></app-lbl-titulo>
          </div>
          <div class="col-4 md:col-4 lg:col-4 p-0 paginaMHCP-accionPrincipal">
            <button
              pButton
              pRipple
              label="Botón de Acción"
              icon="pi pi-external-link"
              class="p-button-success"
            ></button>
          </div>
        </div>

        <div class="paginaMHCP-contenedor">
          <div class="col-12 md:col-12 lg:col-12 espacio-pb30MHCP">
            <app-lbl-subtitulo
              subtitulo="Menú general"
              [bEsSubtituloPrincipal]="false"
            ></app-lbl-subtitulo>

            <p-menubar [model]="items"></p-menubar>
          </div>

          <div class="col-12 md:col-12 lg:col-12 p-0">
            <ng-container [ngSwitch]="sCargarElemento">
              <ng-container *ngSwitchCase="'tablas'">
                <app-table></app-table>
              </ng-container>

              <ng-container *ngSwitchCase="'navegador'">
                <app-navegadores></app-navegadores>
              </ng-container>

              <ng-container *ngSwitchCase="'notificador'">
                <app-notificadores></app-notificadores>
              </ng-container>

              <ng-container *ngSwitchCase="'botones'">
                <app-botones></app-botones>
              </ng-container>

              <ng-container *ngSwitchCase="'filtrogen'">
                <app-filtros-genericos></app-filtros-genericos>
              </ng-container>

              <ng-container *ngSwitchCase="'filtros'">
                <app-filtros></app-filtros>
              </ng-container>

              <ng-container *ngSwitchCase="'modal'">
                <app-modales></app-modales>
              </ng-container>

              <ng-container *ngSwitchCase="'otros'">
                <app-otros></app-otros>
              </ng-container>

              <ng-container *ngSwitchCase="'forms'">
                <app-formularios></app-formularios>
              </ng-container>
            </ng-container>
          </div>
        </div>

        <div class="col-12 md:col-12 lg:col-12 gap-2 paginaMHCP-footer">
          <button
            pButton
            pRipple
            type="button"
            icon="pi pi-times"
            label="Botón énfasis rojo"
            class="colorRojoMHCP"
          ></button>
          <button
            pButton
            pRipple
            type="button"
            icon="pi pi-save"
            label="Botón énfasis verde"
            class="p-button-success colorVerdeMHCP"
            [disabled]="true"
          ></button>
        </div>
      </div>
    </div>
  </div>
</div>
