<div class="grid">
    <div class="col-12 md:col-12 lg:col-12">
        <div class="paginaMHCP">
          <div class="col-12 md:col-12 p-0">
            <form class="col-12 p-0" autocomplete="off" [formGroup]="frmProducto">
                <div class="formgrid grid">
                    <div class="field col-6 md:col-6">
                        <label htmlfor="name1" class="frm-titulo"
                          >Producto </label>
                        <div class="col-12 p-0">
                          <p-dropdown 
                          appendTo="body"
                          [options]="listaProducto"
                          [(ngModel)]="selectedProducto"
                          optionLabel="descripcion"
                          [filter]="true"
                          [showClear]="true"
                            placeholder="Selecione producto"
                            formControlName="idProducto"
                          >
                            <ng-template let-proveedor pTemplate="item">
                              <div class="proveedor-item">
                                <div>{{ proveedor.nombre }}</div>
                              </div>
                            </ng-template>
                          </p-dropdown >
                          <small class="p-error" *ngIf="campoNoValido('idProducto')">
                            {{ listaErroresMensajes("idProducto") }}
                          </small>
                        </div>
                    </div>
                    <div class="field col-12 md:col-3">
                        <label htmlfor="Identificador de Factura" class="frm-titulo">Cantidad</label>
                        <input
                        pInputText
                        id="name1"
                        type="text"
                        placeholder="Ingrese cantidad"
                        class="p-inputtext p-component p-element"
                        formControlName="cantidad"
                        />
                        <small class="p-error" *ngIf="campoNoValido('cantidad')">
                          {{ listaErroresMensajes("cantidad") }}
                        </small>
                      </div>
                      <div class="field col-12 md:col-3">
                        <label htmlfor="Identificador de Factura" class="frm-titulo">Valor</label>
                        <input
                        pInputText
                        id="name1"
                        type="text"
                        placeholder="Ingrese valor"
                        class="p-inputtext p-component p-element"
                        formControlName="valor"
                        />
                        <small class="p-error" *ngIf="campoNoValido('valor')">
                          {{ listaErroresMensajes("valor") }}
                        </small>
                      </div>
                </div>
            </form>
          </div>
          <div class="col-12 md:col-12 p-0">
                <br>
              <div class="formgrid grid">
                <div class="col-12 md:col-12 justify-content-right mb-2">
                  <div class="flex flex-column md:flex-column lg:flex-row justify-content-end gap-2">
                    <button
                      pButton
                      pRipple
                      type="button"
                      icon="pi pi-times"
                      label="Cancelar"
                      class="p-button-success colorRojoMHCP"
                      (click)="fnCancelar()">
                    </button>
                    <button
                      [disabled]="frmProducto.invalid"
                      pButton
                      pRipple
                      type="button"
                      label="Aceptar"
                      class="p-button-success colorVerdeMHCP"
                      icon="pi pi-check"
                      (click)="fnAceptar()">
                    </button>
                  </div>
                </div>
              </div>
          </div>
        </div>
    </div>
</div>
  <p-toast></p-toast>